n8n/exports/v4-export.json
{"updatedAt":"2026-03-11T20:48:34.000Z","createdAt":"2026-02-12T12:22:23.819Z","id":"HG4nnngUg63naDHu","name":"V4","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"58871178-7e40-4d67-abbe-a7a024a522ac","responseMode":"responseNode","options":{}},"id":"f9f4cd48-2493-45ba-8eaf-ca5ec4077421","name":"Webhook: Production URL = VAPI Server URL","type":"n8n-nodes-base.webhook","position":[1344,1008],"webhookId":"58871178-7e40-4d67-abbe-a7a024a522ac","typeVersion":2},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"80297dae-adde-4206-a8c3-2b7f77c5b88c","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.name }}","rightValue":"checkAvailability"}]},"renameOutput":true,"outputKey":"checkAvailability"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"23430f94-763-403d-a7d6-eae05ad2b801","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.name }}","rightValue":"bookAppointment"}]},"renameOutput":true,"outputKey":"bookAppointment"}]},"options":{}},"id":"8fbc6498-0655-4eba-ad72-366c9958aa3f","name":"Route by Tool Name","type":"n8n-nodes-base.switch","position":[2016,1008],"typeVersion":3.2},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1ypxUbbPkd4l-96K8vMQgwMHv4ek6Q4p1ScbXOrd15rI","mode":"list","cachedResultName":"Proteros Servisas diskas aplankalas excel","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ypxUbbPkd4l-96K8vMQgwMHv4ek6Q4p1ScbXOrd15rI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":760254922,"mode":"list","cachedResultName":"Call log","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ypxUbbPkd4l-96K8vMQgwMHv4ek6Q4p1ScbXOrd15rI/edit#gid=760254922"},"columns":{"mappingMode":"defineBelow","value":{"Call ID":"={{ $json.body?.message?.call?.id || $execution.id }}","Data/Laikas":"={{ new Date($json.body?.message?.chat?.createdAt || Date.now()).toLocaleString('lt-LT',{timeZone:'Europe/Vilnius',year:'numeric',month:'2-digit',day:'2-digit',hour:'2-digit',minute:'2-digit'}) }}\n","Skambinusio numeris":"={{   $json.body?.message?.customer?.number  || $json.body?.message?.call?.customer?.number  || $json.body?.message?.toolCalls?.[0]?.function?.arguments?.customerPhone  || '' }}","Statusas / Event type":"={{ $json.body?.message?.toolCalls?.[0]?.function?.name ? 'toolcall' : 'call_only' }}\n","ToolCall name":"={{ $json.body?.message?.toolCalls?.[0]?.function?.name || '' }}\n","(optional) ar buvo toolCalls (taip/ne)":"={{ $json.body?.message?.toolCalls?.length ? 'taip' : 'ne' }}\n"},"matchingColumns":[],"schema":[{"id":"Call ID","displayName":"Call ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data/Laikas","displayName":"Data/Laikas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Skambinusio numeris","displayName":"Skambinusio numeris","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Statusas / Event type","displayName":"Statusas / Event type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ToolCall name","displayName":"ToolCall name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"(optional) ar buvo toolCalls (taip/ne)","displayName":"(optional) ar buvo toolCalls (taip/ne)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1568,1008],"id":"ad39af5e-e768-4207-ac52-85c7e559ad90","name":"Call log","credentials":{"googleSheetsOAuth2Api":{"id":"APKOpIYNrXjjc3U7","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1ypxUbbPkd4l-96K8vMQgwMHv4ek6Q4p1ScbXOrd15rI","mode":"list","cachedResultName":"Proteros Servisas diskas aplankalas excel","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ypxUbbPkd4l-96K8vMQgwMHv4ek6Q4p1ScbXOrd15rI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Lapas1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ypxUbbPkd4l-96K8vMQgwMHv4ek6Q4p1ScbXOrd15rI/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Telefonas":"={{ $('Call log').item.json['Skambinusio numeris'] }}","Registracijos statusas":"={{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.arguments.bookingStatus }}","Data / Laikas":"={{ $('Call log').item.json['Data/Laikas'] }}","Call ID":"={{ $('Call log').item.json['Call ID'] }}","Vardas":"={{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.arguments.clientName }}","Detalus aprašymas":"={{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.arguments.problemSummary }}","Registracijos pradžia":"={{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.arguments.startDateTime }}","Registracijos pabaiga":"={{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.arguments.endDateTime }}"},"matchingColumns":[],"schema":[{"id":"Call ID","displayName":"Call ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Data / Laikas","displayName":"Data / Laikas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Registracijos statusas","displayName":"Registracijos statusas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Vardas","displayName":"Vardas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefonas","displayName":"Telefonas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Auto markė","displayName":"Auto markė","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Auto modelis","displayName":"Auto modelis","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Valstybinis numeris","displayName":"Valstybinis numeris","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Paslauga","displayName":"Paslauga","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Detalus aprašymas","displayName":"Detalus aprašymas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Pastabos","displayName":"Pastabos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Registracijos pradžia","displayName":"Registracijos pradžia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Registracijos pabaiga","displayName":"Registracijos pabaiga","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2240,1104],"id":"d1f0af68-6cb4-46da-9bbc-53a2a7eddeed","name":"bookAppointment","credentials":{"googleSheetsOAuth2Api":{"id":"APKOpIYNrXjjc3U7","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"1fec2f61-2072-4d2b-b323-b20dc8be1eee","name":"timeZone","type":"string","value":"Europe/Vilnius"},{"id":"4262429e-b497-4b14-88a0-c1747465cb2c","name":"workdayStartHour","type":"number","value":8},{"id":"8ad05af7-a5ae-4838-bf60-e45b0c2021a7","name":"workdayEndHour","type":"number","value":17},{"id":"d618f077-a077-43ad-9bb5-55eb21445947","name":"meetingDurationMinutes","type":"number","value":30},{"id":"5c52c6bc-b95d-420b-871a-868c15eeccc2","name":"bookingCadenceMinutes","value":15,"type":"number"},{"id":"01473f83-6790-4d2f-ac78-7ecb66e8e3f7","name":"bufferBeforeMinutes","value":0,"type":"number"},{"id":"2a6d2a41-304e-4a04-92a2-545a7ac32702","name":"bufferAfterMinutes","value":0,"type":"number"},{"id":"ed873cb2-f852-446d-85f5-7e4b67445180","name":"minNoticeMinutes","value":0,"type":"number"}]},"options":{}},"id":"7d2edc73-0e0f-4d1f-a0ce-08a83dfb71ae","name":"1. CONFIGURATION","type":"n8n-nodes-base.set","position":[1792,1008],"typeVersion":3.4,"notes":"This node holds all the settings for your appointment setter's availability."},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"mantas.gipiskis@gmail.com","mode":"list","cachedResultName":"mantas.gipiskis@gmail.com"},"returnAll":true,"timeMin":"={{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.arguments.initialSearchDateTime }}","timeMax":"={{ DateTime.fromISO($('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.arguments.initialSearchDateTime).endOf('day').toISO() }}","options":{}},"id":"4b6ff51b-3581-4cc6-8552-2cb41169d484","name":"2. Get Calendar Events","type":"n8n-nodes-base.googleCalendar","position":[2240,912],"retryOnFail":true,"typeVersion":1.3,"alwaysOutputData":true,"credentials":{"googleCalendarOAuth2Api":{"id":"hriZCE0YmnVPrXid","name":"Google Calendar account 4"}},"notes":"1. Select your Google Account from the 'Credential' dropdown.\n\n2. Select the calendar you want to check for availability from the 'Calendar' dropdown list."},{"parameters":{"jsCode":"const potentialSlots = [];\n\nconst config = $('1. CONFIGURATION').item.json;\n\n// FIX 1: saugus paėmimas + aiški klaida vietoj split crash\nconst initialISO =\n  $('Webhook: Production URL = VAPI Server URL').item?.json?.body?.message?.toolCalls?.[0]?.function?.arguments?.initialSearchDateTime;\n\nif (!initialISO || typeof initialISO !== 'string') {\n  return [{\n    json: {\n      error: 'initialSearchDateTime nerastas webhook payload’e (toolCalls[0].function.arguments.initialSearchDateTime)',\n      gotToolCalls: $('Webhook: Production URL = VAPI Server URL').item?.json?.body?.message?.toolCalls ?? null,\n    }\n  }];\n}\n\nconst datePart = initialISO.split('T')[0];\n\n// FIX 2: offset ištraukiam teisingai (Z arba +02:00)\nconst tzMatch = initialISO.match(/([+-]\\d{2}:\\d{2}|Z)$/);\nconst offsetPart = tzMatch ? tzMatch[1] : '+02:00';\n\n// FIX 3: ISO formatas su offset (kad negautum UTC Z poslinkių)\nfunction toISOWithOffset(d, offset) {\n  if (offset === 'Z') return d.toISOString().replace('.000', '');\n  const m = offset.match(/^([+-])(\\d{2}):(\\d{2})$/);\n  if (!m) return d.toISOString();\n\n  const sign = m[1] === '-' ? -1 : 1;\n  const offMin = sign * (Number(m[2]) * 60 + Number(m[3]));\n  const local = new Date(d.getTime() + offMin * 60000);\n\n  const yyyy = local.getUTCFullYear();\n  const MM   = String(local.getUTCMonth() + 1).padStart(2, '0');\n  const dd   = String(local.getUTCDate()).padStart(2, '0');\n  const hh   = String(local.getUTCHours()).padStart(2, '0');\n  const mm   = String(local.getUTCMinutes()).padStart(2, '0');\n  const ss   = String(local.getUTCSeconds()).padStart(2, '0');\n\n  return `${yyyy}-${MM}-${dd}T${hh}:${mm}:${ss}${offset}`;\n}\n\nconst startHourString = String(config.workdayStartHour).padStart(2, '0');\nconst endHourString = String(config.workdayEndHour).padStart(2, '0');\n\nconst workdayStartISO = `${datePart}T${startHourString}:00:00${offsetPart}`;\nconst workdayEndISO   = `${datePart}T${endHourString}:00:00${offsetPart}`;\n\nconst workdayStart = new Date(workdayStartISO);\nconst workdayEnd = new Date(workdayEndISO);\n\nconst requestedStart = new Date(initialISO);\n\nconst cadenceMs = (config.bookingCadenceMinutes ?? 30) * 60000;\nconst minNoticeMs = (config.minNoticeMinutes ?? 30) * 60000;\n\nconst now = new Date();\nconst nowPlusNotice = new Date(now.getTime() + minNoticeMs);\n\n// Startas = max( darbo pradžia, kliento prašomas, dabar+notice )\nlet startBase = new Date(Math.max(workdayStart.getTime(), requestedStart.getTime(), nowPlusNotice.getTime()));\n\n// Suapvalinam į viršų iki žingsnio (cadence)\nstartBase = new Date(Math.ceil(startBase.getTime() / cadenceMs) * cadenceMs);\n\nlet currentSlot = startBase;\n\nwhile (currentSlot.getTime() < workdayEnd.getTime()) {\n  const slotEnd = new Date(currentSlot.getTime() + cadenceMs);\n\n  // FIX 4: neleisti slotui išeiti už darbo laiko\n  if (slotEnd.getTime() > workdayEnd.getTime()) break;\n\n  potentialSlots.push({\n    start: toISOWithOffset(currentSlot, offsetPart),\n    end: toISOWithOffset(slotEnd, offsetPart),\n  });\n\n  currentSlot = slotEnd;\n}\n\nreturn [{\n  json: {\n    ...config,\n    potentialSlots\n  }\n}];\n"},"id":"5024d85a-0bbe-4883-9200-11acc4b40b7a","name":"Calculate Potential Slots","type":"n8n-nodes-base.code","position":[2464,912],"typeVersion":2},{"parameters":{"calendar":{"__rl":true,"value":"mantas.gipiskis@gmail.com","mode":"list","cachedResultName":"mantas.gipiskis@gmail.com"},"start":"={{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.arguments.startDateTime }}","end":"={{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.arguments.endDateTime }}","additionalFields":{"description":"=KLIENTAS\nVardas: {{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.arguments.clientName || '' }}\nTel.: {{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.arguments.customerPhone || $('Webhook: Production URL = VAPI Server URL').item.json.body.message.customer.number || '' }}\n\nDARBAI\nTipas: {{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.arguments.serviceType || '' }}\nSantrauka: {{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.arguments.problemSummary || '' }}\nServisas: {{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.arguments.propertyAddress || 'PROTEROS SERVISAS' }}\n\nAUTO (jei žinoma)\nMarkė/Modelis: {{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.arguments.carMake || '' }}{{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.arguments.carModel ? ' ' + $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.arguments.carModel : '' }}\nValst. nr.: {{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.arguments.carPlate || '' }}\n\nSTATUSAS\nStatusas: {{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.arguments.bookingStatus || 'booked' }}\nPastabos: {{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.arguments.notes || '' }}\n\nPAPILDOMAI\nSkambučio ID: {{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.call.id || '' }}\n","summary":"={{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.arguments.serviceType || '' }} - {{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.arguments.clientName || '' }} - {{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.arguments.customerPhone || $('Webhook: Production URL = VAPI Server URL').item.json.body.message.customer.number || '' }}\n"}},"id":"1c792de8-7b80-4408-8d6a-fdcbf0f098e7","name":"3. Book Appointment in Calendar","type":"n8n-nodes-base.googleCalendar","position":[2464,1104],"retryOnFail":true,"typeVersion":1.3,"credentials":{"googleCalendarOAuth2Api":{"id":"hriZCE0YmnVPrXid","name":"Google Calendar account 4"}},"notes":"1. Select your Google Account from the 'Credential' dropdown.\n\n2. Select the **SAME** calendar you chose in the previous node to book the new appointment."},{"parameters":{"respondWith":"json","responseBody":"={{ { \"results\": [ { \"toolCallId\": $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].id, \"result\": \"The appointment has been successfully booked.\" } ] } }}","options":{}},"id":"6c787c01-1bc4-4db8-8221-ed30491d7dbb","name":"Booking Confirmation","type":"n8n-nodes-base.respondToWebhook","position":[2688,1104],"typeVersion":1.4},{"parameters":{"jsCode":"const config = $('Calculate Potential Slots').item.json;\n\n// FIX: tik viena potentialSlots deklaracija\nconst potentialSlots = Array.isArray(config.potentialSlots) ? config.potentialSlots : [];\n\nconst busyEvents = $('2. Get Calendar Events').all();\n\n// FIX: saugiai paimam toolCallId (kad nelūžtų kai toolCalls nėra)\nconst toolCallId =\n  $('Webhook: Production URL = VAPI Server URL').first()?.json?.body?.message?.toolCalls?.[0]?.id ?? null;\n\n// (nebūtina, bet geriau turėti aiškų fail'ą)\nif (!toolCallId) {\n  return [{\n    json: {\n      error: 'toolCallId nerastas webhook payload’e',\n      gotToolCalls: $('Webhook: Production URL = VAPI Server URL').first()?.json?.body?.message?.toolCalls ?? null,\n    }\n  }];\n}\n\nconst bufferBeforeMs = (Number(config.bufferBeforeMinutes ?? 0)) * 60000;\nconst bufferAfterMs  = (Number(config.bufferAfterMinutes ?? 0)) * 60000;\n\nconst busyIntervals = busyEvents\n  .filter(event => event.json?.start?.dateTime && event.json?.end?.dateTime)\n  .map(event => {\n    const start = new Date(event.json.start.dateTime);\n    const end = new Date(event.json.end.dateTime);\n    return {\n      start: new Date(start.getTime() - bufferBeforeMs),\n      end: new Date(end.getTime() + bufferAfterMs),\n    };\n  });\n\n// FIX: earliest skaičiuojam vieną kartą (tas pats rezultatas)\nconst minNoticeMs = (Number(config.minNoticeMinutes ?? 30)) * 60000;\nconst cadenceMs   = (Number(config.bookingCadenceMinutes ?? 30)) * 60000;\n\nconst now = new Date();\nlet earliest = new Date(now.getTime() + minNoticeMs);\nearliest = new Date(Math.ceil(earliest.getTime() / cadenceMs) * cadenceMs);\n\nconst durationMs = (Number(config.meetingDurationMinutes ?? 30)) * 60000;\n\nconst availableSlots = potentialSlots.filter(slot => {\n  if (!slot?.start) return false;\n\n  const meetingStart = new Date(slot.start);\n  const meetingEnd = new Date(meetingStart.getTime() + durationMs);\n\n  if (meetingStart < earliest) return false;\n\n  const isOverlapping = busyIntervals.some(busy =>\n    (meetingStart < busy.end) && (meetingEnd > busy.start)\n  );\n\n  return !isOverlapping;\n});\n\nconst formattedSlots = availableSlots.map(slot => {\n  const utcDate = new Date(slot.start);\n\n  const humanReadable = utcDate.toLocaleString('en-US', {\n    timeZone: config.timeZone,\n    weekday: 'long', month: 'long', day: 'numeric',\n    hour: 'numeric', minute: '2-digit', hour12: true,\n  });\n\n  const localFormatter = new Intl.DateTimeFormat('en-US', {\n    year: 'numeric', month: '2-digit', day: '2-digit',\n    hour: '2-digit', minute: '2-digit', second: '2-digit',\n    hourCycle: 'h23',\n    timeZone: config.timeZone\n  });\n\n  const localParts = localFormatter.formatToParts(utcDate);\n  let localYear, localMonth, localDay, localHour, localMinute, localSecond;\n\n  for (const part of localParts) {\n    switch (part.type) {\n      case 'year': localYear = part.value; break;\n      case 'month': localMonth = part.value; break;\n      case 'day': localDay = part.value; break;\n      case 'hour': localHour = part.value; break;\n      case 'minute': localMinute = part.value; break;\n      case 'second': localSecond = part.value; break;\n    }\n  }\n\n  const fakeUtcDateFromLocal = new Date(\n    `${localYear}-${localMonth}-${localDay}T${localHour}:${localMinute}:${localSecond}.000Z`\n  );\n\n  const offsetMillis = fakeUtcDateFromLocal.getTime() - utcDate.getTime();\n  const offsetMinutes = offsetMillis / 60000;\n\n  const absOffsetMinutes = Math.abs(offsetMinutes);\n  const offsetHours = Math.floor(absOffsetMinutes / 60);\n  const remainingOffsetMinutes = absOffsetMinutes % 60;\n\n  const offsetSign = offsetMinutes < 0 ? '-' : '+';\n  const isoOffset = `${offsetSign}${String(offsetHours).padStart(2, '0')}:${String(remainingOffsetMinutes).padStart(2, '0')}`;\n\n  const isoDateTime = `${localYear}-${localMonth}-${localDay}T${localHour}:${localMinute}:${localSecond}${isoOffset}`;\n\n  return { humanReadable, isoDateTime };\n});\n\nreturn [{\n  json: {\n    toolCallId,\n    availableSlots: formattedSlots\n  }\n}];\n"},"id":"3813ae8d-dff0-47fd-a634-fa6e732ef517","name":"Filter for Available Slots","type":"n8n-nodes-base.code","position":[2688,912],"typeVersion":2},{"parameters":{"respondWith":"json","responseBody":"={{\n  {\n    \"results\": [\n      {\n        \"toolCallId\": $json.toolCallId,\n        \"result\": JSON.stringify({ \"availableSlots\": $json.availableSlots })\n      }\n    ]\n  }\n}}","options":{}},"id":"efa779b7-b3b7-4bde-80f7-29dfe7a9de55","name":"Respond with Available Times","type":"n8n-nodes-base.respondToWebhook","position":[2912,912],"typeVersion":1.4}],"connections":{"Route by Tool Name":{"main":[[{"node":"2. Get Calendar Events","type":"main","index":0}],[{"node":"bookAppointment","type":"main","index":0}]]},"Webhook: Production URL = VAPI Server URL":{"main":[[{"node":"Call log","type":"main","index":0}]]},"bookAppointment":{"main":[[{"node":"3. Book Appointment in Calendar","type":"main","index":0}]]},"Call log":{"main":[[{"node":"1. CONFIGURATION","type":"main","index":0}]]},"1. CONFIGURATION":{"main":[[{"node":"Route by Tool Name","type":"main","index":0}]]},"2. Get Calendar Events":{"main":[[{"node":"Calculate Potential Slots","type":"main","index":0}]]},"Calculate Potential Slots":{"main":[[{"node":"Filter for Available Slots","type":"main","index":0}]]},"3. Book Appointment in Calendar":{"main":[[{"node":"Booking Confirmation","type":"main","index":0}]]},"Filter for Available Slots":{"main":[[{"node":"Respond with Available Times","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateId":"8972","templateCredsSetupCompleted":true},"pinData":{},"versionId":"1353bbe0-53df-4b19-a4ac-95754223567e","activeVersionId":"1353bbe0-53df-4b19-a4ac-95754223567e","versionCounter":277,"triggerCount":1,"shared":[{"updatedAt":"2026-03-11T20:48:34.003Z","createdAt":"2026-03-11T20:48:34.003Z","role":"workflow:owner","workflowId":"HG4nnngUg63naDHu","projectId":"H5MEaTUE4KqhWmt3","project":{"updatedAt":"2026-03-11T07:14:12.000Z","createdAt":"2026-03-10T21:42:40.389Z","id":"H5MEaTUE4KqhWmt3","name":"AutoShop Production","type":"team","icon":{"type":"icon","value":"layers"},"description":"Production workflows for AutoShop SMS AI platform.\n\nHandles:\n- inbound SMS\n- AI conversation handling\n- booking automation\n- Google Calendar sync\n- conversation closing logic\n\nCore stack:\nn8n + AI agent + SMS provider + Google Calendar\n\nUsed by AutoShop SaaS production environment.","creatorId":"5f4340de-ef7f-4241-ba4e-1b4ad4bdbfe9"}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-19T11:13:21.000Z","createdAt":"2026-02-19T11:13:03.219Z","versionId":"1353bbe0-53df-4b19-a4ac-95754223567e","workflowId":"HG4nnngUg63naDHu","nodes":[{"parameters":{"httpMethod":"POST","path":"58871178-7e40-4d67-abbe-a7a024a522ac","responseMode":"responseNode","options":{}},"id":"f9f4cd48-2493-45ba-8eaf-ca5ec4077421","name":"Webhook: Production URL = VAPI Server URL","type":"n8n-nodes-base.webhook","position":[1344,1008],"webhookId":"58871178-7e40-4d67-abbe-a7a024a522ac","typeVersion":2},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"80297dae-adde-4206-a8c3-2b7f77c5b88c","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.name }}","rightValue":"checkAvailability"}]},"renameOutput":true,"outputKey":"checkAvailability"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"23430f94-763-403d-a7d6-eae05ad2b801","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.name }}","rightValue":"bookAppointment"}]},"renameOutput":true,"outputKey":"bookAppointment"}]},"options":{}},"id":"8fbc6498-0655-4eba-ad72-366c9958aa3f","name":"Route by Tool Name","type":"n8n-nodes-base.switch","position":[2016,1008],"typeVersion":3.2},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1ypxUbbPkd4l-96K8vMQgwMHv4ek6Q4p1ScbXOrd15rI","mode":"list","cachedResultName":"Proteros Servisas diskas aplankalas excel","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ypxUbbPkd4l-96K8vMQgwMHv4ek6Q4p1ScbXOrd15rI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":760254922,"mode":"list","cachedResultName":"Call log","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ypxUbbPkd4l-96K8vMQgwMHv4ek6Q4p1ScbXOrd15rI/edit#gid=760254922"},"columns":{"mappingMode":"defineBelow","value":{"Call ID":"={{ $json.body?.message?.call?.id || $execution.id }}","Data/Laikas":"={{ new Date($json.body?.message?.chat?.createdAt || Date.now()).toLocaleString('lt-LT',{timeZone:'Europe/Vilnius',year:'numeric',month:'2-digit',day:'2-digit',hour:'2-digit',minute:'2-digit'}) }}\n","Skambinusio numeris":"={{   $json.body?.message?.customer?.number  || $json.body?.message?.call?.customer?.number  || $json.body?.message?.toolCalls?.[0]?.function?.arguments?.customerPhone  || '' }}","Statusas / Event type":"={{ $json.body?.message?.toolCalls?.[0]?.function?.name ? 'toolcall' : 'call_only' }}\n","ToolCall name":"={{ $json.body?.message?.toolCalls?.[0]?.function?.name || '' }}\n","(optional) ar buvo toolCalls (taip/ne)":"={{ $json.body?.message?.toolCalls?.length ? 'taip' : 'ne' }}\n"},"matchingColumns":[],"schema":[{"id":"Call ID","displayName":"Call ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data/Laikas","displayName":"Data/Laikas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Skambinusio numeris","displayName":"Skambinusio numeris","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Statusas / Event type","displayName":"Statusas / Event type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ToolCall name","displayName":"ToolCall name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"(optional) ar buvo toolCalls (taip/ne)","displayName":"(optional) ar buvo toolCalls (taip/ne)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1568,1008],"id":"ad39af5e-e768-4207-ac52-85c7e559ad90","name":"Call log","credentials":{"googleSheetsOAuth2Api":{"id":"APKOpIYNrXjjc3U7","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1ypxUbbPkd4l-96K8vMQgwMHv4ek6Q4p1ScbXOrd15rI","mode":"list","cachedResultName":"Proteros Servisas diskas aplankalas excel","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ypxUbbPkd4l-96K8vMQgwMHv4ek6Q4p1ScbXOrd15rI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Lapas1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ypxUbbPkd4l-96K8vMQgwMHv4ek6Q4p1ScbXOrd15rI/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Telefonas":"={{ $('Call log').item.json['Skambinusio numeris'] }}","Registracijos statusas":"={{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.arguments.bookingStatus }}","Data / Laikas":"={{ $('Call log').item.json['Data/Laikas'] }}","Call ID":"={{ $('Call log').item.json['Call ID'] }}","Vardas":"={{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.arguments.clientName }}","Detalus aprašymas":"={{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.arguments.problemSummary }}","Registracijos pradžia":"={{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.arguments.startDateTime }}","Registracijos pabaiga":"={{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.arguments.endDateTime }}"},"matchingColumns":[],"schema":[{"id":"Call ID","displayName":"Call ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Data / Laikas","displayName":"Data / Laikas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Registracijos statusas","displayName":"Registracijos statusas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Vardas","displayName":"Vardas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefonas","displayName":"Telefonas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Auto markė","displayName":"Auto markė","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Auto modelis","displayName":"Auto modelis","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Valstybinis numeris","displayName":"Valstybinis numeris","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Paslauga","displayName":"Paslauga","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Detalus aprašymas","displayName":"Detalus aprašymas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Pastabos","displayName":"Pastabos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Registracijos pradžia","displayName":"Registracijos pradžia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Registracijos pabaiga","displayName":"Registracijos pabaiga","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2240,1104],"id":"d1f0af68-6cb4-46da-9bbc-53a2a7eddeed","name":"bookAppointment","credentials":{"googleSheetsOAuth2Api":{"id":"APKOpIYNrXjjc3U7","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"1fec2f61-2072-4d2b-b323-b20dc8be1eee","name":"timeZone","type":"string","value":"Europe/Vilnius"},{"id":"4262429e-b497-4b14-88a0-c1747465cb2c","name":"workdayStartHour","type":"number","value":8},{"id":"8ad05af7-a5ae-4838-bf60-e45b0c2021a7","name":"workdayEndHour","type":"number","value":17},{"id":"d618f077-a077-43ad-9bb5-55eb21445947","name":"meetingDurationMinutes","type":"number","value":30},{"id":"5c52c6bc-b95d-420b-871a-868c15eeccc2","name":"bookingCadenceMinutes","value":15,"type":"number"},{"id":"01473f83-6790-4d2f-ac78-7ecb66e8e3f7","name":"bufferBeforeMinutes","value":0,"type":"number"},{"id":"2a6d2a41-304e-4a04-92a2-545a7ac32702","name":"bufferAfterMinutes","value":0,"type":"number"},{"id":"ed873cb2-f852-446d-85f5-7e4b67445180","name":"minNoticeMinutes","value":0,"type":"number"}]},"options":{}},"id":"7d2edc73-0e0f-4d1f-a0ce-08a83dfb71ae","name":"1. CONFIGURATION","type":"n8n-nodes-base.set","position":[1792,1008],"typeVersion":3.4,"notes":"This node holds all the settings for your appointment setter's availability."},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"mantas.gipiskis@gmail.com","mode":"list","cachedResultName":"mantas.gipiskis@gmail.com"},"returnAll":true,"timeMin":"={{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.arguments.initialSearchDateTime }}","timeMax":"={{ DateTime.fromISO($('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.arguments.initialSearchDateTime).endOf('day').toISO() }}","options":{}},"id":"4b6ff51b-3581-4cc6-8552-2cb41169d484","name":"2. Get Calendar Events","type":"n8n-nodes-base.googleCalendar","position":[2240,912],"retryOnFail":true,"typeVersion":1.3,"alwaysOutputData":true,"credentials":{"googleCalendarOAuth2Api":{"id":"hriZCE0YmnVPrXid","name":"Google Calendar account 4"}},"notes":"1. Select your Google Account from the 'Credential' dropdown.\n\n2. Select the calendar you want to check for availability from the 'Calendar' dropdown list."},{"parameters":{"jsCode":"const potentialSlots = [];\n\nconst config = $('1. CONFIGURATION').item.json;\n\n// FIX 1: saugus paėmimas + aiški klaida vietoj split crash\nconst initialISO =\n  $('Webhook: Production URL = VAPI Server URL').item?.json?.body?.message?.toolCalls?.[0]?.function?.arguments?.initialSearchDateTime;\n\nif (!initialISO || typeof initialISO !== 'string') {\n  return [{\n    json: {\n      error: 'initialSearchDateTime nerastas webhook payload’e (toolCalls[0].function.arguments.initialSearchDateTime)',\n      gotToolCalls: $('Webhook: Production URL = VAPI Server URL').item?.json?.body?.message?.toolCalls ?? null,\n    }\n  }];\n}\n\nconst datePart = initialISO.split('T')[0];\n\n// FIX 2: offset ištraukiam teisingai (Z arba +02:00)\nconst tzMatch = initialISO.match(/([+-]\\d{2}:\\d{2}|Z)$/);\nconst offsetPart = tzMatch ? tzMatch[1] : '+02:00';\n\n// FIX 3: ISO formatas su offset (kad negautum UTC Z poslinkių)\nfunction toISOWithOffset(d, offset) {\n  if (offset === 'Z') return d.toISOString().replace('.000', '');\n  const m = offset.match(/^([+-])(\\d{2}):(\\d{2})$/);\n  if (!m) return d.toISOString();\n\n  const sign = m[1] === '-' ? -1 : 1;\n  const offMin = sign * (Number(m[2]) * 60 + Number(m[3]));\n  const local = new Date(d.getTime() + offMin * 60000);\n\n  const yyyy = local.getUTCFullYear();\n  const MM   = String(local.getUTCMonth() + 1).padStart(2, '0');\n  const dd   = String(local.getUTCDate()).padStart(2, '0');\n  const hh   = String(local.getUTCHours()).padStart(2, '0');\n  const mm   = String(local.getUTCMinutes()).padStart(2, '0');\n  const ss   = String(local.getUTCSeconds()).padStart(2, '0');\n\n  return `${yyyy}-${MM}-${dd}T${hh}:${mm}:${ss}${offset}`;\n}\n\nconst startHourString = String(config.workdayStartHour).padStart(2, '0');\nconst endHourString = String(config.workdayEndHour).padStart(2, '0');\n\nconst workdayStartISO = `${datePart}T${startHourString}:00:00${offsetPart}`;\nconst workdayEndISO   = `${datePart}T${endHourString}:00:00${offsetPart}`;\n\nconst workdayStart = new Date(workdayStartISO);\nconst workdayEnd = new Date(workdayEndISO);\n\nconst requestedStart = new Date(initialISO);\n\nconst cadenceMs = (config.bookingCadenceMinutes ?? 30) * 60000;\nconst minNoticeMs = (config.minNoticeMinutes ?? 30) * 60000;\n\nconst now = new Date();\nconst nowPlusNotice = new Date(now.getTime() + minNoticeMs);\n\n// Startas = max( darbo pradžia, kliento prašomas, dabar+notice )\nlet startBase = new Date(Math.max(workdayStart.getTime(), requestedStart.getTime(), nowPlusNotice.getTime()));\n\n// Suapvalinam į viršų iki žingsnio (cadence)\nstartBase = new Date(Math.ceil(startBase.getTime() / cadenceMs) * cadenceMs);\n\nlet currentSlot = startBase;\n\nwhile (currentSlot.getTime() < workdayEnd.getTime()) {\n  const slotEnd = new Date(currentSlot.getTime() + cadenceMs);\n\n  // FIX 4: neleisti slotui išeiti už darbo laiko\n  if (slotEnd.getTime() > workdayEnd.getTime()) break;\n\n  potentialSlots.push({\n    start: toISOWithOffset(currentSlot, offsetPart),\n    end: toISOWithOffset(slotEnd, offsetPart),\n  });\n\n  currentSlot = slotEnd;\n}\n\nreturn [{\n  json: {\n    ...config,\n    potentialSlots\n  }\n}];\n"},"id":"5024d85a-0bbe-4883-9200-11acc4b40b7a","name":"Calculate Potential Slots","type":"n8n-nodes-base.code","position":[2464,912],"typeVersion":2},{"parameters":{"calendar":{"__rl":true,"value":"mantas.gipiskis@gmail.com","mode":"list","cachedResultName":"mantas.gipiskis@gmail.com"},"start":"={{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.arguments.startDateTime }}","end":"={{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.arguments.endDateTime }}","additionalFields":{"description":"=KLIENTAS\nVardas: {{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.arguments.clientName || '' }}\nTel.: {{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.arguments.customerPhone || $('Webhook: Production URL = VAPI Server URL').item.json.body.message.customer.number || '' }}\n\nDARBAI\nTipas: {{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.arguments.serviceType || '' }}\nSantrauka: {{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.arguments.problemSummary || '' }}\nServisas: {{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.arguments.propertyAddress || 'PROTEROS SERVISAS' }}\n\nAUTO (jei žinoma)\nMarkė/Modelis: {{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.arguments.carMake || '' }}{{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.arguments.carModel ? ' ' + $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.arguments.carModel : '' }}\nValst. nr.: {{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.arguments.carPlate || '' }}\n\nSTATUSAS\nStatusas: {{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.arguments.bookingStatus || 'booked' }}\nPastabos: {{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.arguments.notes || '' }}\n\nPAPILDOMAI\nSkambučio ID: {{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.call.id || '' }}\n","summary":"={{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.arguments.serviceType || '' }} - {{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.arguments.clientName || '' }} - {{ $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].function.arguments.customerPhone || $('Webhook: Production URL = VAPI Server URL').item.json.body.message.customer.number || '' }}\n"}},"id":"1c792de8-7b80-4408-8d6a-fdcbf0f098e7","name":"3. Book Appointment in Calendar","type":"n8n-nodes-base.googleCalendar","position":[2464,1104],"retryOnFail":true,"typeVersion":1.3,"credentials":{"googleCalendarOAuth2Api":{"id":"hriZCE0YmnVPrXid","name":"Google Calendar account 4"}},"notes":"1. Select your Google Account from the 'Credential' dropdown.\n\n2. Select the **SAME** calendar you chose in the previous node to book the new appointment."},{"parameters":{"respondWith":"json","responseBody":"={{ { \"results\": [ { \"toolCallId\": $('Webhook: Production URL = VAPI Server URL').item.json.body.message.toolCalls[0].id, \"result\": \"The appointment has been successfully booked.\" } ] } }}","options":{}},"id":"6c787c01-1bc4-4db8-8221-ed30491d7dbb","name":"Booking Confirmation","type":"n8n-nodes-base.respondToWebhook","position":[2688,1104],"typeVersion":1.4},{"parameters":{"jsCode":"const config = $('Calculate Potential Slots').item.json;\n\n// FIX: tik viena potentialSlots deklaracija\nconst potentialSlots = Array.isArray(config.potentialSlots) ? config.potentialSlots : [];\n\nconst busyEvents = $('2. Get Calendar Events').all();\n\n// FIX: saugiai paimam toolCallId (kad nelūžtų kai toolCalls nėra)\nconst toolCallId =\n  $('Webhook: Production URL = VAPI Server URL').first()?.json?.body?.message?.toolCalls?.[0]?.id ?? null;\n\n// (nebūtina, bet geriau turėti aiškų fail'ą)\nif (!toolCallId) {\n  return [{\n    json: {\n      error: 'toolCallId nerastas webhook payload’e',\n      gotToolCalls: $('Webhook: Production URL = VAPI Server URL').first()?.json?.body?.message?.toolCalls ?? null,\n    }\n  }];\n}\n\nconst bufferBeforeMs = (Number(config.bufferBeforeMinutes ?? 0)) * 60000;\nconst bufferAfterMs  = (Number(config.bufferAfterMinutes ?? 0)) * 60000;\n\nconst busyIntervals = busyEvents\n  .filter(event => event.json?.start?.dateTime && event.json?.end?.dateTime)\n  .map(event => {\n    const start = new Date(event.json.start.dateTime);\n    const end = new Date(event.json.end.dateTime);\n    return {\n      start: new Date(start.getTime() - bufferBeforeMs),\n      end: new Date(end.getTime() + bufferAfterMs),\n    };\n  });\n\n// FIX: earliest skaičiuojam vieną kartą (tas pats rezultatas)\nconst minNoticeMs = (Number(config.minNoticeMinutes ?? 30)) * 60000;\nconst cadenceMs   = (Number(config.bookingCadenceMinutes ?? 30)) * 60000;\n\nconst now = new Date();\nlet earliest = new Date(now.getTime() + minNoticeMs);\nearliest = new Date(Math.ceil(earliest.getTime() / cadenceMs) * cadenceMs);\n\nconst durationMs = (Number(config.meetingDurationMinutes ?? 30)) * 60000;\n\nconst availableSlots = potentialSlots.filter(slot => {\n  if (!slot?.start) return false;\n\n  const meetingStart = new Date(slot.start);\n  const meetingEnd = new Date(meetingStart.getTime() + durationMs);\n\n  if (meetingStart < earliest) return false;\n\n  const isOverlapping = busyIntervals.some(busy =>\n    (meetingStart < busy.end) && (meetingEnd > busy.start)\n  );\n\n  return !isOverlapping;\n});\n\nconst formattedSlots = availableSlots.map(slot => {\n  const utcDate = new Date(slot.start);\n\n  const humanReadable = utcDate.toLocaleString('en-US', {\n    timeZone: config.timeZone,\n    weekday: 'long', month: 'long', day: 'numeric',\n    hour: 'numeric', minute: '2-digit', hour12: true,\n  });\n\n  const localFormatter = new Intl.DateTimeFormat('en-US', {\n    year: 'numeric', month: '2-digit', day: '2-digit',\n    hour: '2-digit', minute: '2-digit', second: '2-digit',\n    hourCycle: 'h23',\n    timeZone: config.timeZone\n  });\n\n  const localParts = localFormatter.formatToParts(utcDate);\n  let localYear, localMonth, localDay, localHour, localMinute, localSecond;\n\n  for (const part of localParts) {\n    switch (part.type) {\n      case 'year': localYear = part.value; break;\n      case 'month': localMonth = part.value; break;\n      case 'day': localDay = part.value; break;\n      case 'hour': localHour = part.value; break;\n      case 'minute': localMinute = part.value; break;\n      case 'second': localSecond = part.value; break;\n    }\n  }\n\n  const fakeUtcDateFromLocal = new Date(\n    `${localYear}-${localMonth}-${localDay}T${localHour}:${localMinute}:${localSecond}.000Z`\n  );\n\n  const offsetMillis = fakeUtcDateFromLocal.getTime() - utcDate.getTime();\n  const offsetMinutes = offsetMillis / 60000;\n\n  const absOffsetMinutes = Math.abs(offsetMinutes);\n  const offsetHours = Math.floor(absOffsetMinutes / 60);\n  const remainingOffsetMinutes = absOffsetMinutes % 60;\n\n  const offsetSign = offsetMinutes < 0 ? '-' : '+';\n  const isoOffset = `${offsetSign}${String(offsetHours).padStart(2, '0')}:${String(remainingOffsetMinutes).padStart(2, '0')}`;\n\n  const isoDateTime = `${localYear}-${localMonth}-${localDay}T${localHour}:${localMinute}:${localSecond}${isoOffset}`;\n\n  return { humanReadable, isoDateTime };\n});\n\nreturn [{\n  json: {\n    toolCallId,\n    availableSlots: formattedSlots\n  }\n}];\n"},"id":"3813ae8d-dff0-47fd-a634-fa6e732ef517","name":"Filter for Available Slots","type":"n8n-nodes-base.code","position":[2688,912],"typeVersion":2},{"parameters":{"respondWith":"json","responseBody":"={{\n  {\n    \"results\": [\n      {\n        \"toolCallId\": $json.toolCallId,\n        \"result\": JSON.stringify({ \"availableSlots\": $json.availableSlots })\n      }\n    ]\n  }\n}}","options":{}},"id":"efa779b7-b3b7-4bde-80f7-29dfe7a9de55","name":"Respond with Available Times","type":"n8n-nodes-base.respondToWebhook","position":[2912,912],"typeVersion":1.4}],"connections":{"Route by Tool Name":{"main":[[{"node":"2. Get Calendar Events","type":"main","index":0}],[{"node":"bookAppointment","type":"main","index":0}]]},"Webhook: Production URL = VAPI Server URL":{"main":[[{"node":"Call log","type":"main","index":0}]]},"bookAppointment":{"main":[[{"node":"3. Book Appointment in Calendar","type":"main","index":0}]]},"Call log":{"main":[[{"node":"1. CONFIGURATION","type":"main","index":0}]]},"1. CONFIGURATION":{"main":[[{"node":"Route by Tool Name","type":"main","index":0}]]},"2. Get Calendar Events":{"main":[[{"node":"Calculate Potential Slots","type":"main","index":0}]]},"Calculate Potential Slots":{"main":[[{"node":"Filter for Available Slots","type":"main","index":0}]]},"3. Book Appointment in Calendar":{"main":[[{"node":"Booking Confirmation","type":"main","index":0}]]},"Filter for Available Slots":{"main":[[{"node":"Respond with Available Times","type":"main","index":0}]]}},"authors":"Mantas Gipiškis","name":"Version 1353bbe0","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-02-19T11:13:21.564Z","id":93,"workflowId":"HG4nnngUg63naDHu","versionId":"1353bbe0-53df-4b19-a4ac-95754223567e","event":"activated","userId":"5f4340de-ef7f-4241-ba4e-1b4ad4bdbfe9"}]}}