n8n/workflows/US_AutoShop/ai-booking-worker.json
{
  "id": "OfR92OEfwYdxxOb3",
  "name": "US AutoShop: AI Booking Worker",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-worker",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: AI Worker Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ],
      "webhookId": "ai-worker-wf002"
    },
    {
      "parameters": {
        "jsCode": "// Build OpenAI messages from conversation history\nconst data = $('Webhook: AI Worker Trigger').first().json.body;\nconst systemPrompt = data.systemPrompt || 'You are an auto shop scheduling assistant.';\nconst history = Array.isArray(data.history) ? data.history : [];\nconst newMessage = String(data.newMessage || '').substring(0, 500);\nconst messages = [{ role: 'system', content: systemPrompt }];\n// Filter out history messages with null/empty body to avoid OpenAI validation errors\nfor (const msg of history.slice(-8)) {\n  const content = msg.body || msg.content || null;\n  if (content && typeof content === 'string' && content.trim()) {\n    messages.push({ role: msg.direction === 'inbound' ? 'user' : 'assistant', content: content.trim() });\n  }\n}\nmessages.push({ role: 'user', content: newMessage });\nreturn [{ json: {\n  tenantId: data.tenantId,\n  conversationId: data.conversationId,\n  customerPhone: data.customerPhone,\n  ourPhone: data.ourPhone,\n  messages,\n  rawMessage: newMessage\n} }];"
      },
      "id": "build-openai-messages",
      "name": "Build OpenAI Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: \"gpt-4o-mini\", messages: $json.messages, max_tokens: 800, temperature: 0.3 }) }}",
        "options": {}
      },
      "id": "openai-chat",
      "name": "OpenAI: Chat Completion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        750,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract AI response and context for the booking intent API call\nconst aiResponse = $('OpenAI: Chat Completion').first().json.choices?.[0]?.message?.content || '';\nconst context = $('Build OpenAI Messages').first().json;\nreturn [{ json: {\n  aiResponse,\n  customerMessage: context.rawMessage || '',\n  tenantId: context.tenantId,\n  conversationId: context.conversationId,\n  customerPhone: context.customerPhone,\n  ourPhone: context.ourPhone,\n  tokensUsed: $('OpenAI: Chat Completion').first().json.usage?.total_tokens ?? 0\n} }];"
      },
      "id": "extract-ai-response",
      "name": "Extract AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        950,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:3000/internal/booking-intent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-internal-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ aiResponse: $json.aiResponse, customerMessage: $json.customerMessage }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "api-booking-intent",
      "name": "API: Booking Intent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1150,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Merge booking intent API result with conversation context.\n// Output shape matches the old inline detection so downstream nodes work unchanged.\nconst api = $('API: Booking Intent').first().json;\nconst context = $('Extract AI Response').first().json;\nreturn [{ json: {\n  tenantId: context.tenantId,\n  conversationId: context.conversationId,\n  customerPhone: context.customerPhone,\n  ourPhone: context.ourPhone,\n  aiResponse: context.aiResponse,\n  isBooked: api.isBooked,\n  confidence: api.confidence || 'none',\n  userWantsClose: api.userWantsClose,\n  scheduledAt: api.scheduledAt,\n  scheduledAtExtracted: api.scheduledAtExtracted,\n  serviceType: api.serviceType,\n  customerName: api.customerName || null,\n  matchedPatterns: api.matchedPatterns || [],\n  tokensUsed: context.tokensUsed\n} }];"
      },
      "id": "detect-booking-intent",
      "name": "Detect Booking Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1350,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SET LOCAL app.current_tenant_id = '{{ $json.tenantId }}';\nINSERT INTO messages (tenant_id, conversation_id, direction, body, tokens_used, model_version)\nVALUES ('{{ $json.tenantId }}'::uuid,'{{ $json.conversationId }}'::uuid,'outbound','{{ $json.aiResponse.replace(/'/g, \"''\") }}',{{ $json.tokensUsed }},'gpt-4o-mini');\nSELECT touch_conversation('{{ $json.conversationId }}'::uuid, '{{ $json.tenantId }}'::uuid);",
        "options": {}
      },
      "id": "db-save-response",
      "name": "DB: Save AI Response",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1550,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-creds",
          "name": "AutoShop Postgres"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.twilio.com/2010-04-01/Accounts/' + $env.TWILIO_ACCOUNT_SID + '/Messages.json' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Basic ' + Buffer.from($env.TWILIO_ACCOUNT_SID + ':' + $env.TWILIO_AUTH_TOKEN).toString('base64') }}"
            },
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ 'MessagingServiceSid=' + $env.TWILIO_MESSAGING_SERVICE_SID + '&To=' + encodeURIComponent($('Detect Booking Intent').first().json.customerPhone) + '&Body=' + encodeURIComponent($('Detect Booking Intent').first().json.aiResponse) }}",
        "options": {}
      },
      "id": "send-sms",
      "name": "Twilio: Send SMS Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1800,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Check SMS delivery result — log failures for visibility\nconst smsResult = $('Twilio: Send SMS Reply').first().json;\nconst sid = smsResult?.sid || null;\nconst errorCode = smsResult?.code || smsResult?.error_code || null;\nconst errorMessage = smsResult?.message || smsResult?.error_message || null;\nconst httpStatus = smsResult?.status;\n\nif (errorCode || errorMessage || !sid) {\n  console.error('[WF-002] SMS DELIVERY FAILED', JSON.stringify({\n    customerPhone: $('Detect Booking Intent').first().json.customerPhone,\n    tenantId: $('Detect Booking Intent').first().json.tenantId,\n    conversationId: $('Detect Booking Intent').first().json.conversationId,\n    errorCode, errorMessage, httpStatus\n  }));\n}\n\nreturn [$input.first()];"
      },
      "id": "check-sms-delivery",
      "name": "Check SMS Delivery",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1925,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $('Detect Booking Intent').first().json.isBooked }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ]
        }
      },
      "id": "check-if-booked",
      "name": "Booking Confirmed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2100,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:3000/internal/appointments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-internal-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tenantId: $('Detect Booking Intent').first().json.tenantId, conversationId: $('Detect Booking Intent').first().json.conversationId, customerPhone: $('Detect Booking Intent').first().json.customerPhone, customerName: $('Detect Booking Intent').first().json.customerName, serviceType: $('Detect Booking Intent').first().json.serviceType, scheduledAt: $('Detect Booking Intent').first().json.scheduledAt }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "api-create-appointment",
      "name": "API: Create Appointment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2350,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n:5678/webhook/calendar-sync",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ appointmentId: $json.appointment.id, tenantId: $json.appointment.tenantId, conversationId: $json.appointment.conversationId, customerPhone: $json.appointment.customerPhone, customerName: $json.appointment.customerName, serviceType: $json.appointment.serviceType, scheduledAt: $json.appointment.scheduledAt }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "call-wf004",
      "name": "Call WF-004: Calendar Sync",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2600,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n:5678/webhook/close-conversation",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "conversationId",
              "value": "={{ $('Detect Booking Intent').first().json.conversationId }}"
            },
            {
              "name": "tenantId",
              "value": "={{ $('Detect Booking Intent').first().json.tenantId }}"
            },
            {
              "name": "status",
              "value": "booked"
            },
            {
              "name": "closeReason",
              "value": "booking_completed"
            }
          ]
        }
      },
      "id": "trigger-close-booked",
      "name": "Trigger: Close (Booked)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2850,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $('Detect Booking Intent').first().json.userWantsClose }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ]
        }
      },
      "id": "check-user-close",
      "name": "User Wants to Close?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2350,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n:5678/webhook/close-conversation",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "conversationId",
              "value": "={{ $('Detect Booking Intent').first().json.conversationId }}"
            },
            {
              "name": "tenantId",
              "value": "={{ $('Detect Booking Intent').first().json.tenantId }}"
            },
            {
              "name": "status",
              "value": "closed"
            },
            {
              "name": "closeReason",
              "value": "user_closed"
            }
          ]
        }
      },
      "id": "trigger-close-user",
      "name": "Trigger: Close (User)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2600,
        400
      ]
    }
  ],
  "connections": {
    "Webhook: AI Worker Trigger": {
      "main": [
        [
          {
            "node": "Build OpenAI Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build OpenAI Messages": {
      "main": [
        [
          {
            "node": "OpenAI: Chat Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: Chat Completion": {
      "main": [
        [
          {
            "node": "Extract AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract AI Response": {
      "main": [
        [
          {
            "node": "API: Booking Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Booking Intent": {
      "main": [
        [
          {
            "node": "Detect Booking Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Booking Intent": {
      "main": [
        [
          {
            "node": "DB: Save AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Save AI Response": {
      "main": [
        [
          {
            "node": "Twilio: Send SMS Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio: Send SMS Reply": {
      "main": [
        [
          {
            "node": "Check SMS Delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check SMS Delivery": {
      "main": [
        [
          {
            "node": "Booking Confirmed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Booking Confirmed?": {
      "main": [
        [
          {
            "node": "API: Create Appointment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "User Wants to Close?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Create Appointment": {
      "main": [
        [
          {
            "node": "Call WF-004: Calendar Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call WF-004: Calendar Sync": {
      "main": [
        [
          {
            "node": "Trigger: Close (Booked)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Wants to Close?": {
      "main": [
        [
          {
            "node": "Trigger: Close (User)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "active": true
}
