n8n/workflows/US_AutoShop/dev-loop-orchestrator.json
{
  "id": "DEV-LOOP-ORCHESTRATOR",
  "name": "US AutoShop: Dev-Loop Orchestrator",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dev-loop-task",
        "responseMode": "lastNode"
      },
      "id": "dl-webhook",
      "name": "Webhook: Task Intake",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "dev-loop-task"
    },
    {
      "parameters": {
        "jsCode": "// Validate and normalize the incoming task contract\nconst body = $input.first().json.body || $input.first().json;\n\nconst required = ['task_id', 'title', 'goal'];\nfor (const field of required) {\n  if (!body[field]) {\n    throw new Error(`Missing required field: ${field}`);\n  }\n}\n\nconst task = {\n  task_id: String(body.task_id),\n  title: String(body.title),\n  goal: String(body.goal),\n  scope_boundaries: Array.isArray(body.scope_boundaries) ? body.scope_boundaries : [],\n  files_allowed: Array.isArray(body.files_allowed) ? body.files_allowed : ['**/*'],\n  files_forbidden: Array.isArray(body.files_forbidden) ? body.files_forbidden : [],\n  critical_systems_risk: Boolean(body.critical_systems_risk),\n  expected_output: Array.isArray(body.expected_output) ? body.expected_output : [],\n  checks_required: Array.isArray(body.checks_required) ? body.checks_required : ['typecheck'],\n  retry_count: Number(body.retry_count) || 0,\n  max_retries: 2\n};\n\nreturn [{ json: task }];"
      },
      "id": "dl-validate-task",
      "name": "Validate Task Contract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Classify task risk level based on files and flags\nconst task = $input.first().json;\n\nconst CRITICAL_KEYWORDS = [\n  'stripe', 'billing', 'auth', 'login', 'session',\n  'twilio', 'oauth', 'token', 'rls', 'provisioning',\n  'signup', 'deploy', 'migration'\n];\n\nlet riskLevel = 'low';\nlet criticalSystemsFlag = task.critical_systems_risk;\n\n// Check files_allowed for critical system patterns\nconst allFiles = [...task.files_allowed, ...task.scope_boundaries];\nconst joinedFiles = allFiles.join(' ').toLowerCase();\nconst goalLower = task.goal.toLowerCase();\n\nfor (const keyword of CRITICAL_KEYWORDS) {\n  if (joinedFiles.includes(keyword) || goalLower.includes(keyword)) {\n    criticalSystemsFlag = true;\n    riskLevel = 'high';\n    break;\n  }\n}\n\n// If files_forbidden is empty, that's medium risk (no guardrails set)\nif (!criticalSystemsFlag && task.files_forbidden.length === 0) {\n  riskLevel = 'medium';\n}\n\nreturn [{ json: {\n  ...task,\n  classified_risk: riskLevel,\n  critical_systems_detected: criticalSystemsFlag,\n  branch_name: `ai/task-${task.task_id}`\n} }];"
      },
      "id": "dl-classify-risk",
      "name": "Classify Task Risk",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-not-high-risk",
              "leftValue": "={{ $json.classified_risk }}",
              "rightValue": "high",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dl-risk-gate",
      "name": "IF: Risk Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build the Claude execution prompt from the task contract\nconst task = $('Classify Task Risk').first().json;\n\nconst prompt = `You are executing an autonomous dev-loop task.\n\nTASK: ${task.title}\nGOAL: ${task.goal}\nBRANCH: ${task.branch_name}\nTASK_ID: ${task.task_id}\n\nSCOPE BOUNDARIES:\n${task.scope_boundaries.map(s => '- ' + s).join('\\n') || '- No specific boundaries set'}\n\nFILES ALLOWED:\n${task.files_allowed.map(f => '- ' + f).join('\\n')}\n\nFILES FORBIDDEN (DO NOT TOUCH):\n${task.files_forbidden.map(f => '- ' + f).join('\\n') || '- None specified'}\n\nEXPECTED OUTPUT:\n${task.expected_output.map(o => '- ' + o).join('\\n') || '- Complete the goal'}\n\nCHECKS REQUIRED:\n${task.checks_required.map(c => '- ' + c).join('\\n')}\n\nINSTRUCTIONS:\n1. Implement the smallest safe change to achieve the goal\n2. Return a JSON execution result with these exact fields:\n   - task_id: \"${task.task_id}\"\n   - status: \"done\" | \"failed\" | \"blocked\"\n   - files_changed: [list of changed file paths]\n   - files_to_create: [{\"path\": \"relative/path\", \"content\": \"full file content\"}] — new files\n   - files_to_modify: [{\"path\": \"relative/path\", \"content\": \"full new file content\"}] — modified files\n   - files_to_delete: [\"relative/path\"] — files to remove\n   - commit_message: \"type: short description\" (conventional commit format)\n   - checks_run: [{name, status: \"pass\"|\"fail\"|\"not_run\", details}]\n   - critical_files_touched: [any critical system files modified]\n   - summary: what was done\n   - open_issues: [unresolved issues]\n   - retry_recommended: boolean\n\nIMPORTANT: You MUST include the actual file content in files_to_create and files_to_modify.\nThese will be used by an automated execution worker to create a real branch and push to GitHub.\nReturn ONLY the JSON result block wrapped in \\`\\`\\`json ... \\`\\`\\` tags.`;\n\nreturn [{ json: {\n  task,\n  claude_prompt: prompt\n} }];"
      },
      "id": "dl-build-prompt",
      "name": "Build Claude Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 4096, messages: [{ role: 'user', content: $json.claude_prompt }] }) }}",
        "options": {
          "timeout": 300000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "dl-claude-api",
      "name": "Anthropic: Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1500,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "anthropic-api-key",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Anthropic API response into ExecutionResultContract + file changes\nconst task = $('Classify Task Risk').first().json;\nconst taskId = task.task_id;\nconst apiResponse = $input.first().json;\n\nfunction makeResult(status, summary, issues, retry) {\n  return {\n    task_id: taskId,\n    status: status,\n    files_changed: [],\n    files_to_create: [],\n    files_to_modify: [],\n    files_to_delete: [],\n    commit_message: '',\n    checks_run: [],\n    critical_files_touched: [],\n    summary: String(summary).substring(0, 2000),\n    open_issues: issues,\n    retry_recommended: retry\n  };\n}\n\nfunction extractResult(parsed) {\n  return {\n    task_id: parsed.task_id || taskId,\n    status: parsed.status,\n    files_changed: Array.isArray(parsed.files_changed) ? parsed.files_changed : [],\n    files_to_create: Array.isArray(parsed.files_to_create) ? parsed.files_to_create : [],\n    files_to_modify: Array.isArray(parsed.files_to_modify) ? parsed.files_to_modify : [],\n    files_to_delete: Array.isArray(parsed.files_to_delete) ? parsed.files_to_delete : [],\n    commit_message: String(parsed.commit_message || `chore: task ${taskId}`),\n    checks_run: Array.isArray(parsed.checks_run) ? parsed.checks_run : [],\n    critical_files_touched: Array.isArray(parsed.critical_files_touched) ? parsed.critical_files_touched : [],\n    summary: String(parsed.summary || ''),\n    open_issues: Array.isArray(parsed.open_issues) ? parsed.open_issues : [],\n    retry_recommended: Boolean(parsed.retry_recommended)\n  };\n}\n\n// Handle API-level errors\nif (apiResponse.error) {\n  const errMsg = apiResponse.error.message || JSON.stringify(apiResponse.error);\n  return [{ json: makeResult('blocked', `Anthropic API error: ${errMsg}`, [`API error: ${errMsg}`, 'Requires valid ANTHROPIC_API_KEY with sufficient credits'], false) }];\n}\n\nconst content = apiResponse.content;\nif (!Array.isArray(content) || content.length === 0) {\n  return [{ json: makeResult('blocked', 'Anthropic API returned empty content', ['No content in API response'], true) }];\n}\n\nconst text = content.filter(c => c.type === 'text').map(c => c.text).join('\\n');\nif (!text.trim()) {\n  return [{ json: makeResult('blocked', 'Anthropic API returned no text content', ['Empty text in API response'], true) }];\n}\n\n// Try to extract ```json ... ``` block\nconst jsonMatch = text.match(/```json\\s*\\n?([\\s\\S]*?)\\n?\\s*```/);\nif (jsonMatch) {\n  try {\n    const parsed = JSON.parse(jsonMatch[1]);\n    if (parsed.task_id && parsed.status) {\n      return [{ json: extractResult(parsed) }];\n    }\n  } catch(e) { /* fall through */ }\n}\n\n// Try parsing the whole text as JSON\ntry {\n  const direct = JSON.parse(text.trim());\n  if (direct.task_id && direct.status) {\n    return [{ json: extractResult(direct) }];\n  }\n} catch(e) { /* not JSON */ }\n\n// Fallback\nreturn [{ json: makeResult('done', text, ['Response did not contain structured ExecutionResultContract'], false) }];"
      },
      "id": "dl-parse-response",
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1750,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Collect execution result and build review packet\nconst exec = $input.first().json;\nconst task = $('Classify Task Risk').first().json;\n\n// Determine if critical files were touched\nconst CRITICAL_KEYWORDS = [\n  'stripe', 'billing', 'auth', 'login', 'session',\n  'twilio', 'oauth', 'token', 'rls', 'provisioning',\n  'signup', 'deploy', 'migration'\n];\n\nconst criticalTouched = (exec.critical_files_touched || []).length > 0 ||\n  (exec.files_changed || []).some(f => {\n    const lower = f.toLowerCase();\n    return CRITICAL_KEYWORDS.some(k => lower.includes(k));\n  });\n\n// Check if all checks passed\nconst allChecks = exec.checks_run || [];\nconst checksPassed = allChecks.length > 0 && allChecks.every(c => c.status === 'pass');\n\n// Determine goal match\nlet goalMatch = 'failed';\nif (exec.status === 'done' && checksPassed) {\n  goalMatch = (exec.open_issues || []).length === 0 ? 'full' : 'partial';\n} else if (exec.status === 'done') {\n  goalMatch = 'partial';\n}\n\n// Determine risk level\nlet riskLevel = task.classified_risk || 'low';\nif (criticalTouched) riskLevel = 'high';\n\n// Determine recommended decision\nlet decision = 'ESCALATE';\nconst retryCount = task.retry_count || 0;\n\nif (exec.status === 'done' && goalMatch === 'full' && !criticalTouched && checksPassed && riskLevel !== 'high') {\n  decision = 'SAFE_AUTOMERGE';\n} else if (exec.status === 'failed' && exec.retry_recommended && retryCount < task.max_retries) {\n  decision = 'FIX_AND_RETRY';\n} else {\n  decision = 'ESCALATE';\n}\n\n// Logical gaps\nconst gaps = [];\nif (!checksPassed && allChecks.length > 0) gaps.push('Some checks failed');\nif (exec.status !== 'done') gaps.push(`Execution status: ${exec.status}`);\nif ((exec.open_issues || []).length > 0) gaps.push(...exec.open_issues);\nif (criticalTouched) gaps.push('Critical system files were modified');\n\nconst reviewPacket = {\n  task_id: exec.task_id,\n  review_ready: true,\n  goal_match: goalMatch,\n  risk_level: riskLevel,\n  critical_systems_touched: criticalTouched,\n  checks_passed: checksPassed,\n  logical_gaps: gaps,\n  recommended_decision: decision,\n  operator_notes: `Task: ${task.title}. ${exec.summary}`,\n  retry_count: retryCount,\n  git_diff_summary: exec.files_changed ? exec.files_changed.join(', ') : 'no changes',\n  branch: task.branch_name\n};\n\nreturn [{ json: reviewPacket }];"
      },
      "id": "dl-build-review",
      "name": "Build Review Packet",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-fix-retry",
              "leftValue": "={{ $json.recommended_decision }}",
              "rightValue": "FIX_AND_RETRY",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dl-decision-retry",
      "name": "IF: FIX_AND_RETRY?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2250,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Retry path: increment counter and re-submit task\nconst review = $input.first().json;\nconst task = $('Classify Task Risk').first().json;\n\nconst retryTask = {\n  ...task,\n  retry_count: (task.retry_count || 0) + 1,\n  goal: task.goal + ` [RETRY ${(task.retry_count || 0) + 1}: Fix issues: ${review.logical_gaps.join('; ')}]`\n};\n\n// Output the retry task — in production, this would loop back\n// to the Claude Execution node or re-trigger the webhook\nreturn [{ json: {\n  action: 'RETRY',\n  retry_count: retryTask.retry_count,\n  max_retries: task.max_retries,\n  retry_task: retryTask,\n  message: `Retry ${retryTask.retry_count}/${task.max_retries} — fixing: ${review.logical_gaps.join('; ')}`\n} }];"
      },
      "id": "dl-retry-handler",
      "name": "Retry Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2500,
        100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-safe-merge",
              "leftValue": "={{ $json.recommended_decision }}",
              "rightValue": "SAFE_AUTOMERGE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dl-decision-merge",
      "name": "IF: SAFE_AUTOMERGE?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2500,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Evaluate merge eligibility and build execution payload if approved.\n// When eligible, the execution worker will create the branch, apply\n// file changes from Claude's response, commit, and push to GitHub.\n\nconst review = $('Build Review Packet').first().json;\nconst exec = $('Parse Claude Response').first().json;\nconst task = $('Classify Task Risk').first().json;\n\nconst safeToMerge =\n  review.goal_match === 'full' &&\n  review.risk_level !== 'high' &&\n  !review.critical_systems_touched &&\n  review.checks_passed &&\n  review.logical_gaps.length === 0;\n\nif (!safeToMerge) {\n  const reasons = [];\n  if (review.goal_match !== 'full') reasons.push('goal=' + review.goal_match);\n  if (review.risk_level === 'high') reasons.push('high_risk');\n  if (review.critical_systems_touched) reasons.push('critical_systems');\n  if (!review.checks_passed) reasons.push('checks_failed');\n  if (review.logical_gaps.length > 0) reasons.push('gaps: ' + review.logical_gaps.join('; '));\n  return [{ json: {\n    action: 'SAFE_AUTOMERGE',\n    merge_eligible: false,\n    execute: false,\n    block_reason: 'MERGE_BLOCKED_SAFETY: ' + reasons.join(', '),\n    review_packet: review,\n    message: 'BLOCKED: ' + review.task_id + ' — ' + reasons.join(', ')\n  } }];\n}\n\n// Build execution payload for the execution worker\nconst hasFileChanges =\n  (exec.files_to_create || []).length > 0 ||\n  (exec.files_to_modify || []).length > 0 ||\n  (exec.files_to_delete || []).length > 0;\n\nif (!hasFileChanges) {\n  return [{ json: {\n    action: 'SAFE_AUTOMERGE',\n    merge_eligible: true,\n    execute: false,\n    block_reason: 'NO_FILE_CHANGES: Claude did not return file changes to apply',\n    review_packet: review,\n    message: 'ELIGIBLE but NO FILE CHANGES: ' + review.task_id + ' — Claude response had no files_to_create/modify/delete'\n  } }];\n}\n\nreturn [{ json: {\n  action: 'SAFE_AUTOMERGE',\n  merge_eligible: true,\n  execute: true,\n  execution_payload: {\n    task_id: task.task_id,\n    title: task.title,\n    goal: task.goal,\n    files_to_create: exec.files_to_create || [],\n    files_to_modify: exec.files_to_modify || [],\n    files_to_delete: exec.files_to_delete || [],\n    commit_message: exec.commit_message || `chore: task ${task.task_id}`\n  },\n  review_packet: review,\n  message: 'EXECUTING: ' + review.task_id + ' — sending to execution worker'\n} }];"
      },
      "id": "dl-merge-gate",
      "name": "Evaluate Merge Eligibility",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2750,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Escalation path — output for Telegram notification\nconst review = $('Build Review Packet').first().json;\n\nconst telegramMessage = `🚨 DEV-LOOP ESCALATION\\n\\nTask: ${review.task_id}\\nGoal Match: ${review.goal_match}\\nRisk: ${review.risk_level}\\nCritical Systems: ${review.critical_systems_touched ? 'YES' : 'no'}\\n\\nGaps:\\n${review.logical_gaps.map(g => '• ' + g).join('\\n') || '(none)'}\\n\\nBranch: ${review.branch}\\nRetries: ${review.retry_count}\\n\\nAction Required: Manual review and decision.`;\n\nreturn [{ json: {\n  action: 'ESCALATE',\n  review_packet: review,\n  telegram_message: telegramMessage,\n  message: `Escalated task ${review.task_id} — requires manual decision`\n} }];"
      },
      "id": "dl-escalate",
      "name": "Escalation Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2750,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// High-risk task — auto-escalate without execution\nconst task = $('Classify Task Risk').first().json;\n\nconst telegramMessage = `🚨 DEV-LOOP: HIGH-RISK TASK BLOCKED\\n\\nTask: ${task.task_id} — ${task.title}\\nRisk: ${task.classified_risk}\\nCritical Systems: ${task.critical_systems_detected ? 'YES' : 'no'}\\n\\nThis task was classified as high-risk and will NOT be auto-executed.\\nManual review required before proceeding.`;\n\nconst reviewPacket = {\n  task_id: task.task_id,\n  review_ready: true,\n  goal_match: 'failed',\n  risk_level: 'high',\n  critical_systems_touched: task.critical_systems_detected,\n  checks_passed: false,\n  logical_gaps: ['Task classified as high-risk — blocked before execution'],\n  recommended_decision: 'ESCALATE',\n  operator_notes: `High-risk task blocked: ${task.title}. Goal: ${task.goal}`,\n  retry_count: 0,\n  git_diff_summary: 'no changes — blocked before execution',\n  branch: task.branch_name\n};\n\nreturn [{ json: {\n  action: 'ESCALATE',\n  reason: 'high_risk_blocked',\n  review_packet: reviewPacket,\n  telegram_message: telegramMessage,\n  message: `Task ${task.task_id} blocked — high risk, requires manual approval`\n} }];"
      },
      "id": "dl-high-risk-block",
      "name": "High-Risk Block + Escalate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        450
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare blocked result for API persistence\nconst data = $input.first().json;\nconst rp = data.review_packet || {};\n\nreturn [{ json: {\n  api_payload: {\n    task_id: rp.task_id,\n    status: 'blocked',\n    files_changed: [],\n    checks_run: [],\n    critical_files_touched: [],\n    execution_summary: rp.operator_notes || 'High-risk task blocked before execution',\n    open_issues: rp.logical_gaps || [],\n    retry_recommended: false,\n    goal_match: rp.goal_match || 'failed',\n    risk_level: rp.risk_level || 'high',\n    review_decision: rp.recommended_decision || 'ESCALATE',\n    operator_notes: rp.operator_notes,\n    branch: rp.branch,\n    git_diff_summary: rp.git_diff_summary || 'no changes — blocked before execution',\n    retry_count: 0,\n    logical_gaps: rp.logical_gaps || []\n  },\n  escalation_output: data\n} }];"
      },
      "id": "dl-prepare-blocked",
      "name": "Prepare Blocked Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        450
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://autoshop-api-7ek9.onrender.com/internal/dev-loop/task-result",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.api_payload) }}",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "dl-api-save-blocked",
      "name": "API: Save Blocked Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1750,
        450
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "x-internal-key",
          "name": "x-internal-key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://autoshop-api-7ek9.onrender.com/internal/dev-loop/task-submit",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ task_id: $json.task_id, title: $json.title, goal: $json.goal, scope_boundaries: $json.scope_boundaries, files_allowed: $json.files_allowed, files_forbidden: $json.files_forbidden, critical_systems_risk: $json.critical_systems_risk, expected_output: $json.expected_output, checks_required: $json.checks_required }) }}",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "dl-api-register",
      "name": "API: Register Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        620,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "x-internal-key",
          "name": "x-internal-key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare task result payload for the API\nconst exec = $('Parse Claude Response').first().json;\nconst review = $input.first().json;\n\nreturn [{ json: {\n  api_payload: {\n    task_id: review.task_id,\n    status: exec.status,\n    files_changed: exec.files_changed || [],\n    checks_run: exec.checks_run || [],\n    critical_files_touched: exec.critical_files_touched || [],\n    execution_summary: exec.summary || '',\n    open_issues: exec.open_issues || [],\n    retry_recommended: exec.retry_recommended || false,\n    goal_match: review.goal_match,\n    risk_level: review.risk_level,\n    review_decision: review.recommended_decision,\n    operator_notes: review.operator_notes,\n    branch: review.branch,\n    git_diff_summary: review.git_diff_summary,\n    retry_count: review.retry_count,\n    logical_gaps: review.logical_gaps || []\n  },\n  review_packet: review\n} }];"
      },
      "id": "dl-prepare-save",
      "name": "Prepare Result Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2100,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://autoshop-api-7ek9.onrender.com/internal/dev-loop/task-result",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.api_payload) }}",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "dl-api-save-result",
      "name": "API: Save Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2200,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "x-internal-key",
          "name": "x-internal-key"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8747048300",
        "text": "={{ $json.telegram_message }}",
        "additionalFields": {}
      },
      "id": "dl-tg-escalate",
      "name": "Telegram: Notify Escalation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2850,
        400
      ],
      "credentials": {
        "telegramApi": {
          "id": "bPrClfXl0avUTqnO",
          "name": "AutoShop Telegram"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8747048300",
        "text": "={{ $json.telegram_message }}",
        "additionalFields": {}
      },
      "id": "dl-tg-blocked",
      "name": "Telegram: Notify Blocked",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1500,
        550
      ],
      "credentials": {
        "telegramApi": {
          "id": "bPrClfXl0avUTqnO",
          "name": "AutoShop Telegram"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-execute",
              "leftValue": "={{ $json.execute }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dl-execute-gate",
      "name": "IF: Execute?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3000,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://autoshop-api-7ek9.onrender.com/internal/dev-loop/execute",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.execution_payload) }}",
        "options": {
          "timeout": 120000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "dl-api-execute",
      "name": "API: Execute Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3250,
        100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "x-internal-key",
          "name": "x-internal-key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build Telegram notification from execution result\nconst result = $input.first().json;\nconst status = result.execution_status || 'unknown';\nconst emoji = status === 'success' ? '✅' : status === 'safety_abort' ? '🛑' : '❌';\n\nconst message = `${emoji} DEV-LOOP EXECUTION\\n\\nTask: ${result.task_id || 'unknown'}\\nBranch: ${result.branch || 'none'}\\nStatus: ${status}\\nPush: ${result.push_status || 'unknown'}\\nCommit: ${result.commit_sha ? result.commit_sha.substring(0, 8) : 'none'}\\nFiles: ${(result.files_changed || []).length}\\n${result.error_reason ? '\\nError: ' + result.error_reason : ''}`;\n\nreturn [{ json: { telegram_message: message, execution_result: result } }];"
      },
      "id": "dl-execution-notify",
      "name": "Format Execution Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3500,
        100
      ]
    },
    {
      "parameters": {
        "chatId": "8747048300",
        "text": "={{ $json.telegram_message }}",
        "additionalFields": {}
      },
      "id": "dl-tg-execution",
      "name": "Telegram: Notify Execution",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3750,
        100
      ],
      "credentials": {
        "telegramApi": {
          "id": "bPrClfXl0avUTqnO",
          "name": "AutoShop Telegram"
        }
      }
    }
  ],
  "connections": {
    "Webhook: Task Intake": {
      "main": [
        [
          {
            "node": "Validate Task Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Task Contract": {
      "main": [
        [
          {
            "node": "Classify Task Risk",
            "type": "main",
            "index": 0
          },
          {
            "node": "API: Register Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Task Risk": {
      "main": [
        [
          {
            "node": "IF: Risk Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Risk Gate": {
      "main": [
        [
          {
            "node": "Build Claude Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "High-Risk Block + Escalate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Claude Prompt": {
      "main": [
        [
          {
            "node": "Anthropic: Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic: Claude API": {
      "main": [
        [
          {
            "node": "Parse Claude Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claude Response": {
      "main": [
        [
          {
            "node": "Build Review Packet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Review Packet": {
      "main": [
        [
          {
            "node": "IF: FIX_AND_RETRY?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Result Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Result Payload": {
      "main": [
        [
          {
            "node": "API: Save Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: FIX_AND_RETRY?": {
      "main": [
        [
          {
            "node": "Retry Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF: SAFE_AUTOMERGE?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: SAFE_AUTOMERGE?": {
      "main": [
        [
          {
            "node": "Evaluate Merge Eligibility",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Escalation Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High-Risk Block + Escalate": {
      "main": [
        [
          {
            "node": "Prepare Blocked Result",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram: Notify Blocked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Blocked Result": {
      "main": [
        [
          {
            "node": "API: Save Blocked Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalation Output": {
      "main": [
        [
          {
            "node": "Telegram: Notify Escalation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Merge Eligibility": {
      "main": [
        [
          {
            "node": "IF: Execute?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Execute?": {
      "main": [
        [
          {
            "node": "API: Execute Task",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "API: Execute Task": {
      "main": [
        [
          {
            "node": "Format Execution Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Execution Result": {
      "main": [
        [
          {
            "node": "Telegram: Notify Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "WORKFLOW-ERROR-ALERT"
  },
  "staticData": null,
  "tags": [
    {
      "name": "dev-loop"
    },
    {
      "name": "orchestration"
    }
  ],
  "triggerCount": 1,
  "pinData": {}
}