n8n/workflows/US_AutoShop/provision-number.json
{"updatedAt":"2026-03-11T07:31:55.000Z","createdAt":"2026-03-11T07:31:55.924Z","id":"ButT8r7ATKNwvVNn","name":"US AutoShop: Provision Number","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"path":"provision-number","responseMode":"lastNode","options":{}},"id":"09a5ed62-7291-4789-a6b6-c7c8d7dd33a6","name":"Webhook: Provision Number","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[-1008,112],"webhookId":"provision-number-wf007","notes":"Called by API: POST /internal/enqueue-provision-number → enqueues → this webhook fires"},{"parameters":{"jsCode":"// Validate input — webhook v1.1 wraps POST body under $json.body\nconst data = $json.body || $json;\nif (!data.tenantId || !data.areaCode) {\n  throw new Error('Missing tenantId or areaCode');\n}\n\n// Texas area codes fallback list\nconst TX_AREA_CODES = ['512', '737', '210', '214', '972', '469', '817', '682', '281', '832', '713', '346', '361', '915', '806', '903', '936', '956'];\n\nconst primaryAreaCode = data.areaCode;\nconst fallbacks = TX_AREA_CODES.filter(c => c !== primaryAreaCode).slice(0, 3);\n\nreturn [{\n  json: {\n    tenantId: data.tenantId,\n    areaCode: primaryAreaCode,\n    fallbackAreaCodes: fallbacks,\n    shopName: data.shopName || 'AutoShop',\n    attempt: 0,\n  }\n}];"},"id":"40fe74be-8e1e-44a4-b0b5-500586fea5d1","name":"Validate + Prepare","type":"n8n-nodes-base.code","typeVersion":2,"position":[-752,112]},{"parameters":{"url":"=https://api.twilio.com/2010-04-01/Accounts/{{ $env.TWILIO_ACCOUNT_SID }}/AvailablePhoneNumbers/US/Local.json","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"AreaCode","value":"={{ $json.areaCode }}"},{"name":"PageSize","value":"5"},{"name":"Capabilities.SMS","value":"true"},{"name":"Capabilities.Voice","value":"true"}]},"options":{}},"id":"de00067b-4a75-46f5-bc5f-b6b896275e95","name":"Twilio: Search Available Numbers","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-496,112]},{"parameters":{"conditions":{"conditions":[{"leftValue":"={{ $json.available_phone_numbers?.length ?? 0 }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}]},"options":{}},"id":"ace3cc56-729e-48c7-9bef-027e0197d19b","name":"Numbers Available?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-256,112]},{"parameters":{"method":"POST","url":"=https://api.twilio.com/2010-04-01/Accounts/{{ $env.TWILIO_ACCOUNT_SID }}/IncomingPhoneNumbers.json","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"PhoneNumber","value":"={{ $('Twilio: Search Available Numbers').first().json.available_phone_numbers[0].phone_number }}"},{"name":"FriendlyName","value":"=AutoShop-{{ $('Validate + Prepare').first().json.tenantId }}"},{"name":"SmsUrl","value":"={{ $env.PUBLIC_ORIGIN }}/webhooks/twilio/sms"},{"name":"SmsMethod","value":"POST"},{"name":"StatusCallback","value":"={{ $env.PUBLIC_ORIGIN }}/webhooks/twilio/voice-status"},{"name":"VoiceUrl","value":"={{ $env.PUBLIC_ORIGIN }}/webhooks/twilio/voice-status"}]},"options":{}},"id":"186d360f-9492-4959-9fc6-b965463b9b8d","name":"Twilio: Purchase Number","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[0,0]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO tenant_phone_numbers (tenant_id, twilio_sid, phone_number, status)\nVALUES (\n  '{{ $('Validate + Prepare').first().json.tenantId }}'::uuid,\n  '{{ $('Twilio: Purchase Number').first().json.sid }}',\n  '{{ $('Twilio: Purchase Number').first().json.phone_number }}',\n  'active'\n)\nON CONFLICT DO NOTHING\nRETURNING *;","options":{}},"id":"07c176f5-941a-446c-8017-4d6df4e87a3e","name":"DB: Save Phone Number","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[256,0]},{"parameters":{"jsCode":"// TODO: Send welcome email via email provider (SendGrid/Resend)\n// Include: assigned phone number, setup instructions, dashboard link\nconsole.log('TODO: Send welcome email to tenant:', $('Validate + Prepare').first().json.tenantId);\nconsole.log('Assigned number:', $('Twilio: Purchase Number').first().json.phone_number);\nreturn [{ json: { status: 'provisioned', number: $('Twilio: Purchase Number').first().json.phone_number } }];"},"id":"cc4d714e-2b92-4018-bc33-036e64b88e7f","name":"TODO: Send Welcome Email","type":"n8n-nodes-base.code","typeVersion":2,"position":[512,0]},{"parameters":{"jsCode":"// No numbers available in requested area code\n// TODO: Alert admin via Slack/email for manual resolution\nconsole.error('No numbers available for area code:', $('Validate + Prepare').first().json.areaCode);\nconsole.error('Tenant:', $('Validate + Prepare').first().json.tenantId);\n\n// TODO: Update tenant record with provisioning_status = 'failed'\n// TODO: Send alert to admin\n\nreturn [{ json: { status: 'failed', reason: 'no_numbers_available' } }];"},"id":"1e0b7cb4-f07c-420e-9f16-8a73925d29d7","name":"Handle: No Numbers Available","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,256],"notes":"TODO: Try fallback area codes before failing"}],"connections":{"Webhook: Provision Number":{"main":[[{"node":"Validate + Prepare","type":"main","index":0}]]},"Validate + Prepare":{"main":[[{"node":"Twilio: Search Available Numbers","type":"main","index":0}]]},"Twilio: Search Available Numbers":{"main":[[{"node":"Numbers Available?","type":"main","index":0}]]},"Numbers Available?":{"main":[[{"node":"Twilio: Purchase Number","type":"main","index":0}],[{"node":"Handle: No Numbers Available","type":"main","index":0}]]},"Twilio: Purchase Number":{"main":[[{"node":"DB: Save Phone Number","type":"main","index":0}]]},"DB: Save Phone Number":{"main":[[{"node":"TODO: Send Welcome Email","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"c1067a0a-baeb-4376-8e2a-7450aa2392bf","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2026-03-11T07:31:55.927Z","createdAt":"2026-03-11T07:31:55.927Z","role":"workflow:owner","workflowId":"ButT8r7ATKNwvVNn","projectId":"H5MEaTUE4KqhWmt3","project":{"updatedAt":"2026-03-11T07:14:12.000Z","createdAt":"2026-03-10T21:42:40.389Z","id":"H5MEaTUE4KqhWmt3","name":"AutoShop Production","type":"team","icon":{"type":"icon","value":"layers"},"description":"Production workflows for AutoShop SMS AI platform.\n\nHandles:\n- inbound SMS\n- AI conversation handling\n- booking automation\n- Google Calendar sync\n- conversation closing logic\n\nCore stack:\nn8n + AI agent + SMS provider + Google Calendar\n\nUsed by AutoShop SaaS production environment.","creatorId":"5f4340de-ef7f-4241-ba4e-1b4ad4bdbfe9"}}],"tags":[],"activeVersion":null}