n8n/workflows/US_AutoShop/telegram-task-intake.json
{
  "id": "TELEGRAM-TASK-INTAKE",
  "name": "US AutoShop: Telegram Task Intake",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "tg-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "tg-intake-webhook",
      "credentials": {
        "telegramApi": {
          "id": "telegram-creds",
          "name": "AutoShop Telegram"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Validate sender and parse Telegram message into a dev-loop task\nconst msg = $input.first().json;\nconst message = msg.message || {};\nconst text = (message.text || '').trim();\nconst chatId = message.chat?.id;\nconst senderId = message.from?.id;\nconst senderName = message.from?.first_name || 'operator';\n\n// Only accept messages from the configured operator chat\n// Hardcoded — n8n Cloud blocks $env access in Code nodes\nconst allowedChatId = '8747048300';\nif (String(chatId) !== allowedChatId) {\n  return [{ json: { rejected: true, reason: 'unauthorized_chat', chatId } }];\n}\n\n// Ignore empty messages and commands that aren't tasks\nif (!text || text.startsWith('/start') || text.startsWith('/help')) {\n  return [{ json: {\n    rejected: true,\n    reason: text ? 'command' : 'empty',\n    chatId,\n    help_response: 'Send a plain text message describing a task. Example:\\n\\nAdd a formatPhoneNumber utility in packages/shared/src/ that normalizes US numbers to E.164'\n  } }];\n}\n\n// Strip /task prefix if present\nlet taskText = text;\nif (taskText.startsWith('/task ')) {\n  taskText = taskText.substring(6).trim();\n}\n\n// Generate deterministic task_id from timestamp + short hash\nconst ts = Date.now();\nconst shortHash = ts.toString(36).slice(-6);\nconst taskId = `tg-${shortHash}`;\n\n// Extract title: first line or first 60 chars\nconst firstLine = taskText.split('\\n')[0];\nconst title = firstLine.length > 60 ? firstLine.substring(0, 57) + '...' : firstLine;\n\n// Build TaskContract\nconst task = {\n  task_id: taskId,\n  title: title,\n  goal: taskText,\n  scope_boundaries: [],\n  files_allowed: ['apps/api/**', 'packages/shared/**'],\n  files_forbidden: [\n    '**/auth/**', '**/billing/**', '**/stripe/**',\n    '**/twilio/**', '**/oauth/**', '**/provisioning/**',\n    '**/deploy/**', '**/migration/**'\n  ],\n  critical_systems_risk: false,\n  expected_output: [],\n  checks_required: ['typecheck']\n};\n\nreturn [{ json: {\n  rejected: false,\n  task,\n  chatId,\n  senderName,\n  messageId: message.message_id\n} }];"
      },
      "id": "tg-parse",
      "name": "Parse Message into Task",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "// Three-way classifier: SIMPLE (help) / OPERATOR (system commands) / COMPLEX (task)\nconst parsed = $input.first().json;\nif (parsed.rejected) return [{ json: parsed }];\n\nconst text = (parsed.task.goal || '').toLowerCase().trim();\n\n// SIMPLE: help/guidance patterns\nconst SIMPLE_WHITELIST = [\n  /^\\/?help$/,\n  /^\\/?start$/,\n  /^(hi|hello|hey)$/,\n  /^what (can|do) (i|you)/,\n  /^how (do|should|can) i (send|write|format|submit|use)/,\n  /^(give|show|send) (me )?(an? )?example/,\n  /^example/,\n  /^what (is|does) (simple|complex|this|the bot)/,\n  /^what (kind|type)s? of (task|message|request|command)/,\n  /^how does this (work|bot)/,\n  /^what (commands|options|formats?)/,\n  /^(commands|options|usage|guide|instructions)/,\n];\n\n// OPERATOR: system control / status / task management commands\nconst OPERATOR_PATTERNS = [\n  // English\n  /^(next|find next|start next|get next)\\s*(task|job|work)?\\s*$/,\n  /^continue/,\n  /^(resume|proceed|go|carry on)/,\n  /^(status|state|what.?s (running|pending|happening|going on|next|the (status|state)))/,\n  /^(list|show|get|what are|check)\\s*(tasks?|jobs?|queue|pending|failed|available|open)/,\n  /^(pending|failed|blocked|done|review)\\s*(tasks?|jobs?|items?)?$/,\n  /^what (is|are) (the )?(next|available|pending|open) (task|job|work)/,\n  /^(any|are there) (pending|available|open|new) (task|job|work)/,\n  /^(task|job)\\s*(status|list|count|summary|queue)/,\n  /^(summary|overview|dashboard|report)/,\n  /^(what should i|what to) (do|work on)/,\n  /^what.?s next/,\n  // Lithuanian\n  /^(sekanti|kita|naujas?)\\s*(u[zž]duoti|task|darb)/i,\n  /^(prad[eė](k|ti)|start)\\s*(sekanci|kit|nauj)/i,\n  /^(t[eę]sk?|t[eę]sti|toliau|pirmyn)/i,\n  /^(imk?|imti|pa[iy]mk?)\\s*(kit|sekanci|nauj)/i,\n  /^(rask?|rasti|surask?)\\s*(sekanci|kit|nauj)/i,\n  /^(b[uū]kl[eė]|statusas|pad[eė]tis)/i,\n  /^(kokie?|koks?)\\s*(task|u[zž]duot|darb)/i,\n  /^kas (toliau|sekantis|kitas)/i,\n  /^(eik?|va[zž]iuok?)\\s*toliau/i,\n];\n\nconst isSimple = SIMPLE_WHITELIST.some(p => p.test(text));\nconst isOperator = !isSimple && OPERATOR_PATTERNS.some(p => p.test(text));\n\nlet classification = 'COMPLEX';\nif (isSimple) classification = 'SIMPLE';\nelse if (isOperator) classification = 'OPERATOR';\n\nreturn [{ json: { ...parsed, classification } }];"
      },
      "id": "tg-classify",
      "name": "Classify Task",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [620, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{
            "id": "cond-simple",
            "leftValue": "={{ $json.classification }}",
            "rightValue": "SIMPLE",
            "operator": { "type": "string", "operation": "equals" }
          }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "tg-simple-gate",
      "name": "IF: Simple?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "jsCode": "// Static operator guidance for help/format questions\nconst parsed = $input.first().json;\n\nconst guide = 'AutoShop Dev-Loop Bot\\n\\n' +\n  'Send a task as a plain text message. It will be analyzed and executed by Claude.\\n\\n' +\n  'Task format examples:\\n' +\n  '  \"Add a formatPhoneNumber utility in packages/shared/src/\"\\n' +\n  '  \"Fix the calendar sync retry logic for 401 errors\"\\n' +\n  '  \"List all TypeScript files in apps/api/src/routes/\"\\n\\n' +\n  'What happens:\\n' +\n  '  1. Instant ack (1-2s)\\n' +\n  '  2. Claude analyzes and executes (30-60s)\\n' +\n  '  3. Result with status, decision, and branch\\n\\n' +\n  'Operator commands:\\n' +\n  '  \"next task\" — show next available task\\n' +\n  '  \"status\" — task queue summary\\n' +\n  '  \"list tasks\" — recent tasks\\n' +\n  '  \"pending\" — pending tasks\\n' +\n  '  \"failed\" — failed tasks\\n\\n' +\n  'All other messages go to Claude for execution.';\n\nreturn [{ json: {\n  chatId: parsed.chatId,\n  replyText: guide\n} }];"
      },
      "id": "tg-build-simple-reply",
      "name": "Build Simple Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 100]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.replyText }}",
        "additionalFields": {}
      },
      "id": "tg-send-simple",
      "name": "Telegram: Send Simple Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1350, 100],
      "credentials": {
        "telegramApi": {
          "id": "telegram-creds",
          "name": "AutoShop Telegram"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{
            "id": "cond-operator",
            "leftValue": "={{ $json.classification }}",
            "rightValue": "OPERATOR",
            "operator": { "type": "string", "operation": "equals" }
          }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "tg-operator-gate",
      "name": "IF: Operator?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 500]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://autoshop-api-7ek9.onrender.com/internal/dev-loop/summary",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "options": {
          "timeout": 15000,
          "response": { "response": { "neverError": true } }
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "tg-fetch-summary",
      "name": "Fetch Task Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1100, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "x-internal-key",
          "name": "x-internal-key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format task summary for Telegram\nconst parsed = $('Parse Message into Task').first().json;\nconst summary = $input.first().json;\n\n// Handle API errors\nif (summary.error || summary.statusCode >= 400) {\n  return [{ json: {\n    chatId: parsed.chatId,\n    replyText: 'Could not fetch task summary.\\nAPI error: ' + (summary.error || summary.message || 'unknown')\n  } }];\n}\n\nconst counts = summary.counts || {};\nconst recent = summary.recent || [];\nconst needsReview = summary.needs_review || [];\nconst pending = summary.pending || [];\nconst failed = summary.failed || [];\n\nlet msg = '📋 Task Queue Summary\\n\\n';\n\n// Counts\nmsg += `Total: ${counts.total || 0}  |  `;\nmsg += `Done: ${counts.done || 0}  |  `;\nmsg += `Pending: ${counts.pending || 0}  |  `;\nmsg += `Failed: ${counts.failed || 0}  |  `;\nmsg += `Blocked: ${counts.blocked || 0}\\n`;\nmsg += `Needs review: ${counts.needs_review || 0}  |  `;\nmsg += `Stale: ${counts.stale || 0}\\n\\n`;\n\n// Needs review\nif (needsReview.length > 0) {\n  msg += '⏳ Needs Review:\\n';\n  needsReview.forEach(t => {\n    msg += `  • ${t.task_id}: ${t.title} [${t.status}]`;\n    if (t.branch) msg += ` → ${t.branch}`;\n    msg += '\\n';\n  });\n  msg += '\\n';\n}\n\n// Pending\nif (pending.length > 0) {\n  msg += '🔜 Pending:\\n';\n  pending.forEach(t => {\n    msg += `  • ${t.task_id}: ${t.title}\\n`;\n  });\n  msg += '\\n';\n}\n\n// Failed\nif (failed.length > 0) {\n  msg += '❌ Failed:\\n';\n  failed.forEach(t => {\n    msg += `  • ${t.task_id}: ${t.title}\\n`;\n  });\n  msg += '\\n';\n}\n\n// Recent\nif (recent.length > 0) {\n  msg += '📝 Recent:\\n';\n  recent.forEach(t => {\n    msg += `  • ${t.task_id}: ${t.title} [${t.status}]\\n`;\n  });\n  msg += '\\n';\n}\n\n// No tasks at all\nif ((counts.total || 0) === 0) {\n  msg += 'No tasks in queue.\\n\\nSend a task description to create one.';\n}\n\n// Next action guidance\nif (counts.pending > 0 || counts.needs_review > 0) {\n  msg += 'To start a specific task, describe what to do (e.g. \"fix the booking date parser\").';\n} else if (counts.total > 0 && counts.pending === 0) {\n  msg += 'No pending tasks. Send a new task description to create one.';\n}\n\nreturn [{ json: { chatId: parsed.chatId, replyText: msg } }];"
      },
      "id": "tg-build-operator-reply",
      "name": "Build Operator Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 400]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.replyText }}",
        "additionalFields": {}
      },
      "id": "tg-send-operator",
      "name": "Telegram: Send Operator Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1600, 400],
      "credentials": {
        "telegramApi": {
          "id": "telegram-creds",
          "name": "AutoShop Telegram"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{
            "id": "cond-accepted",
            "leftValue": "={{ $json.rejected }}",
            "rightValue": false,
            "operator": { "type": "boolean", "operation": "equals" }
          }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "tg-gate",
      "name": "IF: Task Accepted",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 750]
    },
    {
      "parameters": {
        "jsCode": "const parsed = $('Parse Message into Task').first().json;\nconst task = parsed.task;\nconst title = task.title.length > 80 ? task.title.substring(0, 77) + '...' : task.title;\nreturn [{ json: {\n  chatId: parsed.chatId,\n  replyText: 'Task received: ' + title + '\\nAnalyzing...'\n} }];"
      },
      "id": "tg-build-ack",
      "name": "Build Ack",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 650]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.replyText }}",
        "additionalFields": {}
      },
      "id": "tg-send-ack",
      "name": "Telegram: Send Ack",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1350, 650],
      "credentials": {
        "telegramApi": {
          "id": "telegram-creds",
          "name": "AutoShop Telegram"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bandomasis.app.n8n.cloud/webhook/dev-loop-task",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Parse Message into Task').first().json.task) }}",
        "options": {
          "timeout": 300000,
          "response": { "response": { "neverError": true } }
        }
      },
      "id": "tg-submit-orchestrator",
      "name": "Submit to Orchestrator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1100, 850]
    },
    {
      "parameters": {
        "jsCode": "// Build final result message for Telegram\nconst parsed = $('Parse Message into Task').first().json;\nconst task = parsed.task;\nconst orchestratorResult = $input.first().json;\n\nlet status = 'submitted';\nlet decision = '';\nif (orchestratorResult.review_packet) {\n  const rp = orchestratorResult.review_packet;\n  status = rp.goal_match === 'full' ? 'done' : rp.goal_match || 'processing';\n  decision = rp.recommended_decision || '';\n} else if (orchestratorResult.action) {\n  decision = orchestratorResult.action;\n  if (orchestratorResult.action === 'ESCALATE') status = 'escalated';\n  else if (orchestratorResult.action === 'RETRY') status = 'retrying';\n  else status = 'done';\n} else if (orchestratorResult.error || orchestratorResult.statusCode >= 400) {\n  status = 'failed (orchestrator error)';\n}\n\nlet reply = `Task: ${task.task_id}\\n`;\nreply += `Title: ${task.title}\\n`;\nreply += `Status: ${status}\\n`;\nif (decision) reply += `Decision: ${decision}\\n`;\nif (orchestratorResult.review_packet?.branch) {\n  reply += `Branch: ${orchestratorResult.review_packet.branch}\\n`;\n}\n\nreturn [{ json: {\n  chatId: parsed.chatId,\n  replyText: reply\n} }];"
      },
      "id": "tg-build-reply",
      "name": "Build Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 850]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.replyText }}",
        "additionalFields": {}
      },
      "id": "tg-reply",
      "name": "Telegram: Send Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1600, 850],
      "credentials": {
        "telegramApi": {
          "id": "telegram-creds",
          "name": "AutoShop Telegram"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Handle rejected messages (unauthorized chat, empty, /help)\nconst data = $input.first().json;\n\nif (data.reason === 'command' || data.reason === 'empty') {\n  return [{ json: {\n    chatId: data.chatId,\n    replyText: data.help_response || 'Send a plain text message describing a task.'\n  } }];\n}\n\n// Unauthorized chat — do not respond (silent reject)\nreturn [];"
      },
      "id": "tg-handle-rejected",
      "name": "Handle Rejected",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 1050]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.replyText }}",
        "additionalFields": {}
      },
      "id": "tg-reply-help",
      "name": "Telegram: Send Help",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1350, 1050],
      "credentials": {
        "telegramApi": {
          "id": "telegram-creds",
          "name": "AutoShop Telegram"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[ { "node": "Parse Message into Task", "type": "main", "index": 0 } ]]
    },
    "Parse Message into Task": {
      "main": [[ { "node": "Classify Task", "type": "main", "index": 0 } ]]
    },
    "Classify Task": {
      "main": [[ { "node": "IF: Simple?", "type": "main", "index": 0 } ]]
    },
    "IF: Simple?": {
      "main": [
        [ { "node": "Build Simple Reply", "type": "main", "index": 0 } ],
        [ { "node": "IF: Operator?", "type": "main", "index": 0 } ]
      ]
    },
    "Build Simple Reply": {
      "main": [[ { "node": "Telegram: Send Simple Reply", "type": "main", "index": 0 } ]]
    },
    "IF: Operator?": {
      "main": [
        [ { "node": "Fetch Task Summary", "type": "main", "index": 0 } ],
        [ { "node": "IF: Task Accepted", "type": "main", "index": 0 } ]
      ]
    },
    "Fetch Task Summary": {
      "main": [[ { "node": "Build Operator Reply", "type": "main", "index": 0 } ]]
    },
    "Build Operator Reply": {
      "main": [[ { "node": "Telegram: Send Operator Reply", "type": "main", "index": 0 } ]]
    },
    "IF: Task Accepted": {
      "main": [
        [
          { "node": "Build Ack", "type": "main", "index": 0 },
          { "node": "Submit to Orchestrator", "type": "main", "index": 0 }
        ],
        [ { "node": "Handle Rejected", "type": "main", "index": 0 } ]
      ]
    },
    "Build Ack": {
      "main": [[ { "node": "Telegram: Send Ack", "type": "main", "index": 0 } ]]
    },
    "Submit to Orchestrator": {
      "main": [[ { "node": "Build Reply", "type": "main", "index": 0 } ]]
    },
    "Build Reply": {
      "main": [[ { "node": "Telegram: Send Reply", "type": "main", "index": 0 } ]]
    },
    "Handle Rejected": {
      "main": [[ { "node": "Telegram: Send Help", "type": "main", "index": 0 } ]]
    }
  },
  "settings": { "executionOrder": "v1", "errorWorkflow": "WORKFLOW-ERROR-ALERT" },
  "staticData": null,
  "tags": [
    { "name": "dev-loop" },
    { "name": "telegram" },
    { "name": "operator" }
  ],
  "triggerCount": 1,
  "pinData": {}
}
