n8n/workflows/US_AutoShop/telegram-task-intake.json
{
  "id": "TELEGRAM-TASK-INTAKE",
  "name": "US AutoShop: Telegram Task Intake",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "tg-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "tg-intake-webhook",
      "credentials": {
        "telegramApi": {
          "id": "telegram-creds",
          "name": "AutoShop Telegram"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Validate sender and parse Telegram message into a dev-loop task\nconst msg = $input.first().json;\nconst message = msg.message || {};\nconst text = (message.text || '').trim();\nconst chatId = message.chat?.id;\nconst senderId = message.from?.id;\nconst senderName = message.from?.first_name || 'operator';\n\n// Only accept messages from the configured operator chat\n// n8n Cloud: hardcoded fallback (env access blocked)\nconst allowedChatId = typeof $env !== 'undefined' && $env.TELEGRAM_CHAT_ID ? $env.TELEGRAM_CHAT_ID : '8747048300';\nif (allowedChatId && String(chatId) !== String(allowedChatId)) {\n  return [{ json: { rejected: true, reason: 'unauthorized_chat', chatId } }];\n}\n\n// Ignore empty messages and commands that aren't tasks\nif (!text || text.startsWith('/start') || text.startsWith('/help')) {\n  return [{ json: {\n    rejected: true,\n    reason: text ? 'command' : 'empty',\n    chatId,\n    help_response: 'Send a plain text message describing a task. Example:\\n\\nAdd a formatPhoneNumber utility in packages/shared/src/ that normalizes US numbers to E.164'\n  } }];\n}\n\n// Strip /task prefix if present\nlet taskText = text;\nif (taskText.startsWith('/task ')) {\n  taskText = taskText.substring(6).trim();\n}\n\n// Generate deterministic task_id from timestamp + short hash\nconst ts = Date.now();\nconst shortHash = ts.toString(36).slice(-6);\nconst taskId = `tg-${shortHash}`;\n\n// Extract title: first line or first 60 chars\nconst firstLine = taskText.split('\\n')[0];\nconst title = firstLine.length > 60 ? firstLine.substring(0, 57) + '...' : firstLine;\n\n// Build TaskContract\nconst task = {\n  task_id: taskId,\n  title: title,\n  goal: taskText,\n  scope_boundaries: [],\n  files_allowed: ['apps/api/**', 'packages/shared/**'],\n  files_forbidden: [\n    '**/auth/**', '**/billing/**', '**/stripe/**',\n    '**/twilio/**', '**/oauth/**', '**/provisioning/**',\n    '**/deploy/**', '**/migration/**'\n  ],\n  critical_systems_risk: false,\n  expected_output: [],\n  checks_required: ['typecheck']\n};\n\nreturn [{ json: {\n  rejected: false,\n  task,\n  chatId,\n  senderName,\n  messageId: message.message_id\n} }];"
      },
      "id": "tg-parse",
      "name": "Parse Message into Task",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "// Strict whitelist classifier: SIMPLE only for help/guidance messages\nconst parsed = $input.first().json;\nif (parsed.rejected) return [{ json: parsed }];\n\nconst text = (parsed.task.goal || '').toLowerCase().trim();\n\n// SIMPLE: only exact help/guidance patterns (strict whitelist)\nconst SIMPLE_WHITELIST = [\n  /^\\/?help$/,\n  /^\\/?start$/,\n  /^(hi|hello|hey)$/,\n  /^what (can|do) (i|you)/,\n  /^how (do|should|can) i (send|write|format|submit|use)/,\n  /^(give|show|send) (me )?(an? )?example/,\n  /^example/,\n  /^what (is|does) (simple|complex|this|the bot)/,\n  /^what (kind|type)s? of (task|message|request|command)/,\n  /^how does this (work|bot)/,\n  /^what (commands|options|formats?)/,\n  /^(commands|options|usage|guide|instructions)/,\n];\n\nconst isSimple = SIMPLE_WHITELIST.some(p => p.test(text));\n\nreturn [{ json: { ...parsed, classification: isSimple ? 'SIMPLE' : 'COMPLEX' } }];"
      },
      "id": "tg-classify",
      "name": "Classify Task",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [620, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{
            "id": "cond-simple",
            "leftValue": "={{ $json.classification }}",
            "rightValue": "SIMPLE",
            "operator": { "type": "string", "operation": "equals" }
          }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "tg-simple-gate",
      "name": "IF: Simple?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "jsCode": "// Static operator guidance for help/format questions\nconst parsed = $input.first().json;\n\nconst guide = 'AutoShop Dev-Loop Bot\\n\\n' +\n  'Send a task as a plain text message. It will be analyzed and executed by Claude.\\n\\n' +\n  'Task format examples:\\n' +\n  '  \"Add a formatPhoneNumber utility in packages/shared/src/\"\\n' +\n  '  \"Fix the calendar sync retry logic for 401 errors\"\\n' +\n  '  \"List all TypeScript files in apps/api/src/routes/\"\\n\\n' +\n  'What happens:\\n' +\n  '  1. Instant ack (1-2s)\\n' +\n  '  2. Claude analyzes and executes (30-60s)\\n' +\n  '  3. Result with status, decision, and branch\\n\\n' +\n  'Task types:\\n' +\n  '  - Implementation: add, fix, update, build, refactor\\n' +\n  '  - Analysis: list files, check status, find bugs\\n' +\n  '  - Questions about code: how does X work, what calls Y\\n\\n' +\n  'All messages go to full Claude execution unless they are help/format questions like this one.';\n\nreturn [{ json: {\n  chatId: parsed.chatId,\n  replyText: guide\n} }];"
      },
      "id": "tg-build-simple-reply",
      "name": "Build Simple Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.replyText }}",
        "additionalFields": {}
      },
      "id": "tg-send-simple",
      "name": "Telegram: Send Simple Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1350, 200],
      "credentials": {
        "telegramApi": {
          "id": "telegram-creds",
          "name": "AutoShop Telegram"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{
            "id": "cond-accepted",
            "leftValue": "={{ $json.rejected }}",
            "rightValue": false,
            "operator": { "type": "boolean", "operation": "equals" }
          }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "tg-gate",
      "name": "IF: Task Accepted",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 500]
    },
    {
      "parameters": {
        "jsCode": "const parsed = $('Parse Message into Task').first().json;\nconst task = parsed.task;\nconst title = task.title.length > 80 ? task.title.substring(0, 77) + '...' : task.title;\nreturn [{ json: {\n  chatId: parsed.chatId,\n  replyText: 'Task received: ' + title + '\\nAnalyzing...'\n} }];"
      },
      "id": "tg-build-ack",
      "name": "Build Ack",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 400]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.replyText }}",
        "additionalFields": {}
      },
      "id": "tg-send-ack",
      "name": "Telegram: Send Ack",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1350, 400],
      "credentials": {
        "telegramApi": {
          "id": "telegram-creds",
          "name": "AutoShop Telegram"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_BASE_URL || 'http://localhost:5678' }}/webhook/dev-loop-task",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Parse Message into Task').first().json.task) }}",
        "options": {
          "timeout": 300000,
          "response": { "response": { "neverError": true } }
        }
      },
      "id": "tg-submit-orchestrator",
      "name": "Submit to Orchestrator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1100, 600]
    },
    {
      "parameters": {
        "jsCode": "// Build final result message for Telegram\nconst parsed = $('Parse Message into Task').first().json;\nconst task = parsed.task;\nconst orchestratorResult = $input.first().json;\n\nlet status = 'submitted';\nlet decision = '';\nif (orchestratorResult.review_packet) {\n  const rp = orchestratorResult.review_packet;\n  status = rp.goal_match === 'full' ? 'done' : rp.goal_match || 'processing';\n  decision = rp.recommended_decision || '';\n} else if (orchestratorResult.action) {\n  decision = orchestratorResult.action;\n  if (orchestratorResult.action === 'ESCALATE') status = 'escalated';\n  else if (orchestratorResult.action === 'RETRY') status = 'retrying';\n  else status = 'done';\n} else if (orchestratorResult.error || orchestratorResult.statusCode >= 400) {\n  status = 'failed (orchestrator error)';\n}\n\nlet reply = `Task: ${task.task_id}\\n`;\nreply += `Title: ${task.title}\\n`;\nreply += `Status: ${status}\\n`;\nif (decision) reply += `Decision: ${decision}\\n`;\nif (orchestratorResult.review_packet?.branch) {\n  reply += `Branch: ${orchestratorResult.review_packet.branch}\\n`;\n}\n\nreturn [{ json: {\n  chatId: parsed.chatId,\n  replyText: reply\n} }];"
      },
      "id": "tg-build-reply",
      "name": "Build Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 600]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.replyText }}",
        "additionalFields": {}
      },
      "id": "tg-reply",
      "name": "Telegram: Send Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1600, 600],
      "credentials": {
        "telegramApi": {
          "id": "telegram-creds",
          "name": "AutoShop Telegram"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Handle rejected messages (unauthorized chat, empty, /help)\nconst data = $input.first().json;\n\nif (data.reason === 'command' || data.reason === 'empty') {\n  return [{ json: {\n    chatId: data.chatId,\n    replyText: data.help_response || 'Send a plain text message describing a task.'\n  } }];\n}\n\n// Unauthorized chat — do not respond (silent reject)\nreturn [];"
      },
      "id": "tg-handle-rejected",
      "name": "Handle Rejected",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 750]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.replyText }}",
        "additionalFields": {}
      },
      "id": "tg-reply-help",
      "name": "Telegram: Send Help",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1350, 750],
      "credentials": {
        "telegramApi": {
          "id": "telegram-creds",
          "name": "AutoShop Telegram"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[ { "node": "Parse Message into Task", "type": "main", "index": 0 } ]]
    },
    "Parse Message into Task": {
      "main": [[ { "node": "Classify Task", "type": "main", "index": 0 } ]]
    },
    "Classify Task": {
      "main": [[ { "node": "IF: Simple?", "type": "main", "index": 0 } ]]
    },
    "IF: Simple?": {
      "main": [
        [ { "node": "Build Simple Reply", "type": "main", "index": 0 } ],
        [ { "node": "IF: Task Accepted", "type": "main", "index": 0 } ]
      ]
    },
    "Build Simple Reply": {
      "main": [[ { "node": "Telegram: Send Simple Reply", "type": "main", "index": 0 } ]]
    },
    "IF: Task Accepted": {
      "main": [
        [
          { "node": "Build Ack", "type": "main", "index": 0 },
          { "node": "Submit to Orchestrator", "type": "main", "index": 0 }
        ],
        [ { "node": "Handle Rejected", "type": "main", "index": 0 } ]
      ]
    },
    "Build Ack": {
      "main": [[ { "node": "Telegram: Send Ack", "type": "main", "index": 0 } ]]
    },
    "Submit to Orchestrator": {
      "main": [[ { "node": "Build Reply", "type": "main", "index": 0 } ]]
    },
    "Build Reply": {
      "main": [[ { "node": "Telegram: Send Reply", "type": "main", "index": 0 } ]]
    },
    "Handle Rejected": {
      "main": [[ { "node": "Telegram: Send Help", "type": "main", "index": 0 } ]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [
    { "name": "dev-loop" },
    { "name": "telegram" },
    { "name": "operator" }
  ],
  "triggerCount": 1,
  "pinData": {}
}
