n8n/workflows/US_AutoShop/wf-enrich-emails-basic.json
{
  "id": "WF-ENRICH-EMAILS-BASIC",
  "name": "WF-ENRICH-EMAILS-BASIC",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "enrich-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger-enrich-emails",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "enrich-webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 500],
      "webhookId": "trigger-enrich-emails"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://autoshop-api-7ek9.onrender.com/internal/leads/pending-enrichment",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": { "timeout": 15000 }
      },
      "id": "enrich-fetch",
      "name": "HTTP - Fetch Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "LDBz85dzKMqLSZtp",
          "name": "x-internal-key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst leads = resp.leads || [];\nif (leads.length === 0) {\n  return [{ json: { _empty: true, count: 0 } }];\n}\nreturn leads.map(lead => ({ json: lead }));"
      },
      "id": "enrich-expand",
      "name": "Code - Expand Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "enrich-loop",
      "name": "Loop Over Leads",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nfunction normalizeDomain(val) {\n  if (!val || typeof val !== 'string') return null;\n  let v = val.trim().toLowerCase();\n  v = v.replace(/^https?:\\/\\//, '').replace(/^www\\./, '');\n  v = v.split('/')[0].split('?')[0].split('#')[0];\n  v = v.replace(/:\\d+$/, '');\n  if (!v || !v.includes('.')) return null;\n  return v;\n}\n\nconst domain = normalizeDomain(input.domain || input.website || '');\nif (!domain) {\n  return [{ json: { ...input, domain: null, url_candidates: [], build_error: 'invalid_domain' } }];\n}\n\nreturn [{\n  json: {\n    ...input, domain,\n    url_candidates: [\n      `https://${domain}`,\n      `https://${domain}/contact`,\n      `https://${domain}/about`\n    ]\n  }\n}];"
      },
      "id": "enrich-build-urls",
      "name": "Code - Build URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst urls = input.url_candidates || [];\nif (urls.length === 0) {\n  return [{ json: { ...input, url_to_fetch: null } }];\n}\nreturn urls.map(url => ({ json: { ...input, url_to_fetch: url } }));"
      },
      "id": "enrich-expand-urls",
      "name": "Code - Expand URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.url_to_fetch }}",
        "options": {
          "redirect": { "redirect": { "followRedirects": true } },
          "timeout": 10000,
          "response": { "response": { "responseFormat": "text" } },
          "allowUnauthorizedCerts": true
        }
      },
      "id": "enrich-fetch-page",
      "name": "HTTP Request - Fetch Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1750, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const httpItems = $input.all();\nconst expandItems = $('Code - Expand URLs').all();\n\nfunction norm(e) {\n  if (!e || typeof e !== 'string') return null;\n  let v = e.trim().toLowerCase().replace(/^mailto:/i, '').replace(/[),;]+$/, '').replace(/^['\\\"><\\s]+|[>'\\\">\\s]+$/g, '');\n  return /^[a-z0-9._%+\\-]+@[a-z0-9.\\-]+\\.[a-z]{2,}$/.test(v) ? v : null;\n}\n\nfunction pageType(u) {\n  const l = (u || '').toLowerCase();\n  if (l.includes('/contact')) return 'contact';\n  if (l.includes('/about')) return 'about';\n  return 'home';\n}\n\nreturn httpItems.map((httpItem, idx) => {\n  const resp = httpItem.json;\n  const lead = expandItems[idx]?.json || {};\n  const html = resp.data || resp.body || resp.response || resp.html || '';\n  const url = lead.url_to_fetch || '';\n  const results = [];\n  const seen = new Set();\n\n  if (html && typeof html === 'string') {\n    const mailtoRe = /mailto:([a-zA-Z0-9._%+\\-]+@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,})/gi;\n    let m;\n    while ((m = mailtoRe.exec(html)) !== null) {\n      const email = norm(m[1]);\n      if (!email || seen.has(email + '|mailto')) continue;\n      seen.add(email + '|mailto');\n      results.push({ email, source_type: 'mailto', source_url: url, page_type: pageType(url), email_domain: email.split('@')[1] });\n    }\n    const textRe = /([a-zA-Z0-9._%+\\-]+@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,})/g;\n    while ((m = textRe.exec(html)) !== null) {\n      const email = norm(m[1]);\n      if (!email || seen.has(email + '|text')) continue;\n      if (/\\.(png|jpg|jpeg|gif|svg|css|js|woff|woff2|ttf)$/i.test(email)) continue;\n      if (/^(noreply|no-reply|mailer-daemon|postmaster|webmaster)@/i.test(email)) continue;\n      seen.add(email + '|text');\n      results.push({ email, source_type: 'text', source_url: url, page_type: pageType(url), email_domain: email.split('@')[1] });\n    }\n  }\n  return { json: { ...lead, extracted_emails: results, extracted_count: results.length } };\n});"
      },
      "id": "enrich-extract",
      "name": "Code - Extract Emails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "enrich-aggregate",
      "name": "Aggregate URL Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [2250, 300]
    },
    {
      "parameters": {
        "jsCode": "const agg = $input.first().json;\nconst items = Array.isArray(agg.data) ? agg.data : [agg];\nconst lead = items[0] || {};\nconst leadDomain = (lead.domain || '').toLowerCase();\n\nfunction score(rec) {\n  let s = 0;\n  const prefix = rec.email.split('@')[0].toLowerCase();\n  const eDomain = rec.email.split('@')[1].toLowerCase();\n  if (leadDomain && eDomain === leadDomain) s += 50;\n  if (rec.source_type === 'mailto') s += 25;\n  if (rec.page_type === 'contact') s += 20;\n  else if (rec.page_type === 'home') s += 5;\n  else if (rec.page_type === 'about') s += 3;\n  if (['info', 'contact', 'service'].includes(prefix)) s += 10;\n  if (['support', 'hello', 'admin'].includes(prefix)) s -= 10;\n  if (['noreply', 'no-reply', 'postmaster', 'webmaster'].includes(prefix)) s -= 100;\n  return s;\n}\n\nconst unique = new Map();\nfor (const item of items) {\n  for (const rec of (item.extracted_emails || [])) {\n    if (!rec?.email) continue;\n    const e = rec.email.toLowerCase();\n    const scored = { ...rec, score: score(rec) };\n    if (!unique.has(e) || unique.get(e).score < scored.score) unique.set(e, scored);\n  }\n}\n\nconst ranked = [...unique.values()].sort((a, b) => b.score - a.score);\nconst best = ranked[0] || null;\n\nreturn [{\n  json: {\n    id: lead.id, business_name: lead.business_name, website: lead.website,\n    domain: lead.domain, email: lead.email, email_status: lead.email_status,\n    lead_status: lead.lead_status, outreach_status: lead.outreach_status,\n    ranked_emails: ranked, candidates_count: ranked.length,\n    best_email: best?.email || null,\n    best_email_source_url: best?.source_url || null,\n    best_email_score: best?.score || null\n  }\n}];"
      },
      "id": "enrich-rank",
      "name": "Code - Dedupe and Rank",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2500, 300]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst email = (input.best_email || '').toLowerCase().trim();\n\nif (!email) {\n  return [{ json: { ...input, valid_format: false, needs_mx_check: false, email_local: null, email_domain: null, risk: 'none' } }];\n}\n\nconst re = /^[a-z0-9._%+\\-]+@[a-z0-9.\\-]+\\.[a-z]{2,}$/;\nif (!re.test(email)) {\n  return [{ json: { ...input, valid_format: false, needs_mx_check: false, email_local: null, email_domain: null, risk: 'high' } }];\n}\n\nconst [local, domain] = email.split('@');\nconst disposable = new Set(['mailinator.com','guerrillamail.com','10minutemail.com','tempmail.com','yopmail.com']);\nconst blocked = new Set(['noreply','no-reply','postmaster','webmaster','mailer-daemon']);\nconst risky = new Set(['hello','support','admin','sales','team']);\n\nlet risk = 'low';\nlet valid = true;\nif (disposable.has(domain)) { risk = 'high'; valid = false; }\nelse if (blocked.has(local)) { risk = 'high'; valid = false; }\nelse if (risky.has(local)) { risk = 'medium'; }\n\nreturn [{ json: { ...input, valid_format: valid, needs_mx_check: valid, email_local: local, email_domain: domain, risk } }];"
      },
      "id": "enrich-validate",
      "name": "Code - Validate Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2750, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.needs_mx_check }}", "value2": true }]
        }
      },
      "id": "enrich-if-mx",
      "name": "IF - Needs MX Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [3000, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://dns.google/resolve?name={{ $json.email_domain }}&type=MX",
        "options": { "response": { "response": { "responseFormat": "json" } } }
      },
      "id": "enrich-mx",
      "name": "HTTP Request - MX Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3250, 200],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst lead = $('Code - Validate Format').first().json;\nconst input = { ...lead, ...resp };\n\nconst answers = Array.isArray(resp.Answer) ? resp.Answer : (Array.isArray((resp.body||{}).Answer) ? (resp.body||{}).Answer : []);\nconst hasMx = answers.some(a => Number(a.type) === 15);\nconst hasBest = !!input.best_email;\nconst validFmt = !!input.valid_format;\nconst risk = input.risk || 'low';\n\nlet final_email_status = 'not_found_scrape';\nlet final_lead_status = 'needs_enrichment';\nlet final_needs_manual_review = false;\n\nif (!hasBest) {\n  final_email_status = 'not_found_scrape';\n  final_lead_status = 'needs_enrichment';\n} else if (!validFmt) {\n  final_email_status = 'invalid';\n  final_lead_status = 'rejected';\n  final_needs_manual_review = true;\n} else if (!hasMx) {\n  final_email_status = 'invalid';\n  final_lead_status = 'rejected';\n} else if (risk === 'medium') {\n  final_email_status = 'risky';\n  final_lead_status = 'approved';\n  final_needs_manual_review = true;\n} else {\n  final_email_status = 'verified';\n  final_lead_status = 'approved';\n}\n\nreturn [{\n  json: {\n    id: input.id, business_name: input.business_name, website: input.website,\n    domain: input.domain, best_email: input.best_email || null,\n    best_email_source_url: input.best_email_source_url || null,\n    mx_passed: hasMx, final_email_status, final_lead_status,\n    final_needs_manual_review,\n    final_email: hasBest ? input.best_email : null,\n    final_email_source_url: hasBest ? input.best_email_source_url : null\n  }\n}];"
      },
      "id": "enrich-finalize",
      "name": "Code - Parse MX and Finalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3500, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://autoshop-api-7ek9.onrender.com/internal/leads/{{ $json.id }}/enrichment",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ final_email: $json.final_email, final_email_status: $json.final_email_status, final_email_source_url: $json.final_email_source_url, final_lead_status: $json.final_lead_status, final_needs_manual_review: $json.final_needs_manual_review }) }}",
        "options": { "timeout": 15000 }
      },
      "id": "enrich-update",
      "name": "HTTP - API Update Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3750, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "LDBz85dzKMqLSZtp",
          "name": "x-internal-key"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "HTTP - Fetch Leads", "type": "main", "index": 0 }]]
    },
    "Webhook Trigger": {
      "main": [[{ "node": "HTTP - Fetch Leads", "type": "main", "index": 0 }]]
    },
    "HTTP - Fetch Leads": {
      "main": [[{ "node": "Code - Expand Leads", "type": "main", "index": 0 }]]
    },
    "Code - Expand Leads": {
      "main": [[{ "node": "Loop Over Leads", "type": "main", "index": 0 }]]
    },
    "Loop Over Leads": {
      "main": [
        [{ "node": "Code - Build URLs", "type": "main", "index": 0 }],
        []
      ]
    },
    "Code - Build URLs": {
      "main": [[{ "node": "Code - Expand URLs", "type": "main", "index": 0 }]]
    },
    "Code - Expand URLs": {
      "main": [[{ "node": "HTTP Request - Fetch Page", "type": "main", "index": 0 }]]
    },
    "HTTP Request - Fetch Page": {
      "main": [[{ "node": "Code - Extract Emails", "type": "main", "index": 0 }]]
    },
    "Code - Extract Emails": {
      "main": [[{ "node": "Aggregate URL Results", "type": "main", "index": 0 }]]
    },
    "Aggregate URL Results": {
      "main": [[{ "node": "Code - Dedupe and Rank", "type": "main", "index": 0 }]]
    },
    "Code - Dedupe and Rank": {
      "main": [[{ "node": "Code - Validate Format", "type": "main", "index": 0 }]]
    },
    "Code - Validate Format": {
      "main": [[{ "node": "IF - Needs MX Check", "type": "main", "index": 0 }]]
    },
    "IF - Needs MX Check": {
      "main": [
        [{ "node": "HTTP Request - MX Check", "type": "main", "index": 0 }],
        [{ "node": "Code - Parse MX and Finalize", "type": "main", "index": 0 }]
      ]
    },
    "HTTP Request - MX Check": {
      "main": [[{ "node": "Code - Parse MX and Finalize", "type": "main", "index": 0 }]]
    },
    "Code - Parse MX and Finalize": {
      "main": [[{ "node": "HTTP - API Update Lead", "type": "main", "index": 0 }]]
    },
    "HTTP - API Update Lead": {
      "main": [[{ "node": "Loop Over Leads", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "enrichment" }, { "name": "email" }]
}
