n8n/workflows/US_AutoShop/wf-linkedin-autoposter.json
{
  "id": "RQvLlhiZP5a0z0BD",
  "name": "US AutoShop: LinkedIn Auto-Poster",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 15 * * 1,3,5"
            }
          ]
        }
      },
      "id": "li-schedule",
      "name": "Schedule: MWF 10am CT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        250,
        300
      ],
      "notes": "15:00 UTC = 10:00 AM Central"
    },
    {
      "parameters": {
        "jsCode": "const day = new Date().getDay();\nconst types = { 1: 'pain_point', 3: 'case_study', 5: 'tips' };\nconst type = types[day] || 'pain_point';\nconst prompts = {\n  pain_point: { type: 'pain_point', instruction: 'Write a LinkedIn post (150-200 words) for AutoShop SMS AI targeting auto repair shop owners. Focus on the PAIN POINT of missed calls costing shops real revenue. Include a specific stat or scenario (e.g. The average missed call costs an auto shop $250-$700 in lost repair revenue). Tone: professional, empathetic, solution-oriented. Do NOT be salesy. End with a soft CTA mentioning autoshopsmsai.com. Use 2-3 relevant hashtags at the end. No emojis in the first line.' },\n  case_study: { type: 'case_study', instruction: 'Write a LinkedIn post (150-200 words) for AutoShop SMS AI in a case-study style. Share realistic stats about how AI-powered SMS booking helps auto repair shops. Use a narrative format. Tone: credible, data-informed, conversational. End with a soft CTA mentioning autoshopsmsai.com. Use 2-3 relevant hashtags at the end. No emojis in the first line.' },\n  tips: { type: 'tips', instruction: 'Write a LinkedIn post (150-200 words) for AutoShop SMS AI offering practical advice to auto repair shop owners. Share 3 actionable tips about improving customer communication, reducing no-shows, or capturing more revenue from inbound calls. Tone: helpful, expert, peer-to-peer. End with a soft mention of autoshopsmsai.com as a resource. Use 2-3 relevant hashtags at the end. No emojis in the first line.' }\n};\nreturn [{ json: prompts[type] }];"
      },
      "id": "li-select-type",
      "name": "Select Post Type",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 1024, messages: [{ role: 'user', content: $json.instruction }] }) }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "li-claude-generate",
      "name": "Claude: Generate Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        710,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nlet postText = '';\nif (resp.content && resp.content[0] && resp.content[0].text) {\n  postText = resp.content[0].text.trim();\n} else {\n  throw new Error('Claude API error: ' + JSON.stringify(resp).slice(0, 500));\n}\nconst postType = $('Select Post Type').first().json.type;\nreturn [{ json: { postText, postType, generatedAt: new Date().toISOString() } }];"
      },
      "id": "li-extract-post",
      "name": "Extract Post Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.OPENAI_API_KEY }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'dall-e-3', prompt: 'Professional LinkedIn post image for an auto repair shop AI software company. Dark navy blue background with orange accent elements. Show a modern auto repair shop environment with subtle tech/AI overlay. Clean, minimal, corporate style. No text on the image. Photorealistic, high quality, 16:9 aspect ratio. Theme: ' + $json.postType.replace('_', ' '), n: 1, size: '1792x1024', quality: 'standard' }) }}",
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "li-dalle-image",
      "name": "DALL-E: Generate Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1170,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst post = $('Extract Post Text').first().json;\nlet dalleUrl = '';\nif (resp.data && resp.data[0] && resp.data[0].url) {\n  dalleUrl = resp.data[0].url;\n}\nreturn [{ json: { dalleUrl, postText: post.postText, postType: post.postType, generatedAt: post.generatedAt } }];"
      },
      "id": "li-extract-dalle",
      "name": "Extract DALL-E URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ \"https://api.telegram.org/bot\" + $env.TELEGRAM_BOT_TOKEN + \"/sendPhoto\" }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: '8747048300', photo: $json.dalleUrl, caption: 'LinkedIn post image (' + $json.postType.replace('_', ' ') + ')' }) }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "li-send-photo",
      "name": "Telegram: Send Photo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1630,
        300
      ],
      "notes": "Sends DALL-E image to Telegram immediately. Telegram hosts it permanently."
    },
    {
      "parameters": {
        "jsCode": "const d = $('Extract DALL-E URL').first().json;\nconst tg = $input.first().json;\nlet tgFileId = '';\nif (tg.ok && tg.result && tg.result.photo) {\n  const photos = tg.result.photo;\n  tgFileId = photos[photos.length - 1].file_id;\n}\nreturn [{ json: {\n  postText: d.postText,\n  postType: d.postType,\n  generatedAt: d.generatedAt,\n  imageUrl: tgFileId || d.dalleUrl,\n  status: 'pending_review'\n} }];"
      },
      "id": "li-merge-content",
      "name": "Merge Post + Image",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1860,
        300
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1MaI1ohFNHAW4xayh7frWMIlMvxwv0UdufF7BDSMnM4I"
        },
        "sheetName": {
          "__rl": true,
          "mode": "byName",
          "value": "Posts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $json.generatedAt }}",
            "post_type": "={{ $json.postType }}",
            "post_text": "={{ $json.postText }}",
            "image_url": "={{ $json.imageUrl }}",
            "status": "={{ $json.status }}"
          }
        },
        "options": {}
      },
      "id": "li-save-sheet",
      "name": "Google Sheets: Save Post",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2090,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "APKOpIYNrXjjc3U7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('Merge Post + Image').first().json;\nconst execId = $execution.id;\nconst base = 'https://bandomasis.app.n8n.cloud/webhook-waiting/' + execId;\n\nconst labels = { pain_point: 'Pain Point', case_study: 'Case Study', tips: 'Tips & Advice' };\n\nlet msg = 'LINKEDIN POST READY FOR REVIEW\\n\\n';\nmsg += 'Type: ' + (labels[data.postType] || data.postType) + '\\n';\nmsg += 'Generated: ' + data.generatedAt + '\\n\\n';\nmsg += '--- FULL POST ---\\n';\nmsg += data.postText + '\\n';\nmsg += '--- END ---\\n\\n';\nmsg += 'APPROVE:\\n' + base + '?action=approve\\n\\n';\nmsg += 'SKIP:\\n' + base + '?action=skip';\n\nreturn [{ json: { chatId: '8747048300', text: msg } }];"
      },
      "id": "li-build-telegram",
      "name": "Build Telegram Preview",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "id": "li-send-telegram",
      "name": "Telegram: Send Preview",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2550,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "bPrClfXl0avUTqnO",
          "name": "AutoShop Telegram"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "id": "li-wait-approval",
      "name": "Wait for Approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2780,
        300
      ],
      "webhookId": "li-wait-approval",
      "notes": "Pauses until user clicks APPROVE or SKIP link from Telegram. No webhook conflict."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-approve",
              "leftValue": "={{ $json.query.action }}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "li-approval-gate",
      "name": "IF: Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3010,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const post = $('Merge Post + Image').first().json;\nreturn [{ json: { postText: post.postText, imageUrl: post.imageUrl, postType: post.postType } }];"
      },
      "id": "li-get-post-data",
      "name": "Get Post Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3240,
        200
      ],
      "notes": "Pulls post from earlier in same execution. Wait node preserves full context."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.LINKEDIN_ACCESS_TOKEN }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "X-Restli-Protocol-Version",
              "value": "2.0.0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ author: 'urn:li:organization:112782635', lifecycleState: 'PUBLISHED', specificContent: { 'com.linkedin.ugc.ShareContent': { shareCommentary: { text: $json.postText }, shareMediaCategory: 'NONE' } }, visibility: { 'com.linkedin.ugc.MemberNetworkVisibility': 'PUBLIC' } }) }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "li-post-linkedin",
      "name": "LinkedIn: Publish Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3470,
        200
      ],
      "notes": "Text-only post to LinkedIn Company Page via UGC API."
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst success = !!resp.id;\nconst msg = success\n  ? 'LinkedIn post published! Post ID: ' + resp.id\n  : 'LinkedIn post FAILED: ' + JSON.stringify(resp).slice(0, 500);\nreturn [{ json: { chatId: '8747048300', text: msg, success } }];"
      },
      "id": "li-post-result",
      "name": "Build Result Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3700,
        200
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "id": "li-confirm-telegram",
      "name": "Telegram: Confirm Result",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3930,
        200
      ],
      "credentials": {
        "telegramApi": {
          "id": "bPrClfXl0avUTqnO",
          "name": "AutoShop Telegram"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8747048300",
        "text": "LinkedIn post skipped.",
        "additionalFields": {}
      },
      "id": "li-skip-telegram",
      "name": "Telegram: Skipped",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3240,
        450
      ],
      "credentials": {
        "telegramApi": {
          "id": "bPrClfXl0avUTqnO",
          "name": "AutoShop Telegram"
        }
      }
    }
  ],
  "connections": {
    "Schedule: MWF 10am CT": {
      "main": [
        [
          {
            "node": "Select Post Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Post Type": {
      "main": [
        [
          {
            "node": "Claude: Generate Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude: Generate Post": {
      "main": [
        [
          {
            "node": "Extract Post Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Post Text": {
      "main": [
        [
          {
            "node": "DALL-E: Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DALL-E: Generate Image": {
      "main": [
        [
          {
            "node": "Extract DALL-E URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract DALL-E URL": {
      "main": [
        [
          {
            "node": "Telegram: Send Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram: Send Photo": {
      "main": [
        [
          {
            "node": "Merge Post + Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Post + Image": {
      "main": [
        [
          {
            "node": "Google Sheets: Save Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets: Save Post": {
      "main": [
        [
          {
            "node": "Build Telegram Preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Telegram Preview": {
      "main": [
        [
          {
            "node": "Telegram: Send Preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram: Send Preview": {
      "main": [
        [
          {
            "node": "Wait for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Approval": {
      "main": [
        [
          {
            "node": "IF: Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Approved?": {
      "main": [
        [
          {
            "node": "Get Post Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram: Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Post Data": {
      "main": [
        [
          {
            "node": "LinkedIn: Publish Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn: Publish Post": {
      "main": [
        [
          {
            "node": "Build Result Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Result Message": {
      "main": [
        [
          {
            "node": "Telegram: Confirm Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Chicago",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "tags": [
    {
      "name": "US_AutoShop"
    },
    {
      "name": "marketing"
    },
    {
      "name": "linkedin"
    }
  ],
  "meta": {
    "description": "LinkedIn auto-poster with Claude + DALL-E + Telegram approval + Wait webhook. No TelegramTrigger (avoids webhook conflicts).",
    "bugs_fixed": [
      "BUG 3: TelegramTrigger replaced with Wait webhook",
      "BUG 4: Fetch stub replaced with execution context",
      "BUG 2: Image sent to Telegram immediately before URL expires",
      "BUG 7: Full post text in preview (no truncation)",
      "BUG 5: Requires Posts tab with headers: date|post_type|post_text|image_url|status"
    ]
  }
}