n8n/workflows/US_AutoShop/wf-linkedin-autoposter.json
{
  "id": "LINKEDIN-AUTOPOSTER",
  "name": "US AutoShop: LinkedIn Auto-Poster",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 15 * * 1,3,5"
            }
          ]
        }
      },
      "id": "li-schedule",
      "name": "Schedule: Mon/Wed/Fri 10am CT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 400],
      "notes": "Cron runs at 15:00 UTC = 10:00 AM Central Time"
    },
    {
      "parameters": {
        "jsCode": "// Rotate post type based on day of week\n// Mon = pain_point, Wed = case_study, Fri = tips\nconst dayOfWeek = new Date().getDay();\n\nconst postTypes = {\n  1: 'pain_point',\n  3: 'case_study',\n  5: 'tips'\n};\n\nconst type = postTypes[dayOfWeek] || 'pain_point';\n\nconst prompts = {\n  pain_point: {\n    type: 'pain_point',\n    instruction: `Write a LinkedIn post (150-200 words) for AutoShop SMS AI targeting auto repair shop owners. Focus on the PAIN POINT of missed calls costing shops real revenue. Include a specific stat or scenario (e.g., \"The average missed call costs an auto shop $250-$700 in lost repair revenue\"). Tone: professional, empathetic, solution-oriented. Do NOT be salesy — educate first. End with a soft CTA mentioning autoshopsmsai.com. Use 2-3 relevant hashtags at the end. No emojis in the first line.`\n  },\n  case_study: {\n    type: 'case_study',\n    instruction: `Write a LinkedIn post (150-200 words) for AutoShop SMS AI in a case-study style. Share realistic stats about how AI-powered SMS booking helps auto repair shops (e.g., \"Shops using automated SMS follow-up recover 35-40% of missed calls as booked appointments\"). Use a narrative format — paint a before/after picture for a typical independent shop. Tone: credible, data-informed, conversational. End with a soft CTA mentioning autoshopsmsai.com. Use 2-3 relevant hashtags at the end. No emojis in the first line.`\n  },\n  tips: {\n    type: 'tips',\n    instruction: `Write a LinkedIn post (150-200 words) for AutoShop SMS AI offering practical advice to auto repair shop owners. Share 3 actionable tips about improving customer communication, reducing no-shows, or capturing more revenue from inbound calls. Tone: helpful, expert, peer-to-peer (as if one shop owner advising another). End with a soft mention of autoshopsmsai.com as a resource. Use 2-3 relevant hashtags at the end. No emojis in the first line.`\n  }\n};\n\nreturn [{ json: prompts[type] }];"
      },
      "id": "li-select-type",
      "name": "Select Post Type",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 1024, messages: [{ role: 'user', content: $json.instruction }] }) }}",
        "options": {
          "timeout": 30000,
          "response": { "response": { "neverError": true } }
        }
      },
      "id": "li-claude-generate",
      "name": "Claude: Generate Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [750, 400]
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nlet postText = '';\n\nif (resp.content && resp.content[0] && resp.content[0].text) {\n  postText = resp.content[0].text.trim();\n} else {\n  throw new Error('Claude API returned unexpected response: ' + JSON.stringify(resp).slice(0, 500));\n}\n\n// Get post type from earlier node\nconst postType = $('Select Post Type').first().json.type;\n\nreturn [{ json: { postText, postType, generatedAt: new Date().toISOString() } }];"
      },
      "id": "li-extract-post",
      "name": "Extract Post Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.OPENAI_API_KEY }}" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'dall-e-3', prompt: 'Professional LinkedIn post image for an auto repair shop AI software company. Dark navy blue background with orange accent elements. Show a modern auto repair shop environment with subtle tech/AI overlay — clean, minimal, corporate style. No text on the image. Photorealistic, high quality, 16:9 aspect ratio. Theme: ' + $json.postType.replace('_', ' '), n: 1, size: '1792x1024', quality: 'standard' }) }}",
        "options": {
          "timeout": 60000,
          "response": { "response": { "neverError": true } }
        }
      },
      "id": "li-dalle-image",
      "name": "DALL-E: Generate Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "jsCode": "const imageResp = $input.first().json;\nconst postData = $('Extract Post Text').first().json;\n\nlet imageUrl = '';\nif (imageResp.data && imageResp.data[0] && imageResp.data[0].url) {\n  imageUrl = imageResp.data[0].url;\n} else {\n  imageUrl = 'IMAGE_GENERATION_FAILED';\n}\n\nreturn [{ json: {\n  postText: postData.postText,\n  postType: postData.postType,\n  imageUrl: imageUrl,\n  generatedAt: postData.generatedAt,\n  status: 'pending_review'\n} }];"
      },
      "id": "li-merge-content",
      "name": "Merge Post + Image",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 400]
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $env.LINKEDIN_POSTS_SHEET_ID }}" },
        "sheetName": { "__rl": true, "mode": "byName", "value": "Posts" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $json.generatedAt }}",
            "post_type": "={{ $json.postType }}",
            "post_text": "={{ $json.postText }}",
            "image_url": "={{ $json.imageUrl }}",
            "status": "={{ $json.status }}"
          }
        },
        "options": {}
      },
      "id": "li-save-sheet",
      "name": "Google Sheets: Save Post",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1750, 400],
      "credentials": { "googleSheetsOAuth2Api": { "id": "GOOGLE_SHEETS_CRED_ID", "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst typeLabels = {\n  pain_point: '🔴 Pain Point',\n  case_study: '📊 Case Study',\n  tips: '💡 Tips & Advice'\n};\n\nconst preview = data.postText.length > 300 ? data.postText.slice(0, 300) + '...' : data.postText;\n\nlet msg = '📋 LINKEDIN POST READY FOR REVIEW\\n\\n';\nmsg += 'Type: ' + (typeLabels[data.postType] || data.postType) + '\\n';\nmsg += 'Generated: ' + data.generatedAt + '\\n\\n';\nmsg += '--- POST PREVIEW ---\\n';\nmsg += preview + '\\n';\nmsg += '--- END PREVIEW ---\\n\\n';\n\nif (data.imageUrl && data.imageUrl !== 'IMAGE_GENERATION_FAILED') {\n  msg += '🖼 Image: ' + data.imageUrl + '\\n\\n';\n} else {\n  msg += '⚠️ Image generation failed — manual image needed\\n\\n';\n}\n\nmsg += 'Reply APPROVE to post to LinkedIn\\n';\nmsg += 'Reply SKIP to skip this post\\n';\nmsg += 'Reply EDIT: <your changes> to request edits';\n\nreturn [{ json: { chatId: '8747048300', text: msg, postText: data.postText, imageUrl: data.imageUrl, postType: data.postType } }];"
      },
      "id": "li-build-telegram",
      "name": "Build Telegram Preview",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 400]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "id": "li-send-telegram",
      "name": "Telegram: Send Preview",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2250, 400],
      "credentials": { "telegramApi": { "id": "TELEGRAM_CRED_ID", "name": "Telegram Bot" } }
    },
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "li-telegram-wait",
      "name": "Telegram Trigger: Wait for Reply",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [250, 800],
      "webhookId": "linkedin-approval-webhook",
      "credentials": { "telegramApi": { "id": "TELEGRAM_CRED_ID", "name": "Telegram Bot" } },
      "notes": "This is a separate trigger that listens for approval replies. Connect to the approval router below."
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first().json;\nconst text = (msg.message?.text || '').trim().toUpperCase();\n\nlet action = 'ignore';\n\nif (text === 'APPROVE') {\n  action = 'approve';\n} else if (text === 'SKIP') {\n  action = 'skip';\n} else if (text.startsWith('EDIT:')) {\n  action = 'edit';\n}\n\nreturn [{ json: { action, rawText: msg.message?.text || '', chatId: msg.message?.chat?.id } }];"
      },
      "id": "li-parse-reply",
      "name": "Parse Approval Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 800]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{
            "id": "cond-approve",
            "leftValue": "={{ $json.action }}",
            "rightValue": "approve",
            "operator": { "type": "string", "operation": "equals" }
          }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "li-approval-gate",
      "name": "IF: Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 800]
    },
    {
      "parameters": {
        "jsCode": "// Retrieve the most recent pending post from Google Sheets\n// In production, this would read the latest 'pending_review' row\n// For now, pass through with placeholder — the sheet lookup node should be wired here\n\nconst postText = $env.LINKEDIN_PENDING_POST || 'Post text not found — check Google Sheet';\nconst imageUrl = $env.LINKEDIN_PENDING_IMAGE || '';\n\nreturn [{ json: {\n  postText,\n  imageUrl,\n  visibility: 'PUBLIC'\n} }];"
      },
      "id": "li-fetch-pending",
      "name": "Fetch Pending Post",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 700],
      "notes": "TODO: Replace with Google Sheets lookup for latest pending_review row. Using env vars as placeholder."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.LINKEDIN_ACCESS_TOKEN }}" },
            { "name": "content-type", "value": "application/json" },
            { "name": "X-Restli-Protocol-Version", "value": "2.0.0" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ author: 'urn:li:organization:' + $env.LINKEDIN_ORG_ID, lifecycleState: 'PUBLISHED', specificContent: { 'com.linkedin.ugc.ShareContent': { shareCommentary: { text: $json.postText }, shareMediaCategory: $json.imageUrl ? 'IMAGE' : 'NONE' } }, visibility: { 'com.linkedin.ugc.MemberNetworkVisibility': 'PUBLIC' } }) }}",
        "options": {
          "timeout": 30000,
          "response": { "response": { "neverError": true } }
        }
      },
      "id": "li-post-linkedin",
      "name": "LinkedIn: Publish Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 700],
      "notes": "Posts to LinkedIn Company Page. Requires valid OAuth token with w_organization_social scope."
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst success = resp.id ? true : false;\n\nlet msg;\nif (success) {\n  msg = '✅ LinkedIn post published successfully!\\nPost ID: ' + resp.id;\n} else {\n  msg = '❌ LinkedIn post FAILED\\nError: ' + JSON.stringify(resp).slice(0, 500);\n}\n\nreturn [{ json: { chatId: '8747048300', text: msg, success } }];"
      },
      "id": "li-post-result",
      "name": "Build Result Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 700]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "id": "li-confirm-telegram",
      "name": "Telegram: Confirm Result",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1750, 700],
      "credentials": { "telegramApi": { "id": "TELEGRAM_CRED_ID", "name": "Telegram Bot" } }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "⏭ LinkedIn post skipped.",
        "additionalFields": {}
      },
      "id": "li-skip-telegram",
      "name": "Telegram: Skipped",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1000, 900],
      "credentials": { "telegramApi": { "id": "TELEGRAM_CRED_ID", "name": "Telegram Bot" } }
    }
  ],
  "connections": {
    "Schedule: Mon/Wed/Fri 10am CT": {
      "main": [[{ "node": "Select Post Type", "type": "main", "index": 0 }]]
    },
    "Select Post Type": {
      "main": [[{ "node": "Claude: Generate Post", "type": "main", "index": 0 }]]
    },
    "Claude: Generate Post": {
      "main": [[{ "node": "Extract Post Text", "type": "main", "index": 0 }]]
    },
    "Extract Post Text": {
      "main": [[{ "node": "DALL-E: Generate Image", "type": "main", "index": 0 }]]
    },
    "DALL-E: Generate Image": {
      "main": [[{ "node": "Merge Post + Image", "type": "main", "index": 0 }]]
    },
    "Merge Post + Image": {
      "main": [[{ "node": "Google Sheets: Save Post", "type": "main", "index": 0 }]]
    },
    "Google Sheets: Save Post": {
      "main": [[{ "node": "Build Telegram Preview", "type": "main", "index": 0 }]]
    },
    "Build Telegram Preview": {
      "main": [[{ "node": "Telegram: Send Preview", "type": "main", "index": 0 }]]
    },
    "Telegram Trigger: Wait for Reply": {
      "main": [[{ "node": "Parse Approval Reply", "type": "main", "index": 0 }]]
    },
    "Parse Approval Reply": {
      "main": [[{ "node": "IF: Approved?", "type": "main", "index": 0 }]]
    },
    "IF: Approved?": {
      "main": [
        [{ "node": "Fetch Pending Post", "type": "main", "index": 0 }],
        [{ "node": "Telegram: Skipped", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Pending Post": {
      "main": [[{ "node": "LinkedIn: Publish Post", "type": "main", "index": 0 }]]
    },
    "LinkedIn: Publish Post": {
      "main": [[{ "node": "Build Result Message", "type": "main", "index": 0 }]]
    },
    "Build Result Message": {
      "main": [[{ "node": "Telegram: Confirm Result", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Chicago"
  },
  "tags": [
    { "name": "US_AutoShop" },
    { "name": "marketing" },
    { "name": "linkedin" }
  ],
  "meta": {
    "description": "Generates LinkedIn posts for AutoShop SMS AI on Mon/Wed/Fri at 10am CT. Uses Claude API for copywriting, DALL-E for images, Google Sheets for review tracking, and Telegram for approval flow before publishing to LinkedIn Company Page.",
    "envVars": [
      "ANTHROPIC_API_KEY",
      "OPENAI_API_KEY",
      "LINKEDIN_CLIENT_ID",
      "LINKEDIN_CLIENT_SECRET",
      "LINKEDIN_ACCESS_TOKEN",
      "LINKEDIN_ORG_ID",
      "LINKEDIN_POSTS_SHEET_ID"
    ],
    "credentials": [
      "telegramApi — Telegram Bot for notifications and approval",
      "googleSheetsOAuth2Api — Google Sheets for post tracking"
    ]
  }
}
