n8n/workflows/US_AutoShop/wf-prepare-smartlead-export.json
{
  "id": "WF-PREPARE-SMARTLEAD-EXPORT",
  "name": "WF-PREPARE-SMARTLEAD-EXPORT",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "export-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger-prepare-export",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "export-webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 500],
      "webhookId": "trigger-prepare-export"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://autoshopsmsai.com/internal/leads/export-candidates",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": { "timeout": 15000 }
      },
      "id": "export-fetch",
      "name": "HTTP - Fetch Export Candidates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "LDBz85dzKMqLSZtp",
          "name": "x-internal-key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst items = resp.leads || [];\nif (items.length === 0) {\n  return [{ json: { _empty: true, count: 0 } }];\n}\nreturn items.map(item => ({ json: item }));"
      },
      "id": "export-expand",
      "name": "Code - Expand Candidates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction normEmail(e) {\n  if (!e || typeof e !== 'string') return null;\n  return e.trim().toLowerCase();\n}\n\nfunction normDomain(d) {\n  if (!d || typeof d !== 'string') return null;\n  let v = d.trim().toLowerCase();\n  v = v.replace(/^https?:\\/\\//, '').replace(/^www\\./, '');\n  v = v.split('/')[0].split('?')[0].split('#')[0];\n  v = v.replace(/:\\d+$/, '');\n  return (v && v.includes('.')) ? v : null;\n}\n\nfunction isValidEmail(e) {\n  return /^[a-z0-9._%+\\-]+@[a-z0-9.\\-]+\\.[a-z]{2,}$/.test(e);\n}\n\nconst results = [];\n\nfor (const item of items) {\n  const r = item.json;\n  const email = normEmail(r.email);\n  const domain = normDomain(r.domain);\n  const bizName = (r.business_name || '').trim();\n\n  const missing = [];\n  if (!email) missing.push('email');\n  if (!domain) missing.push('domain');\n  if (!isValidEmail(email || '')) missing.push('email_format');\n  if (!r.id) missing.push('id');\n  if (!bizName) missing.push('business_name');\n\n  const valid = missing.length === 0;\n\n  results.push({\n    json: {\n      id: r.id, business_name: bizName, website: r.website || null,\n      domain, email, email_status: r.email_status, lead_status: r.lead_status,\n      outreach_status: r.outreach_status, export_status: r.export_status,\n      smartlead_status: r.smartlead_status,\n      needs_manual_review: r.needs_manual_review || false,\n      created_at: r.created_at, updated_at: r.updated_at,\n      _valid: valid, _missing_fields: missing,\n      _norm_email: email, _norm_domain: domain,\n      _norm_biz: bizName.toLowerCase().replace(/[^a-z0-9]/g, '')\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "export-normalize",
      "name": "Code - Normalize and Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst valid = [];\nconst blocked = [];\n\nfor (const item of items) {\n  const r = item.json;\n  if (!r._valid) {\n    blocked.push({ ...r, export_decision: 'blocked', smartlead_decision: 'not_exportable', review_decision: true, decision_reason: 'missing_fields:' + (r._missing_fields || []).join(',') });\n  } else {\n    valid.push(r);\n  }\n}\n\nconst byEmail = new Map();\nfor (const r of valid) {\n  const key = r._norm_email;\n  if (!byEmail.has(key)) byEmail.set(key, []);\n  byEmail.get(key).push(r);\n}\n\nfunction pickWinner(rows) {\n  return rows.sort((a, b) => {\n    const aV = a.email_status === 'verified' ? 1 : 0;\n    const bV = b.email_status === 'verified' ? 1 : 0;\n    if (bV !== aV) return bV - aV;\n    const aB = a.business_name ? 1 : 0;\n    const bB = b.business_name ? 1 : 0;\n    if (bB !== aB) return bB - aB;\n    return new Date(a.created_at || 0).getTime() - new Date(b.created_at || 0).getTime();\n  })[0];\n}\n\nconst emailWinners = new Map();\nconst emailDupes = [];\n\nfor (const [email, rows] of byEmail) {\n  if (rows.length === 1) {\n    emailWinners.set(rows[0].id, rows[0]);\n  } else {\n    const winner = pickWinner([...rows]);\n    emailWinners.set(winner.id, winner);\n    for (const r of rows) {\n      if (r.id !== winner.id) {\n        emailDupes.push({ ...r, export_decision: 'duplicate', smartlead_decision: 'not_exportable', review_decision: true, decision_reason: 'email_duplicate_of:' + winner.id });\n      }\n    }\n  }\n}\n\nconst byDomain = new Map();\nfor (const [id, r] of emailWinners) {\n  const key = r._norm_domain;\n  if (!byDomain.has(key)) byDomain.set(key, []);\n  byDomain.get(key).push(r);\n}\n\nfunction isObviousDuplicate(a, b) {\n  if (!a || !b) return false;\n  if (a === b) return true;\n  if (a.includes(b) && b.length >= 3) return true;\n  if (b.includes(a) && a.length >= 3) return true;\n  return false;\n}\n\nconst domainDupes = [];\nconst winners = new Map();\n\nfor (const [domain, rows] of byDomain) {\n  if (rows.length === 1) { winners.set(rows[0].id, rows[0]); continue; }\n  const groups = [];\n  const assigned = new Set();\n  for (let i = 0; i < rows.length; i++) {\n    if (assigned.has(i)) continue;\n    const group = [rows[i]];\n    assigned.add(i);\n    for (let j = i + 1; j < rows.length; j++) {\n      if (assigned.has(j)) continue;\n      if (isObviousDuplicate(rows[i]._norm_biz, rows[j]._norm_biz)) {\n        group.push(rows[j]); assigned.add(j);\n      }\n    }\n    groups.push(group);\n  }\n  for (const group of groups) {\n    if (group.length === 1) { winners.set(group[0].id, group[0]); }\n    else {\n      const winner = pickWinner([...group]);\n      winners.set(winner.id, winner);\n      for (const r of group) {\n        if (r.id !== winner.id) {\n          domainDupes.push({ ...r, export_decision: 'duplicate', smartlead_decision: 'not_exportable', review_decision: true, decision_reason: 'domain_duplicate_of:' + winner.id });\n        }\n      }\n    }\n  }\n}\n\nconst ready = [];\nfor (const [id, r] of winners) {\n  const isRisky = r.email_status === 'risky';\n  ready.push({ ...r, export_decision: 'ready', smartlead_decision: 'pending_export', review_decision: isRisky ? true : r.needs_manual_review, decision_reason: isRisky ? 'risky_email' : 'clean' });\n}\n\nreturn [...ready, ...blocked, ...emailDupes, ...domainDupes].map(r => ({ json: r }));"
      },
      "id": "export-dedup",
      "name": "Code - Resolve Duplicates and Decide",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst decisions = items.map(item => ({\n  id: item.json.id,\n  export_decision: item.json.export_decision,\n  smartlead_decision: item.json.smartlead_decision,\n  review_decision: item.json.review_decision\n}));\n\nreturn [{ json: { decisions, count: decisions.length } }];"
      },
      "id": "export-build-payload",
      "name": "Code - Build API Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://autoshopsmsai.com/internal/leads/export-decisions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ decisions: $json.decisions }) }}",
        "options": { "timeout": 30000 }
      },
      "id": "export-api-update",
      "name": "HTTP - API Export Decisions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1750, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "LDBz85dzKMqLSZtp",
          "name": "x-internal-key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const apiResp = $input.first().json;\n\nreturn [{\n  json: {\n    _type: 'summary',\n    total_decisions: apiResp.total_decisions || 0,\n    db_updated: apiResp.db_updated || 0,\n    db_skipped: apiResp.db_skipped || 0,\n    ready_for_export: apiResp.ready_for_export || 0,\n    blocked: apiResp.blocked || 0,\n    duplicates: apiResp.duplicates || 0,\n    rows: apiResp.rows || []\n  }\n}];"
      },
      "id": "export-output",
      "name": "Code - Build Final Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "HTTP - Fetch Export Candidates", "type": "main", "index": 0 }]]
    },
    "Webhook Trigger": {
      "main": [[{ "node": "HTTP - Fetch Export Candidates", "type": "main", "index": 0 }]]
    },
    "HTTP - Fetch Export Candidates": {
      "main": [[{ "node": "Code - Expand Candidates", "type": "main", "index": 0 }]]
    },
    "Code - Expand Candidates": {
      "main": [[{ "node": "Code - Normalize and Validate", "type": "main", "index": 0 }]]
    },
    "Code - Normalize and Validate": {
      "main": [[{ "node": "Code - Resolve Duplicates and Decide", "type": "main", "index": 0 }]]
    },
    "Code - Resolve Duplicates and Decide": {
      "main": [[{ "node": "Code - Build API Payload", "type": "main", "index": 0 }]]
    },
    "Code - Build API Payload": {
      "main": [[{ "node": "HTTP - API Export Decisions", "type": "main", "index": 0 }]]
    },
    "HTTP - API Export Decisions": {
      "main": [[{ "node": "Code - Build Final Output", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "export" }, { "name": "smartlead" }]
}
