n8n_response.json
{"updatedAt":"2026-03-02T20:58:59.445Z","createdAt":"2026-03-02T15:10:38.518Z","id":"emBCrWKq7sK9oH3G","name":"AutoShop AI Agent - Universal","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"twilio/voice-status","responseMode":"responseNode","options":{}},"id":"3fb16775-20b3-4ac3-bcbb-fcf74e202809","name":"Webhook: Voice Status","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[864,-192],"webhookId":"voice-status-webhook"},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"id":"32386927-48ee-4ccb-9713-f9ee01b68cbc","name":"Cron: Close Inactive","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[864,208]},{"parameters":{"jsCode":"const triggerName = $prevNode.name;\nconst body = $input.all()[0].json;\nreturn [{ json: { triggerName, body } }];"},"id":"95a262b7-f48a-4f19-aae0-8ceed3109374","name":"Route Trigger","type":"n8n-nodes-base.code","typeVersion":2,"position":[1088,16]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.triggerName }}","value2":"Webhook: Voice Status"}]}},"id":"aa4915ad-a75e-487f-a2fb-862b521966b9","name":"Is Voice?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1312,-96]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.triggerName }}","value2":"Webhook: SMS Inbound"}]}},"id":"e487821c-5e4d-40d8-afb0-34722ecb1c88","name":"Is SMS?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1312,112]},{"parameters":{"jsCode":"const body = $json.body;\nconst callStatus = (body.CallStatus || body.callstatus || '').toLowerCase();\nconst isMissedCall = ['no-answer','busy','failed'].includes(callStatus);\nconst toNumber = body.To || body.to || '';\nconst fromNumber = body.From || body.from || '';\nreturn [{ json: { isMissedCall, callStatus, toNumber, fromNumber, body } }];"},"id":"2d79fbab-5314-4eb3-9272-1192efd75293","name":"Parse Voice Status","type":"n8n-nodes-base.code","typeVersion":2,"position":[1536,-96]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.isMissedCall }}","value2":true}]}},"id":"91c79360-1756-480d-97c6-d0f9d8dfb27b","name":"Is Missed Call?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1744,-96]},{"parameters":{"jsCode":"const { createClient } = require('@supabase/supabase-js');\nconst supabase = createClient(process.env.SUPABASE_URL, process.env.SUPABASE_SERVICE_ROLE_KEY);\nconst toNumber = $json.toNumber;\nconst { data: shop, error } = await supabase.from('shops').select('id,plan,status,monthly_limit,trial_ends_at,trial_conversation_limit,timezone,twilio_subaccount_sid,twilio_auth_token_enc,twilio_number,google_calendar_id,name').eq('twilio_number', toNumber).single();\nif (error || !shop) throw new Error('Shop not found for number: ' + toNumber);\nreturn [{ json: { shop, toNumber, fromNumber: $json.fromNumber } }];"},"id":"adf8773b-0a46-458d-81dd-39f4fa7e3540","name":"Load Shop Voice","type":"n8n-nodes-base.code","typeVersion":2,"position":[1968,-192]},{"parameters":{"jsCode":"const crypto = require('crypto');\nconst twilio = require('twilio');\nconst { createClient } = require('@supabase/supabase-js');\nconst supabase = createClient(process.env.SUPABASE_URL, process.env.SUPABASE_SERVICE_ROLE_KEY);\nconst { shop, fromNumber } = $json;\n\nfunction decrypt(enc) {\n  const [ivHex, dataHex] = enc.split(':');\n  const iv = Buffer.from(ivHex, 'hex');\n  const decipher = crypto.createDecipheriv('aes-256-cbc', Buffer.from(process.env.ENCRYPTION_KEY, 'hex'), iv);\n  return Buffer.concat([decipher.update(Buffer.from(dataHex, 'hex')), decipher.final()]).toString('utf8');\n}\n\nif (shop.status === 'blocked') return [{ json: { skipped: true, reason: 'blocked' } }];\n\nconst { data: optOut } = await supabase.from('opt_outs').select('id').eq('shop_id', shop.id).eq('phone_number', fromNumber).maybeSingle();\nif (optOut) return [{ json: { skipped: true, reason: 'opted_out' } }];\n\nif (shop.plan === 'trial') {\n  if (new Date() > new Date(shop.trial_ends_at)) return [{ json: { skipped: true, reason: 'trial_expired' } }];\n  const { count } = await supabase.from('conversations').select('id', { count: 'exact', head: true }).eq('shop_id', shop.id).eq('counted', true);\n  if (count >= shop.trial_conversation_limit) return [{ json: { skipped: true, reason: 'trial_limit' } }];\n}\n\nconst { data: existing } = await supabase.from('conversations').select('id').eq('shop_id', shop.id).eq('customer_phone', fromNumber).eq('status', 'open').maybeSingle();\nif (existing) return [{ json: { skipped: true, reason: 'already_open' } }];\n\nconst { data: conv } = await supabase.from('conversations').insert({ shop_id: shop.id, customer_phone: fromNumber, status: 'open', counted: true }).select().single();\nconst yearMonth = new Date().toISOString().substring(0, 7);\nawait supabase.rpc('increment_usage', { p_shop_id: shop.id, p_year_month: yearMonth });\n\nconst subToken = decrypt(shop.twilio_auth_token_enc);\nconst client = twilio(shop.twilio_subaccount_sid, subToken);\nconst body = `Hi! We missed your call at ${shop.name}. We'd love to help schedule your vehicle service. What can we help you with? Reply STOP to opt out.`;\nconst msg = await client.messages.create({ from: shop.twilio_number, to: fromNumber, body: body.substring(0, 320) });\nawait supabase.from('messages').insert({ conversation_id: conv.id, shop_id: shop.id, direction: 'outbound', body, twilio_sid: msg.sid });\n\nreturn [{ json: { success: true, convId: conv.id } }];"},"id":"051adfd9-252b-4ca4-b641-16cc77b9dfb8","name":"Missed Call Send SMS","type":"n8n-nodes-base.code","typeVersion":2,"position":[2192,-192]},{"parameters":{"respondWith":"text","responseBody":"<?xml version=\"1.0\" encoding=\"UTF-8\"?><Response></Response>","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/xml"}]}}},"id":"72add9be-d590-4e80-97d2-f182527356e7","name":"Respond Voice","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[2416,-192]},{"parameters":{"jsCode":"const { createClient } = require('@supabase/supabase-js');\nconst supabase = createClient(process.env.SUPABASE_URL, process.env.SUPABASE_SERVICE_ROLE_KEY);\nconst body = $json.body;\nconst toNumber = body.To || body.to || '';\nconst fromNumber = body.From || body.from || '';\nconst inboundBody = body.Body || body.body || '';\nconst { data: shop, error } = await supabase.from('shops').select('id,plan,status,monthly_limit,trial_ends_at,trial_conversation_limit,timezone,twilio_subaccount_sid,twilio_auth_token_enc,twilio_number,google_calendar_id,name').eq('twilio_number', toNumber).single();\nif (error || !shop) throw new Error('Shop not found: ' + toNumber);\nreturn [{ json: { shop, toNumber, fromNumber, inboundBody } }];"},"id":"d200878b-e39e-4baa-bcdd-de9b2a89a1b1","name":"Load Shop SMS","type":"n8n-nodes-base.code","typeVersion":2,"position":[1536,112]},{"parameters":{"jsCode":"const { createClient } = require('@supabase/supabase-js');\nconst supabase = createClient(process.env.SUPABASE_URL, process.env.SUPABASE_SERVICE_ROLE_KEY);\nconst { shop, fromNumber, inboundBody } = $json;\n\nif (shop.status === 'blocked') return [{ json: { blocked: true, reason: 'account_blocked', shop, fromNumber, inboundBody } }];\n\nconst { data: optOut } = await supabase.from('opt_outs').select('id').eq('shop_id', shop.id).eq('phone_number', fromNumber).maybeSingle();\nconst upper = (inboundBody || '').toUpperCase().trim();\n\nif (['STOP','STOPALL','UNSUBSCRIBE','CANCEL','END','QUIT'].includes(upper)) {\n  await supabase.from('opt_outs').upsert({ shop_id: shop.id, phone_number: fromNumber }, { onConflict: 'shop_id,phone_number' });\n  await supabase.from('conversations').update({ status: 'opted_out', ended_at: new Date().toISOString() }).eq('shop_id', shop.id).eq('customer_phone', fromNumber).eq('status', 'open');\n  return [{ json: { blocked: true, reason: 'stop_received', shop, fromNumber, inboundBody } }];\n}\n\nif (optOut) {\n  if (upper === 'START') {\n    await supabase.from('opt_outs').delete().eq('shop_id', shop.id).eq('phone_number', fromNumber);\n    return [{ json: { blocked: false, shop, fromNumber, inboundBody } }];\n  }\n  return [{ json: { blocked: true, reason: 'opted_out', shop, fromNumber, inboundBody } }];\n}\n\nif (shop.plan === 'trial') {\n  if (new Date() > new Date(shop.trial_ends_at)) return [{ json: { blocked: true, reason: 'trial_expired', shop, fromNumber, inboundBody } }];\n  const { data: openConv } = await supabase.from('conversations').select('id').eq('shop_id', shop.id).eq('customer_phone', fromNumber).eq('status', 'open').maybeSingle();\n  if (!openConv) {\n    const { count } = await supabase.from('conversations').select('id', { count: 'exact', head: true }).eq('shop_id', shop.id).eq('counted', true);\n    if (count >= shop.trial_conversation_limit) return [{ json: { blocked: true, reason: 'trial_limit', shop, fromNumber, inboundBody } }];\n  }\n}\n\nlet softLimitWarning = null;\nif (shop.plan !== 'trial') {\n  const yearMonth = new Date().toISOString().substring(0, 7);\n  const { data: usage } = await supabase.from('usage_monthly').select('conversations_used,warning_80_sent,warning_100_sent').eq('shop_id', shop.id).eq('year_month', yearMonth).maybeSingle();\n  if (usage) {\n    const pct = usage.conversations_used / shop.monthly_limit;\n    if (pct >= 1.0 && !usage.warning_100_sent) softLimitWarning = '100';\n    else if (pct >= 0.8 && !usage.warning_80_sent) softLimitWarning = '80';\n  }\n}\n\nreturn [{ json: { blocked: false, shop, fromNumber, inboundBody, softLimitWarning } }];"},"id":"ef531974-9c97-44a9-977b-3cd96e8a7f59","name":"Gate Check","type":"n8n-nodes-base.code","typeVersion":2,"position":[1744,112]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.blocked }}","value2":true}]}},"id":"e07e2b0e-3f9a-432a-b3b5-bfab7d8d1a6d","name":"Is Blocked?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1968,112]},{"parameters":{"jsCode":"const crypto = require('crypto');\nconst twilio = require('twilio');\nconst { reason, shop, fromNumber } = $json;\n\nfunction decrypt(enc) {\n  const [ivHex, dataHex] = enc.split(':');\n  const iv = Buffer.from(ivHex, 'hex');\n  const decipher = crypto.createDecipheriv('aes-256-cbc', Buffer.from(process.env.ENCRYPTION_KEY, 'hex'), iv);\n  return Buffer.concat([decipher.update(Buffer.from(dataHex, 'hex')), decipher.final()]).toString('utf8');\n}\n\nif (reason === 'stop_received') {\n  const subToken = decrypt(shop.twilio_auth_token_enc);\n  const client = twilio(shop.twilio_subaccount_sid, subToken);\n  await client.messages.create({ from: shop.twilio_number, to: fromNumber, body: 'You have been unsubscribed. Reply START to resubscribe. No further messages will be sent.' });\n}\n\nreturn [{ json: { done: true, reason } }];"},"id":"e0451e09-5891-4b14-8ef8-05e345cd286e","name":"Handle Blocked","type":"n8n-nodes-base.code","typeVersion":2,"position":[2192,16]},{"parameters":{"respondWith":"text","responseBody":"<?xml version=\"1.0\" encoding=\"UTF-8\"?><Response></Response>","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/xml"}]}}},"id":"6b888bb4-217a-4aaa-bd71-49f51594dfab","name":"Respond Blocked","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[2416,16]},{"parameters":{"jsCode":"const { createClient } = require('@supabase/supabase-js');\nconst supabase = createClient(process.env.SUPABASE_URL, process.env.SUPABASE_SERVICE_ROLE_KEY);\nconst { shop, fromNumber, inboundBody, softLimitWarning } = $json;\n\nlet { data: conv } = await supabase.from('conversations').select('id,counted,status').eq('shop_id', shop.id).eq('customer_phone', fromNumber).eq('status', 'open').maybeSingle();\n\nif (!conv) {\n  const { data: newConv } = await supabase.from('conversations').insert({ shop_id: shop.id, customer_phone: fromNumber, status: 'open', counted: false }).select().single();\n  conv = newConv;\n}\n\nif (!conv.counted) {\n  await supabase.from('conversations').update({ counted: true }).eq('id', conv.id);\n  const yearMonth = new Date().toISOString().substring(0, 7);\n  await supabase.rpc('increment_usage', { p_shop_id: shop.id, p_year_month: yearMonth });\n}\n\nawait supabase.from('conversations').update({ last_activity_at: new Date().toISOString() }).eq('id', conv.id);\nawait supabase.from('messages').insert({ conversation_id: conv.id, shop_id: shop.id, direction: 'inbound', body: inboundBody });\n\nconst { data: history } = await supabase.from('messages').select('direction,body,sent_at').eq('conversation_id', conv.id).order('sent_at', { ascending: true }).limit(20);\n\nif (softLimitWarning) {\n  const yearMonth = new Date().toISOString().substring(0, 7);\n  if (softLimitWarning === '80') await supabase.from('usage_monthly').update({ warning_80_sent: true }).eq('shop_id', shop.id).eq('year_month', yearMonth);\n  if (softLimitWarning === '100') await supabase.from('usage_monthly').update({ warning_100_sent: true }).eq('shop_id', shop.id).eq('year_month', yearMonth);\n}\n\nreturn [{ json: { shop, fromNumber, inboundBody, conv, history: history || [], softLimitWarning } }];"},"id":"ff9b29e7-170d-4c9d-8f49-fb5172349e72","name":"Conversation Management","type":"n8n-nodes-base.code","typeVersion":2,"position":[2192,208]},{"parameters":{"jsCode":"const { shop, fromNumber, inboundBody, history } = $json;\n\nconst systemPrompt = `You are an AI appointment assistant for ${shop.name}, an auto repair shop in Texas. You communicate ONLY via SMS.\\n\\nRULES:\\n1. Respond ONLY with valid JSON. No preamble, no markdown.\\n2. reply field must be max 320 chars.\\n3. Be warm, professional, concise.\\n4. Collect in order: customer name, service needed, vehicle (year/make/model), preferred date/time.\\n5. If you have all info, set nextAction to propose_slots or book.\\n6. Never invent availability.\\n\\nOUTPUT SCHEMA (return ONLY this JSON):\\n{\\n  \\\"intent\\\": \\\"book|question|reschedule|cancel|handoff|unknown\\\",\\n  \\\"customerName\\\": null,\\n  \\\"serviceRequest\\\": null,\\n  \\\"vehicle\\\": {\\\"year\\\": null, \\\"make\\\": null, \\\"model\\\": null},\\n  \\\"preferred\\\": {\\\"date\\\": null, \\\"timeWindow\\\": null},\\n  \\\"needs\\\": [],\\n  \\\"nextAction\\\": \\\"ask|propose_slots|book|handoff\\\",\\n  \\\"reply\\\": \\\"string max 320 chars\\\"\\n}`;\n\nconst messages = (history || []).map(m => ({ role: m.direction === 'inbound' ? 'user' : 'assistant', content: m.body }));\nif (!messages.length || messages[messages.length - 1].role !== 'user') {\n  messages.push({ role: 'user', content: inboundBody });\n}\n\nconst response = await fetch('https://api.anthropic.com/v1/messages', {\n  method: 'POST',\n  headers: { 'Content-Type': 'application/json', 'x-api-key': process.env.ANTHROPIC_API_KEY, 'anthropic-version': '2023-06-01' },\n  body: JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 512, system: systemPrompt, messages })\n});\n\nconst data = await response.json();\nconst raw = data.content?.[0]?.text || '{}';\n\nlet parsed;\ntry { parsed = JSON.parse(raw); } catch (e) {\n  parsed = { intent: 'unknown', customerName: null, serviceRequest: null, vehicle: { year: null, make: null, model: null }, preferred: { date: null, timeWindow: null }, needs: [], nextAction: 'ask', reply: \"Thanks for reaching out! How can we help with your vehicle today?\" };\n}\n\nreturn [{ json: { ...($json), claudeResponse: parsed } }];"},"id":"d43ba7a6-4578-4b4a-9fd6-321b55b44556","name":"Claude AI","type":"n8n-nodes-base.code","typeVersion":2,"position":[2416,208]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.claudeResponse.nextAction }}","value2":"book"}]}},"id":"dc45a6f2-5bac-4e1b-9080-a15ff47a1cf9","name":"Should Book?","type":"n8n-nodes-base.if","typeVersion":1,"position":[2624,208]},{"parameters":{"jsCode":"const { createClient } = require('@supabase/supabase-js');\nconst supabase = createClient(process.env.SUPABASE_URL, process.env.SUPABASE_SERVICE_ROLE_KEY);\nconst { shop, fromNumber, conv, claudeResponse } = $json;\n\nconst scheduledAt = new Date();\nscheduledAt.setDate(scheduledAt.getDate() + 1);\nscheduledAt.setHours(9, 0, 0, 0);\n\nconst windowStart = new Date(scheduledAt.getTime() - 30 * 60000).toISOString();\nconst windowEnd = new Date(scheduledAt.getTime() + 30 * 60000).toISOString();\nconst { data: existing } = await supabase.from('bookings').select('id').eq('shop_id', shop.id).gte('scheduled_at', windowStart).lte('scheduled_at', windowEnd).eq('status', 'confirmed').maybeSingle();\n\nif (existing) {\n  return [{ json: { ...$json, bookingConflict: true, claudeResponse: { ...claudeResponse, reply: \"Sorry, that slot is taken. What other time works for you?\", nextAction: 'ask' } } }];\n}\n\nlet googleEventId = null;\ntry {\n  const { google } = require('googleapis');\n  const auth = new google.auth.OAuth2(process.env.GOOGLE_CLIENT_ID, process.env.GOOGLE_CLIENT_SECRET);\n  auth.setCredentials({ refresh_token: process.env.GOOGLE_REFRESH_TOKEN });\n  const calendar = google.calendar({ version: 'v3', auth });\n  const event = await calendar.events.insert({\n    calendarId: shop.google_calendar_id || 'primary',\n    requestBody: {\n      summary: `AutoShop: ${claudeResponse.serviceRequest || 'Service'} - ${claudeResponse.customerName || fromNumber}`,\n      description: `Vehicle: ${claudeResponse.vehicle?.year || ''} ${claudeResponse.vehicle?.make || ''} ${claudeResponse.vehicle?.model || ''}\\nPhone: ${fromNumber}`,\n      start: { dateTime: scheduledAt.toISOString(), timeZone: shop.timezone },\n      end: { dateTime: new Date(scheduledAt.getTime() + 3600000).toISOString(), timeZone: shop.timezone }\n    }\n  });\n  googleEventId = event.data.id;\n} catch (e) { console.error('Calendar error:', e.message); }\n\nconst { data: booking } = await supabase.from('bookings').insert({\n  conversation_id: conv.id, shop_id: shop.id, customer_phone: fromNumber,\n  customer_name: claudeResponse.customerName, service_request: claudeResponse.serviceRequest,\n  vehicle_year: claudeResponse.vehicle?.year, vehicle_make: claudeResponse.vehicle?.make,\n  vehicle_model: claudeResponse.vehicle?.model, scheduled_at: scheduledAt.toISOString(),\n  google_event_id: googleEventId, status: 'confirmed'\n}).select().single();\n\nawait supabase.from('conversations').update({ status: 'booked', ended_at: new Date().toISOString() }).eq('id', conv.id);\n\nreturn [{ json: { ...$json, booking, bookingConflict: false } }];"},"id":"762e516f-2b83-43a6-a85e-34296e98f2c2","name":"Create Booking","type":"n8n-nodes-base.code","typeVersion":2,"position":[2848,112]},{"parameters":{"jsCode":"const crypto = require('crypto');\nconst twilio = require('twilio');\nconst { createClient } = require('@supabase/supabase-js');\nconst supabase = createClient(process.env.SUPABASE_URL, process.env.SUPABASE_SERVICE_ROLE_KEY);\nconst { shop, fromNumber, claudeResponse, conv } = $json;\n\nfunction decrypt(enc) {\n  const [ivHex, dataHex] = enc.split(':');\n  const iv = Buffer.from(ivHex, 'hex');\n  const decipher = crypto.createDecipheriv('aes-256-cbc', Buffer.from(process.env.ENCRYPTION_KEY, 'hex'), iv);\n  return Buffer.concat([decipher.update(Buffer.from(dataHex, 'hex')), decipher.final()]).toString('utf8');\n}\n\nconst subToken = decrypt(shop.twilio_auth_token_enc);\nconst client = twilio(shop.twilio_subaccount_sid, subToken);\nconst replyText = (claudeResponse?.reply || 'Thank you! We will be in touch.').substring(0, 320);\n\nconst msg = await client.messages.create({ from: shop.twilio_number, to: fromNumber, body: replyText });\n\nif (conv?.id) {\n  await supabase.from('messages').insert({ conversation_id: conv.id, shop_id: shop.id, direction: 'outbound', body: replyText, twilio_sid: msg.sid });\n}\n\nreturn [{ json: { success: true, twilioSid: msg.sid } }];"},"id":"b398e69f-64f2-4bbe-8a7a-ace50e318e11","name":"Send SMS Reply","type":"n8n-nodes-base.code","typeVersion":2,"position":[3072,208]},{"parameters":{"respondWith":"text","responseBody":"<?xml version=\"1.0\" encoding=\"UTF-8\"?><Response></Response>","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/xml"}]}}},"id":"30bef349-d0f2-4ffb-bc1a-18b9774460f8","name":"Respond SMS","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[3296,208]},{"parameters":{"jsCode":"const { createClient } = require('@supabase/supabase-js');\nconst supabase = createClient(process.env.SUPABASE_URL, process.env.SUPABASE_SERVICE_ROLE_KEY);\nconst cutoff = new Date(Date.now() - 24 * 60 * 60 * 1000).toISOString();\nconst { data: closed } = await supabase.from('conversations').update({ status: 'closed', ended_at: new Date().toISOString() }).eq('status', 'open').lt('last_activity_at', cutoff).select('id');\nreturn [{ json: { closedCount: closed?.length || 0 } }];"},"id":"af2bec10-6607-4d5f-9ef4-feb8a4d8e6aa","name":"Close Inactive Conversations","type":"n8n-nodes-base.code","typeVersion":2,"position":[1088,208]},{"parameters":{"httpMethod":"POST","path":"twilio/sms-inbound","responseMode":"responseNode","options":{}},"id":"428af9e4-8dce-4610-9f05-ea65b28a81f7","name":"Webhook: SMS Inbound","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[864,16],"webhookId":"sms-inbound-webhook"}],"connections":{"Webhook: Voice Status":{"main":[[{"node":"Route Trigger","type":"main","index":0}]]},"Cron: Close Inactive":{"main":[[{"node":"Close Inactive Conversations","type":"main","index":0}]]},"Route Trigger":{"main":[[{"node":"Is Voice?","type":"main","index":0},{"node":"Is SMS?","type":"main","index":0}]]},"Is Voice?":{"main":[[{"node":"Parse Voice Status","type":"main","index":0}]]},"Is SMS?":{"main":[[{"node":"Load Shop SMS","type":"main","index":0}]]},"Parse Voice Status":{"main":[[{"node":"Is Missed Call?","type":"main","index":0}]]},"Is Missed Call?":{"main":[[{"node":"Load Shop Voice","type":"main","index":0}],[{"node":"Respond Voice","type":"main","index":0}]]},"Load Shop Voice":{"main":[[{"node":"Missed Call Send SMS","type":"main","index":0}]]},"Missed Call Send SMS":{"main":[[{"node":"Respond Voice","type":"main","index":0}]]},"Load Shop SMS":{"main":[[{"node":"Gate Check","type":"main","index":0}]]},"Gate Check":{"main":[[{"node":"Is Blocked?","type":"main","index":0}]]},"Is Blocked?":{"main":[[{"node":"Handle Blocked","type":"main","index":0}],[{"node":"Conversation Management","type":"main","index":0}]]},"Handle Blocked":{"main":[[{"node":"Respond Blocked","type":"main","index":0}]]},"Conversation Management":{"main":[[{"node":"Claude AI","type":"main","index":0}]]},"Claude AI":{"main":[[{"node":"Should Book?","type":"main","index":0}]]},"Should Book?":{"main":[[{"node":"Create Booking","type":"main","index":0}],[{"node":"Send SMS Reply","type":"main","index":0}]]},"Create Booking":{"main":[[{"node":"Send SMS Reply","type":"main","index":0}]]},"Send SMS Reply":{"main":[[{"node":"Respond SMS","type":"main","index":0}]]},"Webhook: SMS Inbound":{"main":[[{"node":"Route Trigger","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":{"node:Cron: Close Inactive":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"e17dc908-66ef-4fae-b8be-a41dfa414e5d","activeVersionId":"e17dc908-66ef-4fae-b8be-a41dfa414e5d","versionCounter":12,"triggerCount":3,"shared":[{"updatedAt":"2026-03-02T15:10:38.520Z","createdAt":"2026-03-02T15:10:38.520Z","role":"workflow:owner","workflowId":"emBCrWKq7sK9oH3G","projectId":"f0GZlhLOaMahAoSH","project":{"updatedAt":"2026-02-08T13:11:35.805Z","createdAt":"2026-02-08T13:11:31.047Z","id":"f0GZlhLOaMahAoSH","name":"Mantas Gipiškis <mantas.gipiskis@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"5f4340de-ef7f-4241-ba4e-1b4ad4bdbfe9"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-02T20:59:01.000Z","createdAt":"2026-03-02T20:58:59.446Z","versionId":"e17dc908-66ef-4fae-b8be-a41dfa414e5d","workflowId":"emBCrWKq7sK9oH3G","nodes":[{"parameters":{"httpMethod":"POST","path":"twilio/voice-status","responseMode":"responseNode","options":{}},"id":"3fb16775-20b3-4ac3-bcbb-fcf74e202809","name":"Webhook: Voice Status","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[864,-192],"webhookId":"voice-status-webhook"},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"id":"32386927-48ee-4ccb-9713-f9ee01b68cbc","name":"Cron: Close Inactive","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[864,208]},{"parameters":{"jsCode":"const triggerName = $prevNode.name;\nconst body = $input.all()[0].json;\nreturn [{ json: { triggerName, body } }];"},"id":"95a262b7-f48a-4f19-aae0-8ceed3109374","name":"Route Trigger","type":"n8n-nodes-base.code","typeVersion":2,"position":[1088,16]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.triggerName }}","value2":"Webhook: Voice Status"}]}},"id":"aa4915ad-a75e-487f-a2fb-862b521966b9","name":"Is Voice?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1312,-96]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.triggerName }}","value2":"Webhook: SMS Inbound"}]}},"id":"e487821c-5e4d-40d8-afb0-34722ecb1c88","name":"Is SMS?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1312,112]},{"parameters":{"jsCode":"const body = $json.body;\nconst callStatus = (body.CallStatus || body.callstatus || '').toLowerCase();\nconst isMissedCall = ['no-answer','busy','failed'].includes(callStatus);\nconst toNumber = body.To || body.to || '';\nconst fromNumber = body.From || body.from || '';\nreturn [{ json: { isMissedCall, callStatus, toNumber, fromNumber, body } }];"},"id":"2d79fbab-5314-4eb3-9272-1192efd75293","name":"Parse Voice Status","type":"n8n-nodes-base.code","typeVersion":2,"position":[1536,-96]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.isMissedCall }}","value2":true}]}},"id":"91c79360-1756-480d-97c6-d0f9d8dfb27b","name":"Is Missed Call?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1744,-96]},{"parameters":{"jsCode":"const { createClient } = require('@supabase/supabase-js');\nconst supabase = createClient(process.env.SUPABASE_URL, process.env.SUPABASE_SERVICE_ROLE_KEY);\nconst toNumber = $json.toNumber;\nconst { data: shop, error } = await supabase.from('shops').select('id,plan,status,monthly_limit,trial_ends_at,trial_conversation_limit,timezone,twilio_subaccount_sid,twilio_auth_token_enc,twilio_number,google_calendar_id,name').eq('twilio_number', toNumber).single();\nif (error || !shop) throw new Error('Shop not found for number: ' + toNumber);\nreturn [{ json: { shop, toNumber, fromNumber: $json.fromNumber } }];"},"id":"adf8773b-0a46-458d-81dd-39f4fa7e3540","name":"Load Shop Voice","type":"n8n-nodes-base.code","typeVersion":2,"position":[1968,-192]},{"parameters":{"jsCode":"const crypto = require('crypto');\nconst twilio = require('twilio');\nconst { createClient } = require('@supabase/supabase-js');\nconst supabase = createClient(process.env.SUPABASE_URL, process.env.SUPABASE_SERVICE_ROLE_KEY);\nconst { shop, fromNumber } = $json;\n\nfunction decrypt(enc) {\n  const [ivHex, dataHex] = enc.split(':');\n  const iv = Buffer.from(ivHex, 'hex');\n  const decipher = crypto.createDecipheriv('aes-256-cbc', Buffer.from(process.env.ENCRYPTION_KEY, 'hex'), iv);\n  return Buffer.concat([decipher.update(Buffer.from(dataHex, 'hex')), decipher.final()]).toString('utf8');\n}\n\nif (shop.status === 'blocked') return [{ json: { skipped: true, reason: 'blocked' } }];\n\nconst { data: optOut } = await supabase.from('opt_outs').select('id').eq('shop_id', shop.id).eq('phone_number', fromNumber).maybeSingle();\nif (optOut) return [{ json: { skipped: true, reason: 'opted_out' } }];\n\nif (shop.plan === 'trial') {\n  if (new Date() > new Date(shop.trial_ends_at)) return [{ json: { skipped: true, reason: 'trial_expired' } }];\n  const { count } = await supabase.from('conversations').select('id', { count: 'exact', head: true }).eq('shop_id', shop.id).eq('counted', true);\n  if (count >= shop.trial_conversation_limit) return [{ json: { skipped: true, reason: 'trial_limit' } }];\n}\n\nconst { data: existing } = await supabase.from('conversations').select('id').eq('shop_id', shop.id).eq('customer_phone', fromNumber).eq('status', 'open').maybeSingle();\nif (existing) return [{ json: { skipped: true, reason: 'already_open' } }];\n\nconst { data: conv } = await supabase.from('conversations').insert({ shop_id: shop.id, customer_phone: fromNumber, status: 'open', counted: true }).select().single();\nconst yearMonth = new Date().toISOString().substring(0, 7);\nawait supabase.rpc('increment_usage', { p_shop_id: shop.id, p_year_month: yearMonth });\n\nconst subToken = decrypt(shop.twilio_auth_token_enc);\nconst client = twilio(shop.twilio_subaccount_sid, subToken);\nconst body = `Hi! We missed your call at ${shop.name}. We'd love to help schedule your vehicle service. What can we help you with? Reply STOP to opt out.`;\nconst msg = await client.messages.create({ from: shop.twilio_number, to: fromNumber, body: body.substring(0, 320) });\nawait supabase.from('messages').insert({ conversation_id: conv.id, shop_id: shop.id, direction: 'outbound', body, twilio_sid: msg.sid });\n\nreturn [{ json: { success: true, convId: conv.id } }];"},"id":"051adfd9-252b-4ca4-b641-16cc77b9dfb8","name":"Missed Call Send SMS","type":"n8n-nodes-base.code","typeVersion":2,"position":[2192,-192]},{"parameters":{"respondWith":"text","responseBody":"<?xml version=\"1.0\" encoding=\"UTF-8\"?><Response></Response>","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/xml"}]}}},"id":"72add9be-d590-4e80-97d2-f182527356e7","name":"Respond Voice","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[2416,-192]},{"parameters":{"jsCode":"const { createClient } = require('@supabase/supabase-js');\nconst supabase = createClient(process.env.SUPABASE_URL, process.env.SUPABASE_SERVICE_ROLE_KEY);\nconst body = $json.body;\nconst toNumber = body.To || body.to || '';\nconst fromNumber = body.From || body.from || '';\nconst inboundBody = body.Body || body.body || '';\nconst { data: shop, error } = await supabase.from('shops').select('id,plan,status,monthly_limit,trial_ends_at,trial_conversation_limit,timezone,twilio_subaccount_sid,twilio_auth_token_enc,twilio_number,google_calendar_id,name').eq('twilio_number', toNumber).single();\nif (error || !shop) throw new Error('Shop not found: ' + toNumber);\nreturn [{ json: { shop, toNumber, fromNumber, inboundBody } }];"},"id":"d200878b-e39e-4baa-bcdd-de9b2a89a1b1","name":"Load Shop SMS","type":"n8n-nodes-base.code","typeVersion":2,"position":[1536,112]},{"parameters":{"jsCode":"const { createClient } = require('@supabase/supabase-js');\nconst supabase = createClient(process.env.SUPABASE_URL, process.env.SUPABASE_SERVICE_ROLE_KEY);\nconst { shop, fromNumber, inboundBody } = $json;\n\nif (shop.status === 'blocked') return [{ json: { blocked: true, reason: 'account_blocked', shop, fromNumber, inboundBody } }];\n\nconst { data: optOut } = await supabase.from('opt_outs').select('id').eq('shop_id', shop.id).eq('phone_number', fromNumber).maybeSingle();\nconst upper = (inboundBody || '').toUpperCase().trim();\n\nif (['STOP','STOPALL','UNSUBSCRIBE','CANCEL','END','QUIT'].includes(upper)) {\n  await supabase.from('opt_outs').upsert({ shop_id: shop.id, phone_number: fromNumber }, { onConflict: 'shop_id,phone_number' });\n  await supabase.from('conversations').update({ status: 'opted_out', ended_at: new Date().toISOString() }).eq('shop_id', shop.id).eq('customer_phone', fromNumber).eq('status', 'open');\n  return [{ json: { blocked: true, reason: 'stop_received', shop, fromNumber, inboundBody } }];\n}\n\nif (optOut) {\n  if (upper === 'START') {\n    await supabase.from('opt_outs').delete().eq('shop_id', shop.id).eq('phone_number', fromNumber);\n    return [{ json: { blocked: false, shop, fromNumber, inboundBody } }];\n  }\n  return [{ json: { blocked: true, reason: 'opted_out', shop, fromNumber, inboundBody } }];\n}\n\nif (shop.plan === 'trial') {\n  if (new Date() > new Date(shop.trial_ends_at)) return [{ json: { blocked: true, reason: 'trial_expired', shop, fromNumber, inboundBody } }];\n  const { data: openConv } = await supabase.from('conversations').select('id').eq('shop_id', shop.id).eq('customer_phone', fromNumber).eq('status', 'open').maybeSingle();\n  if (!openConv) {\n    const { count } = await supabase.from('conversations').select('id', { count: 'exact', head: true }).eq('shop_id', shop.id).eq('counted', true);\n    if (count >= shop.trial_conversation_limit) return [{ json: { blocked: true, reason: 'trial_limit', shop, fromNumber, inboundBody } }];\n  }\n}\n\nlet softLimitWarning = null;\nif (shop.plan !== 'trial') {\n  const yearMonth = new Date().toISOString().substring(0, 7);\n  const { data: usage } = await supabase.from('usage_monthly').select('conversations_used,warning_80_sent,warning_100_sent').eq('shop_id', shop.id).eq('year_month', yearMonth).maybeSingle();\n  if (usage) {\n    const pct = usage.conversations_used / shop.monthly_limit;\n    if (pct >= 1.0 && !usage.warning_100_sent) softLimitWarning = '100';\n    else if (pct >= 0.8 && !usage.warning_80_sent) softLimitWarning = '80';\n  }\n}\n\nreturn [{ json: { blocked: false, shop, fromNumber, inboundBody, softLimitWarning } }];"},"id":"ef531974-9c97-44a9-977b-3cd96e8a7f59","name":"Gate Check","type":"n8n-nodes-base.code","typeVersion":2,"position":[1744,112]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.blocked }}","value2":true}]}},"id":"e07e2b0e-3f9a-432a-b3b5-bfab7d8d1a6d","name":"Is Blocked?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1968,112]},{"parameters":{"jsCode":"const crypto = require('crypto');\nconst twilio = require('twilio');\nconst { reason, shop, fromNumber } = $json;\n\nfunction decrypt(enc) {\n  const [ivHex, dataHex] = enc.split(':');\n  const iv = Buffer.from(ivHex, 'hex');\n  const decipher = crypto.createDecipheriv('aes-256-cbc', Buffer.from(process.env.ENCRYPTION_KEY, 'hex'), iv);\n  return Buffer.concat([decipher.update(Buffer.from(dataHex, 'hex')), decipher.final()]).toString('utf8');\n}\n\nif (reason === 'stop_received') {\n  const subToken = decrypt(shop.twilio_auth_token_enc);\n  const client = twilio(shop.twilio_subaccount_sid, subToken);\n  await client.messages.create({ from: shop.twilio_number, to: fromNumber, body: 'You have been unsubscribed. Reply START to resubscribe. No further messages will be sent.' });\n}\n\nreturn [{ json: { done: true, reason } }];"},"id":"e0451e09-5891-4b14-8ef8-05e345cd286e","name":"Handle Blocked","type":"n8n-nodes-base.code","typeVersion":2,"position":[2192,16]},{"parameters":{"respondWith":"text","responseBody":"<?xml version=\"1.0\" encoding=\"UTF-8\"?><Response></Response>","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/xml"}]}}},"id":"6b888bb4-217a-4aaa-bd71-49f51594dfab","name":"Respond Blocked","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[2416,16]},{"parameters":{"jsCode":"const { createClient } = require('@supabase/supabase-js');\nconst supabase = createClient(process.env.SUPABASE_URL, process.env.SUPABASE_SERVICE_ROLE_KEY);\nconst { shop, fromNumber, inboundBody, softLimitWarning } = $json;\n\nlet { data: conv } = await supabase.from('conversations').select('id,counted,status').eq('shop_id', shop.id).eq('customer_phone', fromNumber).eq('status', 'open').maybeSingle();\n\nif (!conv) {\n  const { data: newConv } = await supabase.from('conversations').insert({ shop_id: shop.id, customer_phone: fromNumber, status: 'open', counted: false }).select().single();\n  conv = newConv;\n}\n\nif (!conv.counted) {\n  await supabase.from('conversations').update({ counted: true }).eq('id', conv.id);\n  const yearMonth = new Date().toISOString().substring(0, 7);\n  await supabase.rpc('increment_usage', { p_shop_id: shop.id, p_year_month: yearMonth });\n}\n\nawait supabase.from('conversations').update({ last_activity_at: new Date().toISOString() }).eq('id', conv.id);\nawait supabase.from('messages').insert({ conversation_id: conv.id, shop_id: shop.id, direction: 'inbound', body: inboundBody });\n\nconst { data: history } = await supabase.from('messages').select('direction,body,sent_at').eq('conversation_id', conv.id).order('sent_at', { ascending: true }).limit(20);\n\nif (softLimitWarning) {\n  const yearMonth = new Date().toISOString().substring(0, 7);\n  if (softLimitWarning === '80') await supabase.from('usage_monthly').update({ warning_80_sent: true }).eq('shop_id', shop.id).eq('year_month', yearMonth);\n  if (softLimitWarning === '100') await supabase.from('usage_monthly').update({ warning_100_sent: true }).eq('shop_id', shop.id).eq('year_month', yearMonth);\n}\n\nreturn [{ json: { shop, fromNumber, inboundBody, conv, history: history || [], softLimitWarning } }];"},"id":"ff9b29e7-170d-4c9d-8f49-fb5172349e72","name":"Conversation Management","type":"n8n-nodes-base.code","typeVersion":2,"position":[2192,208]},{"parameters":{"jsCode":"const { shop, fromNumber, inboundBody, history } = $json;\n\nconst systemPrompt = `You are an AI appointment assistant for ${shop.name}, an auto repair shop in Texas. You communicate ONLY via SMS.\\n\\nRULES:\\n1. Respond ONLY with valid JSON. No preamble, no markdown.\\n2. reply field must be max 320 chars.\\n3. Be warm, professional, concise.\\n4. Collect in order: customer name, service needed, vehicle (year/make/model), preferred date/time.\\n5. If you have all info, set nextAction to propose_slots or book.\\n6. Never invent availability.\\n\\nOUTPUT SCHEMA (return ONLY this JSON):\\n{\\n  \\\"intent\\\": \\\"book|question|reschedule|cancel|handoff|unknown\\\",\\n  \\\"customerName\\\": null,\\n  \\\"serviceRequest\\\": null,\\n  \\\"vehicle\\\": {\\\"year\\\": null, \\\"make\\\": null, \\\"model\\\": null},\\n  \\\"preferred\\\": {\\\"date\\\": null, \\\"timeWindow\\\": null},\\n  \\\"needs\\\": [],\\n  \\\"nextAction\\\": \\\"ask|propose_slots|book|handoff\\\",\\n  \\\"reply\\\": \\\"string max 320 chars\\\"\\n}`;\n\nconst messages = (history || []).map(m => ({ role: m.direction === 'inbound' ? 'user' : 'assistant', content: m.body }));\nif (!messages.length || messages[messages.length - 1].role !== 'user') {\n  messages.push({ role: 'user', content: inboundBody });\n}\n\nconst response = await fetch('https://api.anthropic.com/v1/messages', {\n  method: 'POST',\n  headers: { 'Content-Type': 'application/json', 'x-api-key': process.env.ANTHROPIC_API_KEY, 'anthropic-version': '2023-06-01' },\n  body: JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 512, system: systemPrompt, messages })\n});\n\nconst data = await response.json();\nconst raw = data.content?.[0]?.text || '{}';\n\nlet parsed;\ntry { parsed = JSON.parse(raw); } catch (e) {\n  parsed = { intent: 'unknown', customerName: null, serviceRequest: null, vehicle: { year: null, make: null, model: null }, preferred: { date: null, timeWindow: null }, needs: [], nextAction: 'ask', reply: \"Thanks for reaching out! How can we help with your vehicle today?\" };\n}\n\nreturn [{ json: { ...($json), claudeResponse: parsed } }];"},"id":"d43ba7a6-4578-4b4a-9fd6-321b55b44556","name":"Claude AI","type":"n8n-nodes-base.code","typeVersion":2,"position":[2416,208]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.claudeResponse.nextAction }}","value2":"book"}]}},"id":"dc45a6f2-5bac-4e1b-9080-a15ff47a1cf9","name":"Should Book?","type":"n8n-nodes-base.if","typeVersion":1,"position":[2624,208]},{"parameters":{"jsCode":"const { createClient } = require('@supabase/supabase-js');\nconst supabase = createClient(process.env.SUPABASE_URL, process.env.SUPABASE_SERVICE_ROLE_KEY);\nconst { shop, fromNumber, conv, claudeResponse } = $json;\n\nconst scheduledAt = new Date();\nscheduledAt.setDate(scheduledAt.getDate() + 1);\nscheduledAt.setHours(9, 0, 0, 0);\n\nconst windowStart = new Date(scheduledAt.getTime() - 30 * 60000).toISOString();\nconst windowEnd = new Date(scheduledAt.getTime() + 30 * 60000).toISOString();\nconst { data: existing } = await supabase.from('bookings').select('id').eq('shop_id', shop.id).gte('scheduled_at', windowStart).lte('scheduled_at', windowEnd).eq('status', 'confirmed').maybeSingle();\n\nif (existing) {\n  return [{ json: { ...$json, bookingConflict: true, claudeResponse: { ...claudeResponse, reply: \"Sorry, that slot is taken. What other time works for you?\", nextAction: 'ask' } } }];\n}\n\nlet googleEventId = null;\ntry {\n  const { google } = require('googleapis');\n  const auth = new google.auth.OAuth2(process.env.GOOGLE_CLIENT_ID, process.env.GOOGLE_CLIENT_SECRET);\n  auth.setCredentials({ refresh_token: process.env.GOOGLE_REFRESH_TOKEN });\n  const calendar = google.calendar({ version: 'v3', auth });\n  const event = await calendar.events.insert({\n    calendarId: shop.google_calendar_id || 'primary',\n    requestBody: {\n      summary: `AutoShop: ${claudeResponse.serviceRequest || 'Service'} - ${claudeResponse.customerName || fromNumber}`,\n      description: `Vehicle: ${claudeResponse.vehicle?.year || ''} ${claudeResponse.vehicle?.make || ''} ${claudeResponse.vehicle?.model || ''}\\nPhone: ${fromNumber}`,\n      start: { dateTime: scheduledAt.toISOString(), timeZone: shop.timezone },\n      end: { dateTime: new Date(scheduledAt.getTime() + 3600000).toISOString(), timeZone: shop.timezone }\n    }\n  });\n  googleEventId = event.data.id;\n} catch (e) { console.error('Calendar error:', e.message); }\n\nconst { data: booking } = await supabase.from('bookings').insert({\n  conversation_id: conv.id, shop_id: shop.id, customer_phone: fromNumber,\n  customer_name: claudeResponse.customerName, service_request: claudeResponse.serviceRequest,\n  vehicle_year: claudeResponse.vehicle?.year, vehicle_make: claudeResponse.vehicle?.make,\n  vehicle_model: claudeResponse.vehicle?.model, scheduled_at: scheduledAt.toISOString(),\n  google_event_id: googleEventId, status: 'confirmed'\n}).select().single();\n\nawait supabase.from('conversations').update({ status: 'booked', ended_at: new Date().toISOString() }).eq('id', conv.id);\n\nreturn [{ json: { ...$json, booking, bookingConflict: false } }];"},"id":"762e516f-2b83-43a6-a85e-34296e98f2c2","name":"Create Booking","type":"n8n-nodes-base.code","typeVersion":2,"position":[2848,112]},{"parameters":{"jsCode":"const crypto = require('crypto');\nconst twilio = require('twilio');\nconst { createClient } = require('@supabase/supabase-js');\nconst supabase = createClient(process.env.SUPABASE_URL, process.env.SUPABASE_SERVICE_ROLE_KEY);\nconst { shop, fromNumber, claudeResponse, conv } = $json;\n\nfunction decrypt(enc) {\n  const [ivHex, dataHex] = enc.split(':');\n  const iv = Buffer.from(ivHex, 'hex');\n  const decipher = crypto.createDecipheriv('aes-256-cbc', Buffer.from(process.env.ENCRYPTION_KEY, 'hex'), iv);\n  return Buffer.concat([decipher.update(Buffer.from(dataHex, 'hex')), decipher.final()]).toString('utf8');\n}\n\nconst subToken = decrypt(shop.twilio_auth_token_enc);\nconst client = twilio(shop.twilio_subaccount_sid, subToken);\nconst replyText = (claudeResponse?.reply || 'Thank you! We will be in touch.').substring(0, 320);\n\nconst msg = await client.messages.create({ from: shop.twilio_number, to: fromNumber, body: replyText });\n\nif (conv?.id) {\n  await supabase.from('messages').insert({ conversation_id: conv.id, shop_id: shop.id, direction: 'outbound', body: replyText, twilio_sid: msg.sid });\n}\n\nreturn [{ json: { success: true, twilioSid: msg.sid } }];"},"id":"b398e69f-64f2-4bbe-8a7a-ace50e318e11","name":"Send SMS Reply","type":"n8n-nodes-base.code","typeVersion":2,"position":[3072,208]},{"parameters":{"respondWith":"text","responseBody":"<?xml version=\"1.0\" encoding=\"UTF-8\"?><Response></Response>","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/xml"}]}}},"id":"30bef349-d0f2-4ffb-bc1a-18b9774460f8","name":"Respond SMS","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[3296,208]},{"parameters":{"jsCode":"const { createClient } = require('@supabase/supabase-js');\nconst supabase = createClient(process.env.SUPABASE_URL, process.env.SUPABASE_SERVICE_ROLE_KEY);\nconst cutoff = new Date(Date.now() - 24 * 60 * 60 * 1000).toISOString();\nconst { data: closed } = await supabase.from('conversations').update({ status: 'closed', ended_at: new Date().toISOString() }).eq('status', 'open').lt('last_activity_at', cutoff).select('id');\nreturn [{ json: { closedCount: closed?.length || 0 } }];"},"id":"af2bec10-6607-4d5f-9ef4-feb8a4d8e6aa","name":"Close Inactive Conversations","type":"n8n-nodes-base.code","typeVersion":2,"position":[1088,208]},{"parameters":{"httpMethod":"POST","path":"twilio/sms-inbound","responseMode":"responseNode","options":{}},"id":"428af9e4-8dce-4610-9f05-ea65b28a81f7","name":"Webhook: SMS Inbound","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[864,16],"webhookId":"sms-inbound-webhook"}],"connections":{"Webhook: Voice Status":{"main":[[{"node":"Route Trigger","type":"main","index":0}]]},"Cron: Close Inactive":{"main":[[{"node":"Close Inactive Conversations","type":"main","index":0}]]},"Route Trigger":{"main":[[{"node":"Is Voice?","type":"main","index":0},{"node":"Is SMS?","type":"main","index":0}]]},"Is Voice?":{"main":[[{"node":"Parse Voice Status","type":"main","index":0}]]},"Is SMS?":{"main":[[{"node":"Load Shop SMS","type":"main","index":0}]]},"Parse Voice Status":{"main":[[{"node":"Is Missed Call?","type":"main","index":0}]]},"Is Missed Call?":{"main":[[{"node":"Load Shop Voice","type":"main","index":0}],[{"node":"Respond Voice","type":"main","index":0}]]},"Load Shop Voice":{"main":[[{"node":"Missed Call Send SMS","type":"main","index":0}]]},"Missed Call Send SMS":{"main":[[{"node":"Respond Voice","type":"main","index":0}]]},"Load Shop SMS":{"main":[[{"node":"Gate Check","type":"main","index":0}]]},"Gate Check":{"main":[[{"node":"Is Blocked?","type":"main","index":0}]]},"Is Blocked?":{"main":[[{"node":"Handle Blocked","type":"main","index":0}],[{"node":"Conversation Management","type":"main","index":0}]]},"Handle Blocked":{"main":[[{"node":"Respond Blocked","type":"main","index":0}]]},"Conversation Management":{"main":[[{"node":"Claude AI","type":"main","index":0}]]},"Claude AI":{"main":[[{"node":"Should Book?","type":"main","index":0}]]},"Should Book?":{"main":[[{"node":"Create Booking","type":"main","index":0}],[{"node":"Send SMS Reply","type":"main","index":0}]]},"Create Booking":{"main":[[{"node":"Send SMS Reply","type":"main","index":0}]]},"Send SMS Reply":{"main":[[{"node":"Respond SMS","type":"main","index":0}]]},"Webhook: SMS Inbound":{"main":[[{"node":"Route Trigger","type":"main","index":0}]]}},"authors":"Mantas Gipiškis","name":"Version e17dc908","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-03-02T20:59:01.182Z","id":98,"workflowId":"emBCrWKq7sK9oH3G","versionId":"e17dc908-66ef-4fae-b8be-a41dfa414e5d","event":"activated","userId":"5f4340de-ef7f-4241-ba4e-1b4ad4bdbfe9"}]}}