n8n/workflows/ai-worker.json
{
  "name": "WF-002: AI Worker (Booking Intent + Response)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-worker",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: AI Worker Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ],
      "webhookId": "ai-worker-wf002"
    },
    {
      "parameters": {
        "jsCode": "// Build OpenAI messages array from conversation history\n// Sanitize customer input (prevent prompt injection)\nconst data = $('Webhook: AI Worker Trigger').first().json;\n\nconst systemPrompt = data.systemPrompt || 'You are an auto shop scheduling assistant.';\nconst history = Array.isArray(data.history) ? data.history : [];\nconst newMessage = String(data.newMessage || '').substring(0, 500); // truncate\n\n// Build messages array\nconst messages = [\n  { role: 'system', content: systemPrompt }\n];\n\n// Add history (last 8 messages)\nfor (const msg of history.slice(-8)) {\n  messages.push({\n    role: msg.direction === 'inbound' ? 'user' : 'assistant',\n    content: msg.body\n  });\n}\n\n// Add current message (sanitized)\nmessages.push({ role: 'user', content: newMessage });\n\nreturn [{\n  json: {\n    tenantId: data.tenantId,\n    conversationId: data.conversationId,\n    customerPhone: data.customerPhone,\n    ourPhone: data.ourPhone,\n    messages,\n    rawMessage: newMessage,\n  }\n}];"
      },
      "id": "build-openai-messages",
      "name": "Build OpenAI Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "model": "gpt-4o-mini",
        "messages": {
          "values": "={{ $json.messages }}"
        },
        "options": {
          "maxTokens": 800,
          "temperature": 0.3
        }
      },
      "id": "openai-chat",
      "name": "OpenAI: Chat Completion",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        750,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "openai-creds",
          "name": "AutoShop OpenAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Detect booking intent from AI response\nconst aiResponse = $('OpenAI: Chat Completion').first().json.message?.content || '';\nconst lowerResponse = aiResponse.toLowerCase();\n\n// Booking confirmed keywords\nconst bookingKeywords = [\n  'appointment is confirmed',\n  'booked for',\n  'scheduled for',\n  'see you on',\n  'appointment set',\n  'confirmed for',\n];\n\nconst isBooked = bookingKeywords.some(k => lowerResponse.includes(k));\n\n// Close intent keywords (user wants to stop)\nconst closeKeywords = ['stop', 'cancel', 'nevermind', 'never mind', 'no thanks', 'not interested'];\nconst rawMessage = $('Build OpenAI Messages').first().json.rawMessage.toLowerCase();\nconst userWantsClose = closeKeywords.some(k => rawMessage.includes(k));\n\n// Extract service_type from AI response\nconst serviceMap = {\n  'oil change': 'Oil Change',\n  'brake': 'Brake Service',\n  'tire rotation': 'Tire Rotation',\n  'alignment': 'Alignment',\n  'transmission': 'Transmission Service',\n  'battery': 'Battery Replacement',\n  'a/c': 'AC Repair',\n  'ac repair': 'AC Repair',\n  'check engine': 'Diagnostic',\n  'diagnostic': 'Diagnostic',\n  'inspection': 'Inspection',\n};\n\nlet serviceType = 'General Service';\nfor (const [kw, label] of Object.entries(serviceMap)) {\n  if (lowerResponse.includes(kw)) {\n    serviceType = label;\n    break;\n  }\n}\n\n// Extract scheduled_at from AI response (Month Day pattern)\nlet scheduledAt = null;\nconst dateMatch = aiResponse.match(/\\b(January|February|March|April|May|June|July|August|September|October|November|December)\\s+(\\d{1,2})(?:st|nd|rd|th)?\\b/i);\nif (dateMatch) {\n  const parsed = new Date(dateMatch[1] + ' ' + dateMatch[2] + ', ' + new Date().getFullYear());\n  if (!isNaN(parsed.getTime())) {\n    scheduledAt = parsed.toISOString();\n  }\n}\n\n// Refine with time if found\nconst timeMatch = aiResponse.match(/\\b(\\d{1,2})(?::(\\d{2}))?\\s*(am|pm)\\b/i);\nif (scheduledAt && timeMatch) {\n  const d = new Date(scheduledAt);\n  let h = parseInt(timeMatch[1]);\n  const m = parseInt(timeMatch[2] || '0');\n  if (timeMatch[3].toLowerCase() === 'pm' && h < 12) h += 12;\n  if (timeMatch[3].toLowerCase() === 'am' && h === 12) h = 0;\n  d.setHours(h, m, 0, 0);\n  scheduledAt = d.toISOString();\n}\n\n// Default to tomorrow 9am if no date detected\nif (!scheduledAt) {\n  const tomorrow = new Date();\n  tomorrow.setDate(tomorrow.getDate() + 1);\n  tomorrow.setHours(9, 0, 0, 0);\n  scheduledAt = tomorrow.toISOString();\n}\n\nreturn [{\n  json: {\n    tenantId: $('Build OpenAI Messages').first().json.tenantId,\n    conversationId: $('Build OpenAI Messages').first().json.conversationId,\n    customerPhone: $('Build OpenAI Messages').first().json.customerPhone,\n    ourPhone: $('Build OpenAI Messages').first().json.ourPhone,\n    aiResponse,\n    isBooked,\n    userWantsClose,\n    serviceType,\n    scheduledAt,\n    tokensUsed: $('OpenAI: Chat Completion').first().json.usage?.total_tokens ?? 0,\n  }\n}];"
      },
      "id": "detect-booking-intent",
      "name": "Detect Booking Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SET LOCAL app.current_tenant_id = '{{ $json.tenantId }}';\n-- Save AI response as outbound message\nINSERT INTO messages (tenant_id, conversation_id, direction, body, tokens_used, model_version)\nVALUES (\n  '{{ $json.tenantId }}'::uuid,\n  '{{ $json.conversationId }}'::uuid,\n  'outbound',\n  '{{ $json.aiResponse.replace(/'/g, \"''\") }}',\n  {{ $json.tokensUsed }},\n  'gpt-4o-mini'\n);\n-- Update last_message_at + turn_count\nSELECT touch_conversation('{{ $json.conversationId }}'::uuid, '{{ $json.tenantId }}'::uuid);",
        "options": {}
      },
      "id": "db-save-response",
      "name": "DB: Save AI Response",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1250,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-creds",
          "name": "AutoShop Postgres"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "create",
        "from": "={{ $('Detect Booking Intent').first().json.ourPhone }}",
        "to": "={{ $('Detect Booking Intent').first().json.customerPhone }}",
        "body": "={{ $('Detect Booking Intent').first().json.aiResponse }}"
      },
      "id": "send-sms",
      "name": "Twilio: Send SMS Reply",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1500,
        300
      ],
      "credentials": {
        "twilioApi": {
          "id": "twilio-creds",
          "name": "AutoShop Twilio"
        }
      },
      "notes": "TODO: Use Messaging Service SID for better deliverability"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $('Detect Booking Intent').first().json.isBooked }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ]
        }
      },
      "id": "check-if-booked",
      "name": "Booking Confirmed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1750,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n:5678/webhook/close-conversation",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "conversationId",
              "value": "={{ $('Detect Booking Intent').first().json.conversationId }}"
            },
            {
              "name": "tenantId",
              "value": "={{ $('Detect Booking Intent').first().json.tenantId }}"
            },
            {
              "name": "status",
              "value": "booked"
            },
            {
              "name": "closeReason",
              "value": "booking_completed"
            },
            {
              "name": "serviceType",
              "value": "={{ $('Detect Booking Intent').first().json.serviceType }}"
            },
            {
              "name": "scheduledAt",
              "value": "={{ $('Detect Booking Intent').first().json.scheduledAt }}"
            }
          ]
        }
      },
      "id": "trigger-close-booked",
      "name": "Trigger: Close (Booked)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2000,
        200
      ],
      "notes": "Calls WF-003 close-conversation webhook"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $('Detect Booking Intent').first().json.userWantsClose }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ]
        }
      },
      "id": "check-user-close",
      "name": "User Wants to Close?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2000,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n:5678/webhook/close-conversation",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "conversationId",
              "value": "={{ $('Detect Booking Intent').first().json.conversationId }}"
            },
            {
              "name": "tenantId",
              "value": "={{ $('Detect Booking Intent').first().json.tenantId }}"
            },
            {
              "name": "status",
              "value": "closed"
            },
            {
              "name": "closeReason",
              "value": "user_closed"
            }
          ]
        }
      },
      "id": "trigger-close-user",
      "name": "Trigger: Close (User)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2250,
        400
      ]
    }
  ],
  "connections": {
    "Webhook: AI Worker Trigger": {
      "main": [
        [
          {
            "node": "Build OpenAI Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build OpenAI Messages": {
      "main": [
        [
          {
            "node": "OpenAI: Chat Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: Chat Completion": {
      "main": [
        [
          {
            "node": "Detect Booking Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Booking Intent": {
      "main": [
        [
          {
            "node": "DB: Save AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Save AI Response": {
      "main": [
        [
          {
            "node": "Twilio: Send SMS Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio: Send SMS Reply": {
      "main": [
        [
          {
            "node": "Booking Confirmed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Booking Confirmed?": {
      "main": [
        [
          {
            "node": "Trigger: Close (Booked)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "User Wants to Close?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Wants to Close?": {
      "main": [
        [
          {
            "node": "Trigger: Close (User)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": [
    "autoshop",
    "ai",
    "core"
  ],
  "versionId": "wf002-v1"
}