n8n/workflows/calendar-sync.json
{
  "name": "WF-004: Calendar Sync + Confirmation SMS",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook: Calendar Sync Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "calendar-sync",
        "responseMode": "lastNode",
        "options": {}
      },
      "webhookId": "calendar-sync-wf004"
    },
    {
      "id": "db-fetch-data",
      "name": "DB: Fetch Appointment + Tokens",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        500,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-creds",
          "name": "AutoShop Postgres"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SET LOCAL app.current_tenant_id = '{{ $json.body.tenantId }}';\nSELECT\n  a.id               AS appointment_id,\n  a.customer_phone,\n  a.service_type,\n  a.scheduled_at,\n  a.duration_minutes,\n  t.shop_name,\n  t.timezone,\n  tpn.phone_number   AS our_phone,\n  tct.access_token,\n  tct.refresh_token,\n  tct.calendar_id,\n  tct.token_expiry\nFROM appointments a\nJOIN tenants t ON t.id = a.tenant_id\nJOIN tenant_phone_numbers tpn\n  ON tpn.tenant_id = a.tenant_id AND tpn.status = 'active'\nLEFT JOIN tenant_calendar_tokens tct\n  ON tct.tenant_id = a.tenant_id\nWHERE a.id        = '{{ $json.body.appointmentId }}'::uuid\n  AND a.tenant_id = '{{ $json.body.tenantId }}'::uuid;",
        "options": {}
      }
    },
    {
      "id": "code-calendar-sync",
      "name": "Code: Calendar Sync",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        300
      ],
      "parameters": {
        "jsCode": "// WF-004: Calendar Sync + Confirmation SMS\n// Fetches appointment, optionally writes to Google Calendar, always sends SMS\nconst row = $('DB: Fetch Appointment + Tokens').first().json;\nconst wh  = $('Webhook: Calendar Sync Trigger').first().json.body;\n\n// Format date/time for SMS\nconst tz = row.timezone || 'America/Chicago';\nconst scheduledAt = new Date(row.scheduled_at);\nconst dateStr = scheduledAt.toLocaleDateString('en-US', {\n  weekday: 'long', month: 'long', day: 'numeric', timeZone: tz\n});\nconst timeStr = scheduledAt.toLocaleTimeString('en-US', {\n  hour: 'numeric', minute: '2-digit', timeZone: tz\n});\n\nconst serviceType  = row.service_type || 'General Service';\nconst shopName     = row.shop_name    || 'Your Auto Shop';\nconst customerPhone = row.customer_phone;\nconst ourPhone      = row.our_phone;\n\n// Attempt Google Calendar sync only when all credentials are present\nconst clientId     = $env.GOOGLE_CLIENT_ID;\nconst clientSecret = $env.GOOGLE_CLIENT_SECRET;\nconst canSync      = !!(clientId && clientSecret && row.refresh_token);\n\nlet googleEventId  = '';\nlet calendarSynced = false;\n\nif (canSync) {\n  try {\n    // Step 1: refresh access token\n    const tokenRes = await fetch('https://oauth2.googleapis.com/token', {\n      method: 'POST',\n      headers: { 'Content-Type': 'application/x-www-form-urlencoded' },\n      body: new URLSearchParams({\n        grant_type:    'refresh_token',\n        client_id:     clientId,\n        client_secret: clientSecret,\n        refresh_token: row.refresh_token,\n      }).toString(),\n    });\n    if (!tokenRes.ok) throw new Error('Token refresh failed: ' + await tokenRes.text());\n    const { access_token } = await tokenRes.json();\n\n    // Step 2: create calendar event\n    const endAt     = new Date(scheduledAt.getTime() + (row.duration_minutes || 60) * 60000);\n    const calId     = row.calendar_id || 'primary';\n    const eventBody = {\n      summary:     serviceType + ' — ' + customerPhone,\n      description: 'AutoShop AI booking. Service: ' + serviceType,\n      start: { dateTime: scheduledAt.toISOString(), timeZone: tz },\n      end:   { dateTime: endAt.toISOString(),       timeZone: tz },\n    };\n\n    const calRes = await fetch(\n      'https://www.googleapis.com/calendar/v3/calendars/' +\n        encodeURIComponent(calId) + '/events',\n      {\n        method: 'POST',\n        headers: {\n          'Authorization': 'Bearer ' + access_token,\n          'Content-Type':  'application/json',\n        },\n        body: JSON.stringify(eventBody),\n      }\n    );\n    if (!calRes.ok) throw new Error('Calendar create failed: ' + await calRes.text());\n    const calData  = await calRes.json();\n    googleEventId  = calData.id || '';\n    calendarSynced = true;\n\n  } catch (err) {\n    // Calendar sync failed — SMS still sends below\n    console.error('[WF-004] calendar sync error:', err.message);\n  }\n}\n\nconst smsText = calendarSynced\n  ? `Your ${serviceType} appt is confirmed for ${dateStr} at ${timeStr}. Added to our calendar. See you then! - ${shopName}`\n  : `Your ${serviceType} appt is confirmed for ${dateStr} at ${timeStr}. See you then! - ${shopName}`;\n\nreturn [{\n  json: {\n    customerPhone,\n    ourPhone,\n    googleEventId,\n    calendarSynced,\n    smsText,\n    tenantId:      wh.tenantId,\n    appointmentId: wh.appointmentId,\n  }\n}];"
      }
    },
    {
      "id": "db-update-appointment",
      "name": "DB: Update Appointment Sync",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1000,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-creds",
          "name": "AutoShop Postgres"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SET LOCAL app.current_tenant_id = '{{ $json.tenantId }}';\nUPDATE appointments\nSET\n  google_event_id = CASE\n    WHEN '{{ $json.googleEventId }}' = '' THEN NULL\n    ELSE '{{ $json.googleEventId }}'\n  END,\n  calendar_synced = {{ $json.calendarSynced }}\nWHERE id = '{{ $json.appointmentId }}'::uuid;",
        "options": {}
      }
    },
    {
      "id": "twilio-send-confirmation",
      "name": "Twilio: Send Confirmation SMS",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1250,
        300
      ],
      "credentials": {
        "twilioApi": {
          "id": "twilio-creds",
          "name": "AutoShop Twilio"
        }
      },
      "parameters": {
        "resource": "message",
        "operation": "create",
        "from": "={{ $json.ourPhone }}",
        "to": "={{ $json.customerPhone }}",
        "body": "={{ $json.smsText }}"
      }
    },
    {
      "id": "respond-ok",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1500,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }"
      }
    }
  ],
  "connections": {
    "Webhook: Calendar Sync Trigger": {
      "main": [
        [
          {
            "node": "DB: Fetch Appointment + Tokens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Fetch Appointment + Tokens": {
      "main": [
        [
          {
            "node": "Code: Calendar Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Calendar Sync": {
      "main": [
        [
          {
            "node": "DB: Update Appointment Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Update Appointment Sync": {
      "main": [
        [
          {
            "node": "Twilio: Send Confirmation SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio: Send Confirmation SMS": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": [
    "autoshop",
    "calendar",
    "core"
  ],
  "notes": "Credential boundary: tenant_calendar_tokens must be populated via Google OAuth flow. If refresh_token is absent or GOOGLE_CLIENT_ID/GOOGLE_CLIENT_SECRET env vars are unset, calendar sync is skipped but the confirmation SMS is always sent. To enable calendar sync for a tenant: complete the OAuth flow and INSERT into tenant_calendar_tokens."
}