n8n/workflows/calendar-sync.json
{
  "name": "WF-004: Calendar Sync + Confirmation SMS",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook: Calendar Sync Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "calendar-sync",
        "responseMode": "lastNode",
        "options": {}
      },
      "webhookId": "calendar-sync-wf004"
    },
    {
      "id": "db-fetch-data",
      "name": "DB: Fetch Appointment",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [500, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-creds",
          "name": "AutoShop Postgres"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SET LOCAL app.current_tenant_id = '{{ $json.body.tenantId }}';\nSELECT\n  a.id               AS appointment_id,\n  a.customer_phone,\n  a.service_type,\n  a.scheduled_at,\n  a.duration_minutes,\n  t.shop_name,\n  t.timezone,\n  tpn.phone_number   AS our_phone\nFROM appointments a\nJOIN tenants t ON t.id = a.tenant_id\nJOIN tenant_phone_numbers tpn\n  ON tpn.tenant_id = a.tenant_id AND tpn.status = 'active'\nWHERE a.id        = '{{ $json.body.appointmentId }}'::uuid\n  AND a.tenant_id = '{{ $json.body.tenantId }}'::uuid;",
        "options": {}
      }
    },
    {
      "id": "fetch-tokens",
      "name": "API: Get Decrypted Tokens",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [750, 300],
      "parameters": {
        "url": "=http://api:3000/internal/calendar-tokens/{{ $('Webhook: Calendar Sync Trigger').first().json.body.tenantId }}",
        "method": "GET",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "continueOnFail": true
    },
    {
      "id": "check-tokens",
      "name": "IF: Has Tokens",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1000, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "combinator": "and",
          "conditions": [
            {
              "id": "has-refresh",
              "leftValue": "={{ $json.refresh_token }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "isNotEmpty" }
            }
          ]
        }
      }
    },
    {
      "id": "refresh-google-token",
      "name": "Google: Refresh Access Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 200],
      "parameters": {
        "url": "https://oauth2.googleapis.com/token",
        "method": "POST",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "grant_type", "value": "refresh_token" },
            { "name": "client_id", "value": "={{ $env.GOOGLE_CLIENT_ID }}" },
            { "name": "client_secret", "value": "={{ $env.GOOGLE_CLIENT_SECRET }}" },
            { "name": "refresh_token", "value": "={{ $('API: Get Decrypted Tokens').first().json.refresh_token }}" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "continueOnFail": true
    },
    {
      "id": "code-prepare-event",
      "name": "Code: Prepare Calendar Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 200],
      "parameters": {
        "jsCode": "const row = $('DB: Fetch Appointment').first().json;\nconst tokenData = $('API: Get Decrypted Tokens').first().json;\nconst refreshResult = $('Google: Refresh Access Token').first().json;\n\nconst tz = row.timezone || 'America/Chicago';\nconst scheduledAt = new Date(row.scheduled_at);\nconst endAt = new Date(scheduledAt.getTime() + (row.duration_minutes || 60) * 60000);\nconst calId = tokenData.calendar_id || 'primary';\n\nreturn [{\n  json: {\n    access_token: refreshResult.access_token || '',\n    calendar_id: calId,\n    event: {\n      summary: (row.service_type || 'General Service') + ' — ' + row.customer_phone,\n      description: 'AutoShop AI booking. Service: ' + (row.service_type || 'General Service'),\n      start: { dateTime: scheduledAt.toISOString(), timeZone: tz },\n      end: { dateTime: endAt.toISOString(), timeZone: tz }\n    },\n    canSync: !!(refreshResult.access_token)\n  }\n}];"
      }
    },
    {
      "id": "check-can-sync",
      "name": "IF: Can Sync",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1750, 200],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "combinator": "and",
          "conditions": [
            {
              "id": "has-access",
              "leftValue": "={{ $json.canSync }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      }
    },
    {
      "id": "create-calendar-event",
      "name": "Google: Create Calendar Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2000, 100],
      "parameters": {
        "url": "=https://www.googleapis.com/calendar/v3/calendars/{{ encodeURIComponent($('Code: Prepare Calendar Event').first().json.calendar_id) }}/events",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Code: Prepare Calendar Event').first().json.event) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Code: Prepare Calendar Event').first().json.access_token }}" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "continueOnFail": true
    },
    {
      "id": "code-build-sms",
      "name": "Code: Build SMS + Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2250, 300],
      "parameters": {
        "jsCode": "const row = $('DB: Fetch Appointment').first().json;\nconst wh = $('Webhook: Calendar Sync Trigger').first().json.body;\n\nconst tz = row.timezone || 'America/Chicago';\nconst scheduledAt = new Date(row.scheduled_at);\nconst dateStr = scheduledAt.toLocaleDateString('en-US', {\n  weekday: 'long', month: 'long', day: 'numeric', timeZone: tz\n});\nconst timeStr = scheduledAt.toLocaleTimeString('en-US', {\n  hour: 'numeric', minute: '2-digit', timeZone: tz\n});\n\nconst serviceType = row.service_type || 'General Service';\nconst shopName = row.shop_name || 'Your Auto Shop';\n\n// Check if calendar event was created\nlet googleEventId = '';\nlet calendarSynced = false;\ntry {\n  const calResult = $('Google: Create Calendar Event').first().json;\n  if (calResult && calResult.id) {\n    googleEventId = calResult.id;\n    calendarSynced = true;\n  }\n} catch (e) {\n  // Calendar sync was skipped or failed\n}\n\nconst smsText = calendarSynced\n  ? `Your ${serviceType} appt is confirmed for ${dateStr} at ${timeStr}. Added to our calendar. See you then! - ${shopName}`\n  : `Your ${serviceType} appt is confirmed for ${dateStr} at ${timeStr}. See you then! - ${shopName}`;\n\nreturn [{\n  json: {\n    customerPhone: row.customer_phone,\n    ourPhone: row.our_phone,\n    googleEventId,\n    calendarSynced,\n    smsText,\n    tenantId: wh.tenantId,\n    appointmentId: wh.appointmentId\n  }\n}];"
      }
    },
    {
      "id": "db-update-appointment",
      "name": "DB: Update Appointment Sync",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [2500, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-creds",
          "name": "AutoShop Postgres"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SET LOCAL app.current_tenant_id = '{{ $json.tenantId }}';\nUPDATE appointments\nSET\n  google_event_id = CASE\n    WHEN '{{ $json.googleEventId }}' = '' THEN NULL\n    ELSE '{{ $json.googleEventId }}'\n  END,\n  calendar_synced = {{ $json.calendarSynced }}\nWHERE id = '{{ $json.appointmentId }}'::uuid;",
        "options": {}
      }
    },
    {
      "id": "twilio-send-sms",
      "name": "Twilio: Send Confirmation SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2750, 300],
      "parameters": {
        "url": "=https://api.twilio.com/2010-04-01/Accounts/{{ $env.TWILIO_ACCOUNT_SID }}/Messages.json",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "From", "value": "={{ $json.ourPhone }}" },
            { "name": "To", "value": "={{ $json.customerPhone }}" },
            { "name": "Body", "value": "={{ $json.smsText }}" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "credentials": {
        "httpBasicAuth": {
          "id": "twilio-basic-auth",
          "name": "Twilio Basic Auth"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "respond-ok",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [3000, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }"
      }
    }
  ],
  "connections": {
    "Webhook: Calendar Sync Trigger": {
      "main": [
        [
          {
            "node": "DB: Fetch Appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Fetch Appointment": {
      "main": [
        [
          {
            "node": "API: Get Decrypted Tokens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Get Decrypted Tokens": {
      "main": [
        [
          {
            "node": "IF: Has Tokens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Has Tokens": {
      "main": [
        [
          {
            "node": "Google: Refresh Access Token",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Build SMS + Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google: Refresh Access Token": {
      "main": [
        [
          {
            "node": "Code: Prepare Calendar Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Prepare Calendar Event": {
      "main": [
        [
          {
            "node": "IF: Can Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Can Sync": {
      "main": [
        [
          {
            "node": "Google: Create Calendar Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Build SMS + Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google: Create Calendar Event": {
      "main": [
        [
          {
            "node": "Code: Build SMS + Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Build SMS + Result": {
      "main": [
        [
          {
            "node": "DB: Update Appointment Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Update Appointment Sync": {
      "main": [
        [
          {
            "node": "Twilio: Send Confirmation SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio: Send Confirmation SMS": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": [
    "autoshop",
    "calendar",
    "core"
  ],
  "notes": "WF-004 v2: Uses internal API endpoint to decrypt calendar tokens (no more encrypted tokens sent to Google). Uses httpRequest nodes for all external calls (fetch not available in n8n Code sandbox). Flow: Webhook → DB appointment → API decrypt tokens → Google refresh → Google create event → SMS → Respond 200. If tokens missing or refresh fails, calendar sync is skipped but SMS confirmation is always sent."
}
