n8n/workflows/demo-sms.json
{
  "id": "demo-sms-001",
  "name": "AutoShop AI - Demo Mode (Full Flow)",
  "nodes": [
    {
      "parameters": {
        "path": "demo-sms",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "d-webhook",
      "name": "Webhook - Demo SMS",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [260, 300],
      "webhookId": "demo-sms-wh001"
    },
    {
      "parameters": {
        "jsCode": "// Identical logic to production mvp001 Prepare AI Prompt node\nconst from = ($json.body?.From || $json.From || '').toString();\nconst to = ($json.body?.To || $json.To || '').toString();\nconst text = ($json.body?.Body || $json.Body || '').toString().trim();\nconst messageSid = ($json.body?.MessageSid || $json.MessageSid || 'SMdemo').toString();\nconst profileName = ($json.body?.ProfileName || $json.ProfileName || '').toString();\n\nconst bookingIntent = /(book|appointment|schedule|tomorrow|today|monday|tuesday|wednesday|thursday|friday|saturday|am|pm|oil|brake|tires?|diagnostic|repair|service)/i.test(text);\n\nlet serviceType = 'general service';\nif (/oil/i.test(text)) serviceType = 'oil change';\nelse if (/brake/i.test(text)) serviceType = 'brake service';\nelse if (/tire|tyre/i.test(text)) serviceType = 'tire service';\nelse if (/diagnostic/i.test(text)) serviceType = 'diagnostic';\nelse if (/battery/i.test(text)) serviceType = 'battery service';\nelse if (/engine/i.test(text)) serviceType = 'engine repair';\n\nconst currentDate = new Date().toISOString();\n\nconst systemPrompt = `You are AutoShop AI, an SMS booking assistant for an auto repair shop.\\nYour job:\\n1. Reply like a real service advisor by SMS.\\n2. Be concise, helpful, and natural.\\n3. If the customer wants to book, collect missing info.\\n4. Extract booking info when present.\\n5. Never use markdown.\\n6. Return STRICT JSON only.\\n\\nBusiness context:\\n- Shop name: AutoShop AI\\n- Channel: SMS\\n- Goal: convert inbound SMS into appointment booking\\n- Timezone: America/Chicago\\n- Current timestamp: ${currentDate}\\n\\nReturn JSON exactly in this shape:\\n{\\n  \"reply_text\": \"string\",\\n  \"booking_intent\": true,\\n  \"customer_name\": \"string\",\\n  \"service_type\": \"string\",\\n  \"requested_time_text\": \"string\",\\n  \"needs_more_info\": true,\\n  \"calendar_summary\": \"string\",\\n  \"calendar_description\": \"string\"\\n}\\n\\nRules:\\n- booking_intent = true if the person appears to want service or scheduling.\\n- If date/time is unclear, ask for it in reply_text and set needs_more_info = true.\\n- If service type is unclear, ask for it.\\n- Keep reply_text short enough for SMS.\\n- calendar_summary should be short.\\n- calendar_description should include the original SMS.`;\n\nconst userPrompt = `Inbound customer SMS:\\nFrom: ${from}\\nProfile Name: ${profileName}\\nMessage: ${text}\\n\\nHeuristic booking intent: ${bookingIntent}\\nHeuristic service type: ${serviceType}`;\n\n// Build credentials exactly as production does\nconst openaiKey = $env.OPENAI_API_KEY || '';\nconst twilioSid = $env.TWILIO_ACCOUNT_SID || '';\nconst twilioToken = $env.TWILIO_AUTH_TOKEN || '';\nconst twilioMsgSid = $env.TWILIO_MESSAGING_SERVICE_SID || '';\nconst twilioAuth = 'Basic ' + Buffer.from(twilioSid + ':' + twilioToken).toString('base64');\n\nreturn [{\n  json: {\n    from,\n    to,\n    body: text,\n    message_sid: messageSid,\n    booking_intent_heuristic: bookingIntent,\n    service_type_heuristic: serviceType,\n    openai_system_prompt: systemPrompt,\n    openai_user_prompt: userPrompt,\n    openai_bearer: 'Bearer ' + openaiKey,\n    twilio_auth: twilioAuth,\n    twilio_sid: twilioSid,\n    twilio_msg_sid: twilioMsgSid\n  }\n}];"
      },
      "id": "d-prepare",
      "name": "Prepare AI Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{$json.openai_bearer}}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify({model:'gpt-4o-mini',temperature:0.2,messages:[{role:'system',content:$json.openai_system_prompt},{role:'user',content:$json.openai_user_prompt}]})}}"
      },
      "id": "d-openai",
      "name": "OpenAI - Generate Reply + Booking JSON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [760, 300]
    },
    {
      "parameters": {
        "jsCode": "// Identical to production Parse AI JSON\nconst raw = $json.choices?.[0]?.message?.content || '{}';\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (e) {\n  parsed = {\n    reply_text: 'Thanks for contacting AutoShop AI. What service do you need and what day/time works for you?',\n    booking_intent: true,\n    customer_name: '',\n    service_type: 'general service',\n    requested_time_text: '',\n    needs_more_info: true,\n    calendar_summary: 'AutoShop appointment inquiry',\n    calendar_description: `Raw AI parse failed. Original response: ${raw}`\n  };\n}\n\nconst base = $('Prepare AI Prompt').first().json;\n\nreturn [{\n  json: {\n    ...base,\n    ai_raw: raw,\n    reply_text: parsed.reply_text || 'Thanks for contacting AutoShop AI. What service do you need?',\n    booking_intent: !!parsed.booking_intent,\n    customer_name: parsed.customer_name || '',\n    service_type: parsed.service_type || base.service_type_heuristic || 'general service',\n    requested_time_text: parsed.requested_time_text || '',\n    needs_more_info: parsed.needs_more_info !== undefined ? !!parsed.needs_more_info : true,\n    calendar_summary: parsed.calendar_summary || 'AutoShop appointment inquiry',\n    calendar_description: parsed.calendar_description || ''\n  }\n}];"
      },
      "id": "d-parse",
      "name": "Parse AI JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1020, 300]
    },
    {
      "parameters": {
        "jsCode": "// Create a real Google Calendar event when booking info is complete.\n// Requires GOOGLE_ACCESS_TOKEN in env (short-lived token from Google OAuth Playground\n// or from the full OAuth flow via /auth/google/start).\n//\n// calendar_status values:\n//   created        — event created, google_event_id + google_event_link are set\n//   needs_more_info — AI says needs_more_info=true, skip calendar\n//   no_token       — GOOGLE_ACCESS_TOKEN not set, skip calendar\n//   api_error:...  — Google API returned error\n//   error:...      — network / parse error\n\nconst ai = $json;\nconst accessToken = $env.GOOGLE_ACCESS_TOKEN || '';\n\nconst canBook = ai.booking_intent && !ai.needs_more_info && ai.requested_time_text;\n\nlet googleEventId = null;\nlet googleEventLink = null;\nlet calendarStatus = 'skipped';\n\nif (canBook && accessToken) {\n  try {\n    // Parse requested_time_text to a Date.\n    // AI returns ISO strings when it has enough info (e.g. \"2026-03-08T10:00:00-06:00\").\n    // Fall back to tomorrow 10am CT if unparseable.\n    let start = new Date(ai.requested_time_text);\n    if (isNaN(start.getTime())) {\n      const d = new Date();\n      d.setDate(d.getDate() + 1);\n      d.setHours(16, 0, 0, 0); // 10:00 CT = 16:00 UTC\n      start = d;\n    }\n    const end = new Date(start.getTime() + 60 * 60 * 1000); // 1-hour slot\n\n    const eventBody = {\n      summary: ai.calendar_summary || (ai.service_type + ' — ' + ai.from),\n      description: [\n        'AutoShop AI Demo Booking',\n        'Service : ' + ai.service_type,\n        'Customer: ' + ai.from,\n        (ai.customer_name ? 'Name    : ' + ai.customer_name : ''),\n        'SMS     : ' + ai.body,\n        '',\n        (ai.calendar_description || '')\n      ].filter(Boolean).join('\\n'),\n      start: { dateTime: start.toISOString(), timeZone: 'America/Chicago' },\n      end:   { dateTime: end.toISOString(),   timeZone: 'America/Chicago' }\n    };\n\n    const res = await fetch(\n      'https://www.googleapis.com/calendar/v3/calendars/primary/events',\n      {\n        method: 'POST',\n        headers: {\n          'Authorization': 'Bearer ' + accessToken,\n          'Content-Type':  'application/json'\n        },\n        body: JSON.stringify(eventBody)\n      }\n    );\n\n    const data = await res.json();\n    if (res.ok && data.id) {\n      googleEventId   = data.id;\n      googleEventLink = data.htmlLink || null;\n      calendarStatus  = 'created';\n    } else {\n      calendarStatus = 'api_error:' + (data.error?.message || String(res.status));\n    }\n  } catch (err) {\n    calendarStatus = 'error:' + err.message;\n  }\n} else if (canBook && !accessToken) {\n  calendarStatus = 'no_token';\n} else {\n  calendarStatus = 'needs_more_info';\n}\n\nreturn [{\n  json: {\n    ...$json,\n    google_event_id:   googleEventId,\n    google_event_link: googleEventLink,\n    calendar_status:   calendarStatus\n  }\n}];"
      },
      "id": "d-calendar",
      "name": "Create Google Calendar Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1280, 300]
    },
    {
      "parameters": {
        "jsCode": "// Set final_reply_text and override To with demo recipient.\nconst DEMO_TO = '+37067577829'; // Demo recipient — real phone for live demo\n\nreturn [{\n  json: {\n    ...$json,\n    final_reply_text: $json.reply_text,\n    demo_to: DEMO_TO\n  }\n}];"
      },
      "id": "d-compose",
      "name": "Compose Demo Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{\"https://api.twilio.com/2010-04-01/Accounts/\" + $json.twilio_sid + \"/Messages.json\"}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{$json.twilio_auth}}" }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "To",                  "value": "={{$json.demo_to}}" },
            { "name": "Body",                "value": "={{$json.final_reply_text}}" },
            { "name": "MessagingServiceSid", "value": "={{$json.twilio_msg_sid}}" }
          ]
        }
      },
      "id": "d-twilio",
      "name": "Twilio - Send Reply SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1800, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract Twilio result and combine with AI + calendar output for clean demo response\nconst tw      = $json;\nconst ai      = $('Parse AI JSON').first().json;\nconst cal     = $('Create Google Calendar Event').first().json;\nconst compose = $('Compose Demo Reply').first().json;\n\nreturn [{\n  json: {\n    demo: true,\n    inbound_message:    ai.body,\n    from:               ai.from,\n    ai_reply:           ai.reply_text,\n    booking_intent:     ai.booking_intent,\n    service_type:       ai.service_type,\n    requested_time_text: ai.requested_time_text || '',\n    needs_more_info:    ai.needs_more_info,\n    calendar_summary:   ai.calendar_summary,\n    calendar_status:    cal.calendar_status || 'skipped',\n    google_event_id:    cal.google_event_id   || null,\n    google_event_link:  cal.google_event_link  || null,\n    twilio_to:          compose.demo_to,\n    twilio_message_sid: tw.sid    || null,\n    twilio_status:      tw.status || null,\n    twilio_error:       tw.message || null,\n    model: 'gpt-4o-mini'\n  }\n}];"
      },
      "id": "d-format",
      "name": "Format Demo Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2060, 300]
    }
  ],
  "connections": {
    "Webhook - Demo SMS": {
      "main": [[{ "node": "Prepare AI Prompt", "type": "main", "index": 0 }]]
    },
    "Prepare AI Prompt": {
      "main": [[{ "node": "OpenAI - Generate Reply + Booking JSON", "type": "main", "index": 0 }]]
    },
    "OpenAI - Generate Reply + Booking JSON": {
      "main": [[{ "node": "Parse AI JSON", "type": "main", "index": 0 }]]
    },
    "Parse AI JSON": {
      "main": [[{ "node": "Create Google Calendar Event", "type": "main", "index": 0 }]]
    },
    "Create Google Calendar Event": {
      "main": [[{ "node": "Compose Demo Reply", "type": "main", "index": 0 }]]
    },
    "Compose Demo Reply": {
      "main": [[{ "node": "Twilio - Send Reply SMS", "type": "main", "index": 0 }]]
    },
    "Twilio - Send Reply SMS": {
      "main": [[{ "node": "Format Demo Response", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "versionId": "demo-sms-v3"
}
