n8n/workflows/twilio-sms-ingest.json
{
  "name": "WF-001: Twilio SMS Ingest",
  "nodes": [
    {
      "parameters": {
        "path": "sms-inbound",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook: SMS Inbound",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "sms-inbound-wf001"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-job-type",
              "leftValue": "={{ $json.type }}",
              "rightValue": "service-unavailable-reply",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-job-type",
      "name": "Check Job Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [500, 300],
      "notes": "Routes service-unavailable-reply jobs to Twilio SMS without DB lookup"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.twilio.com/2010-04-01/Accounts/{{ $env.TWILIO_ACCOUNT_SID }}/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "={{ $json.customerPhone }}"
            },
            {
              "name": "From",
              "value": "={{ $json.ourPhone }}"
            },
            {
              "name": "Body",
              "value": "We're sorry, this shop's SMS service is currently unavailable. Please call the shop directly or try again later."
            }
          ]
        },
        "options": {}
      },
      "id": "send-unavailable-sms",
      "name": "Twilio: Send Service-Unavailable SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [750, 150],
      "credentials": {
        "httpBasicAuth": {
          "id": "twilio-http-creds",
          "name": "Twilio Basic Auth"
        }
      },
      "notes": "M9 fix: blocked-tenant SMS reply via Twilio API (native Twilio node broken in n8n 2.10.3)"
    },
    {
      "parameters": {
        "jsCode": "// Validate inputs before any DB operations (S3 — input sanitization)\n// tenantId must be a valid UUID; customerPhone must be E.164 format\nconst data = $json;\n\nconst UUID_RE = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\nconst PHONE_RE = /^\\+\\d{7,15}$/;\n\nif (!data.tenantId || !UUID_RE.test(data.tenantId)) {\n  throw new Error(`Invalid tenantId format: ${data.tenantId}`);\n}\n\nif (!data.customerPhone || !PHONE_RE.test(data.customerPhone)) {\n  throw new Error(`Invalid customerPhone format: ${data.customerPhone}`);\n}\n\n// Limit message body length to prevent oversized payloads\nconst messageBody = (data.body || '').substring(0, 1600);\n\nreturn [{ json: { ...data, body: messageBody } }];"
      },
      "id": "validate-inputs",
      "name": "Validate Inputs (S3)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 450],
      "notes": "S3: Validates tenantId (UUID) and customerPhone (E.164) before DB access"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT t.*, sp.prompt_text as system_prompt\nFROM tenants t\nLEFT JOIN system_prompts sp ON sp.tenant_id = t.id AND sp.is_active = TRUE\nWHERE t.id = $1::uuid\nLIMIT 1",
        "options": {
          "queryReplacement": "={{ $json.tenantId }}"
        }
      },
      "id": "db-lookup-tenant",
      "name": "DB: Lookup Tenant + System Prompt",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [750, 450],
      "credentials": {
        "postgres": {
          "id": "postgres-creds",
          "name": "AutoShop Postgres"
        }
      },
      "notes": "S3: Parameterized query — tenantId via $1 placeholder"
    },
    {
      "parameters": {
        "jsCode": "// Set tenant context variable for all downstream nodes\nconst tenant = $('DB: Lookup Tenant + System Prompt').first().json;\nconst inbound = $('Validate Inputs (S3)').first().json;\n\nif (!tenant || !tenant.id) {\n  throw new Error(`Tenant not found: ${inbound.tenantId}`);\n}\n\nreturn [{\n  json: {\n    tenantId: tenant.id,\n    billingStatus: tenant.billing_status,\n    convUsed: tenant.conv_used_this_cycle,\n    convLimit: tenant.conv_limit_this_cycle,\n    systemPrompt: tenant.system_prompt,\n    customerPhone: inbound.customerPhone,\n    messageBody: inbound.body,\n    messageSid: inbound.messageSid,\n    atSoftLimit: inbound.atSoftLimit ?? false,\n    triggerType: inbound.triggerType ?? 'sms_reply',\n  }\n}];"
      },
      "id": "set-tenant-context",
      "name": "Set Tenant Context (RLS)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 450]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT set_config('app.current_tenant_id', $1::text, false);\nSELECT * FROM get_or_create_conversation($2::uuid, $3);",
        "options": {
          "queryReplacement": "={{ $json.tenantId }},={{ $json.tenantId }},={{ $json.customerPhone }}"
        }
      },
      "id": "db-get-conversation",
      "name": "DB: Get or Create Conversation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [1250, 450],
      "credentials": {
        "postgres": {
          "id": "postgres-creds",
          "name": "AutoShop Postgres"
        }
      },
      "notes": "S3: Parameterized — tenantId and customerPhone via $1/$2/$3 placeholders"
    },
    {
      "parameters": {
        "jsCode": "// Prepare safe message body before DB insert (S3)\n// Remove null bytes; body already truncated in Validate Inputs node\nconst ctx = $('Set Tenant Context (RLS)').first().json;\nconst convData = $('DB: Get or Create Conversation').first().json;\n\nconst rawBody = ctx.triggerType === 'missed_call' ? '(Missed call)' : (ctx.messageBody || '');\n// Strip null bytes which can cause issues in some PostgreSQL configs\nconst safeBody = rawBody.replace(/\\x00/g, '');\n\nreturn [{\n  json: {\n    tenantId: ctx.tenantId,\n    conversationId: convData.conversation_id,\n    messageBody: safeBody,\n    messageSid: ctx.messageSid ?? ''\n  }\n}];"
      },
      "id": "prepare-message-data",
      "name": "Prepare Message Data (S3)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300],
      "notes": "S3: Sanitizes message body before parameterized DB insert"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO messages (tenant_id, conversation_id, direction, body, twilio_sid)\nVALUES ($1::uuid, $2::uuid, 'inbound', $3, NULLIF($4, ''))\nON CONFLICT (twilio_sid) DO NOTHING",
        "options": {
          "queryReplacement": "={{ $json.tenantId }},={{ $json.conversationId }},={{ $json.messageBody }},={{ $json.messageSid }}"
        }
      },
      "id": "db-save-inbound-message",
      "name": "DB: Save Inbound Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [1500, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-creds",
          "name": "AutoShop Postgres"
        }
      },
      "notes": "S3: Fully parameterized — message body via $3 placeholder; no manual escaping"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-soft-limit",
              "leftValue": "={{ $('Set Tenant Context (RLS)').first().json.atSoftLimit }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-soft-limit",
      "name": "At Soft Limit?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1750, 300]
    },
    {
      "parameters": {
        "jsCode": "// Soft limit response — paid plan, 100% used\nreturn [{\n  json: {\n    responseText: 'Hi! We\\'ve reached our monthly booking limit. Our team will call you back to schedule your appointment. Thank you!',\n    conversationId: $('DB: Get or Create Conversation').first().json.conversation_id,\n    tenantId: $('Set Tenant Context (RLS)').first().json.tenantId,\n    customerPhone: $('Set Tenant Context (RLS)').first().json.customerPhone,\n  }\n}];"
      },
      "id": "soft-limit-response",
      "name": "Compose Soft-Limit Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1750, 150]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT body, direction, sent_at\nFROM messages\nWHERE conversation_id = $1::uuid\nORDER BY sent_at ASC\nLIMIT 8",
        "options": {
          "queryReplacement": "={{ $('DB: Get or Create Conversation').first().json.conversation_id }}"
        }
      },
      "id": "db-fetch-history",
      "name": "DB: Fetch Conversation History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [1750, 450],
      "credentials": {
        "postgres": {
          "id": "postgres-creds",
          "name": "AutoShop Postgres"
        }
      },
      "notes": "S3: Parameterized — conversation_id via $1 placeholder"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n:5678/webhook/ai-worker",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "tenantId", "value": "={{ $('Set Tenant Context (RLS)').first().json.tenantId }}" },
            { "name": "conversationId", "value": "={{ $('DB: Get or Create Conversation').first().json.conversation_id }}" },
            { "name": "systemPrompt", "value": "={{ $('Set Tenant Context (RLS)').first().json.systemPrompt }}" },
            { "name": "history", "value": "={{ $('DB: Fetch Conversation History').all().map(m => m.json) }}" },
            { "name": "newMessage", "value": "={{ $('Set Tenant Context (RLS)').first().json.messageBody }}" },
            { "name": "customerPhone", "value": "={{ $('Set Tenant Context (RLS)').first().json.customerPhone }}" },
            { "name": "ourPhone", "value": "={{ $('Webhook: SMS Inbound').first().json.ourPhone }}" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "call-ai-worker",
      "name": "Call AI Worker (WF-002)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2000, 450],
      "notes": "Triggers WF-002 via webhook. responseFormat=text avoids Invalid JSON error when WF-002 returns empty body."
    }
  ],
  "connections": {
    "Webhook: SMS Inbound": {
      "main": [[{ "node": "Check Job Type", "type": "main", "index": 0 }]]
    },
    "Check Job Type": {
      "main": [
        [{ "node": "Twilio: Send Service-Unavailable SMS", "type": "main", "index": 0 }],
        [{ "node": "Validate Inputs (S3)", "type": "main", "index": 0 }]
      ]
    },
    "Validate Inputs (S3)": {
      "main": [[{ "node": "DB: Lookup Tenant + System Prompt", "type": "main", "index": 0 }]]
    },
    "DB: Lookup Tenant + System Prompt": {
      "main": [[{ "node": "Set Tenant Context (RLS)", "type": "main", "index": 0 }]]
    },
    "Set Tenant Context (RLS)": {
      "main": [[{ "node": "DB: Get or Create Conversation", "type": "main", "index": 0 }]]
    },
    "DB: Get or Create Conversation": {
      "main": [[{ "node": "Prepare Message Data (S3)", "type": "main", "index": 0 }]]
    },
    "Prepare Message Data (S3)": {
      "main": [[{ "node": "DB: Save Inbound Message", "type": "main", "index": 0 }]]
    },
    "DB: Save Inbound Message": {
      "main": [[{ "node": "At Soft Limit?", "type": "main", "index": 0 }]]
    },
    "At Soft Limit?": {
      "main": [
        [{ "node": "Compose Soft-Limit Reply", "type": "main", "index": 0 }],
        [{ "node": "DB: Fetch Conversation History", "type": "main", "index": 0 }]
      ]
    },
    "DB: Fetch Conversation History": {
      "main": [[{ "node": "Call AI Worker (WF-002)", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["autoshop", "sms", "core"],
  "triggerCount": 1,
  "updatedAt": "2026-03-08T00:00:00.000Z",
  "versionId": "wf001-v2"
}
