n8n/workflows/TEST/demo-sms.json
{
  "id": "demo-sms-001",
  "name": "AutoShop AI - Demo Mode (Full Flow)",
  "nodes": [
    {
      "parameters": {
        "path": "demo-sms",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "d-webhook",
      "name": "Webhook - Demo SMS",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [260, 300],
      "webhookId": "demo-sms-wh001"
    },
    {
      "parameters": {
        "jsCode": "// Parse Twilio-format SMS payload and build AI prompt.\n// ZERO $env usage — all credentials handled by n8n credential system.\nconst from = ($json.body?.From || $json.From || '').toString();\nconst to = ($json.body?.To || $json.To || '').toString();\nconst text = ($json.body?.Body || $json.Body || '').toString().trim();\nconst messageSid = ($json.body?.MessageSid || $json.MessageSid || 'SMdemo').toString();\nconst profileName = ($json.body?.ProfileName || $json.ProfileName || '').toString();\n\nconst bookingIntent = /(book|appointment|schedule|tomorrow|today|monday|tuesday|wednesday|thursday|friday|saturday|am|pm|oil|brake|tires?|diagnostic|repair|service)/i.test(text);\n\nlet serviceType = 'general service';\nif (/oil/i.test(text)) serviceType = 'oil change';\nelse if (/brake/i.test(text)) serviceType = 'brake service';\nelse if (/tire|tyre/i.test(text)) serviceType = 'tire service';\nelse if (/diagnostic/i.test(text)) serviceType = 'diagnostic';\nelse if (/battery/i.test(text)) serviceType = 'battery service';\nelse if (/engine/i.test(text)) serviceType = 'engine repair';\n\nconst currentDate = new Date().toISOString();\n\nconst systemPrompt = `You are AutoShop AI, an SMS booking assistant for an auto repair shop.\\nYour job:\\n1. Reply like a real service advisor by SMS.\\n2. Be concise, helpful, and natural.\\n3. If the customer wants to book, collect missing info.\\n4. Extract booking info when present.\\n5. Never use markdown.\\n6. Return STRICT JSON only.\\n\\nBusiness context:\\n- Shop name: AutoShop AI\\n- Channel: SMS\\n- Goal: convert inbound SMS into appointment booking\\n- Timezone: America/Chicago\\n- Current timestamp: ${currentDate}\\n\\nReturn JSON exactly in this shape:\\n{\\n  \\\"reply_text\\\": \\\"string\\\",\\n  \\\"booking_intent\\\": true,\\n  \\\"customer_name\\\": \\\"string\\\",\\n  \\\"service_type\\\": \\\"string\\\",\\n  \\\"requested_time_text\\\": \\\"ISO 8601 datetime string e.g. 2026-03-10T10:00:00-06:00 or empty string if unknown\\\",\\n  \\\"needs_more_info\\\": true,\\n  \\\"calendar_summary\\\": \\\"string\\\",\\n  \\\"calendar_description\\\": \\\"string\\\"\\n}\\n\\nRules:\\n- booking_intent = true if the person appears to want service or scheduling.\\n- If date/time is unclear, ask for it in reply_text and set needs_more_info = true.\\n- If service type is unclear, ask for it.\\n- requested_time_text MUST be a valid ISO 8601 string when a specific date and time is known. Use America/Chicago timezone offset (-06:00 CDT or -05:00 CST). Empty string if unknown.\\n- Set needs_more_info = false only when you have: service type AND specific date AND specific time.\\n- Keep reply_text short enough for SMS.\\n- calendar_summary should be short.\\n- calendar_description should include the original SMS.`;\n\nconst userPrompt = `Inbound customer SMS:\\nFrom: ${from}\\nProfile Name: ${profileName}\\nMessage: ${text}\\n\\nHeuristic booking intent: ${bookingIntent}\\nHeuristic service type: ${serviceType}`;\n\nreturn [{\n  json: {\n    from,\n    to,\n    body: text,\n    message_sid: messageSid,\n    profile_name: profileName,\n    booking_intent_heuristic: bookingIntent,\n    service_type_heuristic: serviceType,\n    openai_request_body: JSON.stringify({\n      model: 'gpt-4o-mini',\n      temperature: 0.2,\n      messages: [\n        { role: 'system', content: systemPrompt },\n        { role: 'user', content: userPrompt }\n      ]\n    })\n  }\n}];"
      },
      "id": "d-prepare",
      "name": "Prepare AI Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.openai_request_body }}"
      },
      "id": "d-openai",
      "name": "OpenAI - Generate Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse OpenAI response — zero $env\nconst raw = $json.choices?.[0]?.message?.content || '{}';\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (e) {\n  parsed = {\n    reply_text: 'Thanks for contacting AutoShop AI. What service do you need and what day/time works for you?',\n    booking_intent: true,\n    customer_name: '',\n    service_type: 'general service',\n    requested_time_text: '',\n    needs_more_info: true,\n    calendar_summary: 'AutoShop appointment inquiry',\n    calendar_description: `Raw AI parse failed. Original response: ${raw}`\n  };\n}\n\nconst base = $('Prepare AI Prompt').first().json;\n\nreturn [{\n  json: {\n    ...base,\n    ai_raw: raw,\n    reply_text: parsed.reply_text || 'Thanks for contacting AutoShop AI. What service do you need?',\n    booking_intent: !!parsed.booking_intent,\n    customer_name: parsed.customer_name || '',\n    service_type: parsed.service_type || base.service_type_heuristic || 'general service',\n    requested_time_text: parsed.requested_time_text || '',\n    needs_more_info: parsed.needs_more_info !== undefined ? !!parsed.needs_more_info : true,\n    calendar_summary: parsed.calendar_summary || 'AutoShop appointment inquiry',\n    calendar_description: parsed.calendar_description || ''\n  }\n}];"
      },
      "id": "d-parse",
      "name": "Parse AI JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 300]
    },
    {
      "parameters": {
        "jsCode": "// Prepare calendar event data and determine routing.\n// Zero $env — all credentials handled by n8n credential system.\nconst ai = $json;\nconst canBook = ai.booking_intent && !ai.needs_more_info && ai.requested_time_text;\n\nlet should_create_event = false;\nlet event_start = '';\nlet event_end = '';\nlet calendar_status = 'no_booking_intent';\n\nif (!ai.booking_intent) {\n  calendar_status = 'no_booking_intent';\n} else if (ai.needs_more_info || !ai.requested_time_text) {\n  calendar_status = 'needs_more_info';\n} else {\n  const start = new Date(ai.requested_time_text);\n  if (isNaN(start.getTime())) {\n    calendar_status = 'invalid_time';\n  } else {\n    should_create_event = true;\n    event_start = start.toISOString();\n    // Default 1-hour appointment\n    event_end = new Date(start.getTime() + 60 * 60 * 1000).toISOString();\n    calendar_status = 'attempting_creation';\n  }\n}\n\nreturn [{\n  json: {\n    ...ai,\n    should_create_event,\n    event_start,\n    event_end,\n    calendar_status\n  }\n}];"
      },
      "id": "d-cal-prep",
      "name": "Calendar Prep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "cal-route-condition",
              "leftValue": "={{ $json.should_create_event }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d-if-book",
      "name": "Should Create Event?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1520, 300]
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "create",
        "calendar": "primary",
        "start": "={{ $json.event_start }}",
        "end": "={{ $json.event_end }}",
        "additionalFields": {
          "summary": "={{ $json.calendar_summary }}",
          "description": "={{ 'Customer: ' + $json.from + ' | Service: ' + $json.service_type + ' | SMS: ' + $json.body }}"
        }
      },
      "id": "d-gcal",
      "name": "Google Calendar - Create Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [1740, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Handle Google Calendar API response.\n// If the node succeeded, $json contains the created event.\n// If continueOnFail fired, $json contains error info.\nconst calResponse = $json;\nconst prepData = $('Calendar Prep').first().json;\n\nconst eventId = calResponse.id || null;\nconst eventLink = calResponse.htmlLink || null;\nconst hasError = !eventId;\n\nlet calendar_status;\nlet calendar_error_detail = null;\n\nif (eventId) {\n  calendar_status = 'created';\n} else {\n  const errMsg = (calResponse.error?.message || calResponse.message || calResponse.errorMessage || JSON.stringify(calResponse) || '').toLowerCase();\n  calendar_error_detail = calResponse.error?.message || calResponse.message || calResponse.errorMessage || 'Unknown error';\n  if (errMsg.includes('credential') || errMsg.includes('auth') || errMsg.includes('token') || errMsg.includes('oauth') || errMsg.includes('no matching')) {\n    calendar_status = 'calendar_not_linked';\n  } else {\n    calendar_status = 'calendar_error';\n  }\n}\n\nreturn [{\n  json: {\n    ...prepData,\n    google_event_id: eventId,\n    google_event_link: eventLink,\n    calendar_status,\n    calendar_error_detail\n  }\n}];"
      },
      "id": "d-cal-result",
      "name": "Handle Calendar Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1960, 200]
    },
    {
      "parameters": {
        "jsCode": "// No booking to create — pass through with current calendar_status.\nconst data = $json;\nreturn [{\n  json: {\n    ...data,\n    google_event_id: null,\n    google_event_link: null,\n    calendar_error_detail: null\n  }\n}];"
      },
      "id": "d-cal-skip",
      "name": "Handle No Booking",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1740, 450]
    },
    {
      "parameters": {
        "jsCode": "// Build final reply and Twilio config.\n// ZERO $env — all config is hardcoded constants below.\n// ═══════════════════════════════════════════════════\n// CONFIGURATION: Edit these 3 values in the n8n UI:\nconst DEMO_RECIPIENT = '+37067577829';\nconst TWILIO_ACCOUNT_SID = 'ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx';\nconst TWILIO_MESSAGING_SID = 'MGxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx';\n// ═══════════════════════════════════════════════════\n\nconst data = $input.first().json;\n\nreturn [{\n  json: {\n    ...data,\n    final_reply_text: data.reply_text,\n    demo_to: DEMO_RECIPIENT,\n    twilio_url: `https://api.twilio.com/2010-04-01/Accounts/${TWILIO_ACCOUNT_SID}/Messages.json`,\n    twilio_messaging_service_sid: TWILIO_MESSAGING_SID\n  }\n}];"
      },
      "id": "d-compose",
      "name": "Compose Demo Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2180, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.twilio_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twilioApi",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "To", "value": "={{ $json.demo_to }}" },
            { "name": "Body", "value": "={{ $json.final_reply_text }}" },
            { "name": "MessagingServiceSid", "value": "={{ $json.twilio_messaging_service_sid }}" }
          ]
        },
        "options": {}
      },
      "id": "d-twilio",
      "name": "Twilio - Send Reply SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2440, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Format clean demo response — zero $env.\nconst tw = $json;\nconst data = $('Compose Demo Reply').first().json;\n\nreturn [{\n  json: {\n    demo: true,\n    inbound_message: data.body,\n    from: data.from,\n    ai_reply: data.reply_text,\n    booking_intent: data.booking_intent,\n    service_type: data.service_type,\n    requested_time_text: data.requested_time_text || '',\n    needs_more_info: data.needs_more_info,\n    calendar_summary: data.calendar_summary,\n    calendar_status: data.calendar_status || 'skipped',\n    google_event_id: data.google_event_id || null,\n    google_event_link: data.google_event_link || null,\n    calendar_error_detail: data.calendar_error_detail || null,\n    twilio_to: data.demo_to,\n    twilio_message_sid: tw.sid || null,\n    twilio_status: tw.status || null,\n    twilio_error: tw.message || null,\n    model: 'gpt-4o-mini'\n  }\n}];"
      },
      "id": "d-format",
      "name": "Format Demo Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2700, 300]
    }
  ],
  "connections": {
    "Webhook - Demo SMS": {
      "main": [[{ "node": "Prepare AI Prompt", "type": "main", "index": 0 }]]
    },
    "Prepare AI Prompt": {
      "main": [[{ "node": "OpenAI - Generate Reply", "type": "main", "index": 0 }]]
    },
    "OpenAI - Generate Reply": {
      "main": [[{ "node": "Parse AI JSON", "type": "main", "index": 0 }]]
    },
    "Parse AI JSON": {
      "main": [[{ "node": "Calendar Prep", "type": "main", "index": 0 }]]
    },
    "Calendar Prep": {
      "main": [[{ "node": "Should Create Event?", "type": "main", "index": 0 }]]
    },
    "Should Create Event?": {
      "main": [
        [{ "node": "Google Calendar - Create Event", "type": "main", "index": 0 }],
        [{ "node": "Handle No Booking", "type": "main", "index": 0 }]
      ]
    },
    "Google Calendar - Create Event": {
      "main": [[{ "node": "Handle Calendar Result", "type": "main", "index": 0 }]]
    },
    "Handle Calendar Result": {
      "main": [[{ "node": "Compose Demo Reply", "type": "main", "index": 0 }]]
    },
    "Handle No Booking": {
      "main": [[{ "node": "Compose Demo Reply", "type": "main", "index": 0 }]]
    },
    "Compose Demo Reply": {
      "main": [[{ "node": "Twilio - Send Reply SMS", "type": "main", "index": 0 }]]
    },
    "Twilio - Send Reply SMS": {
      "main": [[{ "node": "Format Demo Response", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "versionId": "demo-sms-v7"
}
