n8n/workflows/TEST/wf007-lt-safe-log-test.json
{
  "id": "LT-WF-007-safe-log-test",
  "name": "LT Proteros: Safe Dashboard Log Test",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lt-safe-log-test",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "lt-safe-trigger",
      "name": "Webhook: LT Safe Log Test",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 400],
      "webhookId": "lt-safe-log-test"
    },
    {
      "parameters": {
        "jsCode": "// LT Safe Logging Test - static payload\n// No booking, no calendar, no SMS - dashboard logging only\nconst apiKey = $env.INTERNAL_API_KEY || '';\n\nreturn [{\n  json: {\n    apiKey: apiKey,\n    hasKey: !!apiKey,\n    tenantId: '7d82ab25-e991-4d13-b4ac-846865f8b85a',\n    customerPhone: '+37067577829',\n    inboundBody: 'LT safe logging test - no booking. Sveiki, noriu pasitikrinti ar sistema veikia.',\n    outboundBody: 'LT safe logging test - sistema veikia. Jokia registracija nesukurta.',\n    bookingDetected: false,\n    source: 'sms'\n  }\n}];"
      },
      "id": "lt-safe-payload",
      "name": "Build Static LT Test Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://autoshop-api-7ek9.onrender.com/internal/lt-log-conversation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-internal-key", "value": "={{ $json.apiKey }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tenantId: $json.tenantId, customerPhone: $json.customerPhone, inboundBody: $json.inboundBody, outboundBody: $json.outboundBody, bookingDetected: $json.bookingDetected, source: $json.source }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "lt-safe-http",
      "name": "POST to LT Dashboard Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [750, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst prevData = $('Build Static LT Test Payload').first().json;\nconst success = input.success === true;\n\nreturn [{\n  json: {\n    testResult: success ? 'PASSED' : 'FAILED',\n    hadApiKey: prevData.hasKey,\n    conversationId: input.conversationId || null,\n    messagesLogged: input.messagesLogged || 0,\n    bookingDetected: input.bookingDetected || false,\n    error: input.error || input.message || null,\n    httpStatusCode: input.statusCode || null,\n    rawResponse: input,\n    verifiedAt: new Date().toISOString(),\n    usaSafe: true,\n    bookingTriggered: false,\n    calendarTriggered: false\n  }\n}];"
      },
      "id": "lt-safe-verify",
      "name": "Verify Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "lt-safe-respond",
      "name": "Respond: Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [1250, 400]
    }
  ],
  "connections": {
    "Webhook: LT Safe Log Test": {
      "main": [
        [
          {
            "node": "Build Static LT Test Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Static LT Test Payload": {
      "main": [
        [
          {
            "node": "POST to LT Dashboard Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST to LT Dashboard Log": {
      "main": [
        [
          {
            "node": "Verify Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Response": {
      "main": [
        [
          {
            "node": "Respond: Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "errorWorkflow": ""
  },
  "active": true,
  "tags": [
    { "name": "LT_Proteros" },
    { "name": "test" },
    { "name": "safe-logging" }
  ]
}
