n8n/workflows/TEST/wf007-lt-safe-log-test.json
{
  "id": "LT-WF-007-safe-log-test",
  "name": "LT Proteros: Safe Dashboard Log Test",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lt-safe-log-test",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "lt-safe-trigger",
      "name": "Webhook: LT Safe Log Test",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 400],
      "webhookId": "lt-safe-log-test"
    },
    {
      "parameters": {
        "jsCode": "// LT Safe Logging Test - static payload\n// No booking, no calendar, no SMS - dashboard logging only\n//\n// The API key is read from n8n environment variable INTERNAL_API_KEY.\n// If not set in n8n Cloud Settings > Variables, this will fail with 403.\n\nconst apiKey = $env.INTERNAL_API_KEY || '';\n\nif (!apiKey) {\n  return [{\n    json: {\n      error: 'INTERNAL_API_KEY not set in n8n environment variables',\n      fix: 'Go to n8n Cloud Settings > Variables and set INTERNAL_API_KEY to the value from Render Dashboard',\n      blocked: true\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    apiKey: apiKey,\n    payload: {\n      tenantId: '7d82ab25-e991-4d13-b4ac-846865f8b85a',\n      customerPhone: '+37067577829',\n      inboundBody: 'LT safe logging test - no booking. Sveiki, noriu pasitikrinti ar sistema veikia.',\n      outboundBody: 'LT safe logging test - sistema veikia. Jokia registracija nesukurta.',\n      bookingDetected: false,\n      source: 'sms'\n    }\n  }\n}];"
      },
      "id": "lt-safe-payload",
      "name": "Build Static LT Test Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 400],
      "notes": "Static test payload for LT dashboard logging. Reads INTERNAL_API_KEY from n8n env. bookingDetected=false."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-has-key",
              "leftValue": "={{ $json.blocked }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEqual"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "lt-safe-check-key",
      "name": "Has API Key?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://autoshop-api-7ek9.onrender.com/internal/lt-log-conversation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-internal-key", "value": "={{ $json.apiKey }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "lt-safe-http",
      "name": "POST to LT Dashboard Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [950, 350],
      "continueOnFail": true,
      "notes": "Calls Render production endpoint. API key comes from n8n env via Code node."
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\nconst success = response.success === true;\nconst httpError = response.error || response.message || null;\n\nreturn [{\n  json: {\n    testResult: success ? 'PASSED' : 'FAILED',\n    conversationId: response.conversationId || null,\n    messagesLogged: response.messagesLogged || 0,\n    bookingDetected: response.bookingDetected || false,\n    error: httpError,\n    rawResponse: response,\n    verifiedAt: new Date().toISOString(),\n    usaSafe: true,\n    bookingTriggered: false,\n    calendarTriggered: false\n  }\n}];"
      },
      "id": "lt-safe-verify",
      "name": "Verify Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 350],
      "notes": "Checks HTTP response. Success = { success: true, conversationId: ... }"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "lt-safe-respond-ok",
      "name": "Respond: Test Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [1450, 350]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "lt-safe-respond-blocked",
      "name": "Respond: Blocked (No Key)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [950, 550]
    }
  ],
  "connections": {
    "Webhook: LT Safe Log Test": {
      "main": [
        [
          {
            "node": "Build Static LT Test Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Static LT Test Payload": {
      "main": [
        [
          {
            "node": "Has API Key?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has API Key?": {
      "main": [
        [
          {
            "node": "POST to LT Dashboard Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: Blocked (No Key)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST to LT Dashboard Log": {
      "main": [
        [
          {
            "node": "Verify Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Response": {
      "main": [
        [
          {
            "node": "Respond: Test Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "errorWorkflow": ""
  },
  "active": true,
  "tags": [
    { "name": "LT_Proteros" },
    { "name": "test" },
    { "name": "safe-logging" }
  ]
}
