n8n/workflows/TEST/wf007-lt-safe-log-test.json
{
  "id": "LT-WF-007-safe-log-test",
  "name": "LT Proteros: Safe Dashboard Log Test",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lt-safe-log-test",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "lt-safe-trigger",
      "name": "Webhook: LT Safe Log Test",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 400],
      "webhookId": "lt-safe-log-test"
    },
    {
      "parameters": {
        "jsCode": "// Step 1: Build payload and check env\nlet apiKey = '';\nlet envError = null;\ntry {\n  apiKey = $env.INTERNAL_API_KEY || '';\n} catch (e) {\n  envError = e.message;\n}\n\nreturn [{\n  json: {\n    step: 'payload_built',\n    hasKey: !!apiKey,\n    keyLength: apiKey.length,\n    envError: envError,\n    payload: {\n      tenantId: '7d82ab25-e991-4d13-b4ac-846865f8b85a',\n      customerPhone: '+37067577829',\n      inboundBody: 'LT safe logging test - no booking',\n      outboundBody: 'LT safe test response - no booking',\n      bookingDetected: false,\n      source: 'sms'\n    }\n  }\n}];"
      },
      "id": "lt-safe-payload",
      "name": "Build Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://autoshop-api-7ek9.onrender.com/internal/lt-log-conversation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-internal-key", "value": "={{ $('Build Payload').first().json.hasKey ? $env.INTERNAL_API_KEY : 'NO_KEY_SET' }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "lt-safe-http",
      "name": "POST to Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [750, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "lt-safe-respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [1000, 400]
    }
  ],
  "connections": {
    "Webhook: LT Safe Log Test": {
      "main": [
        [
          {
            "node": "Build Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Payload": {
      "main": [
        [
          {
            "node": "POST to Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST to Dashboard": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "errorWorkflow": ""
  },
  "active": true,
  "tags": [
    { "name": "LT_Proteros" },
    { "name": "test" },
    { "name": "safe-logging" }
  ]
}
